<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <app-content-header [contentHeader]="contentHeader"> </app-content-header>
    <div class="content-body">
      <section>
        <div class="card">
          <div class="card-body">
            <form [formGroup]="hsmFormView" class="form form-horizontal">
              <div class="form_content">
                <div class="">
                  <div class="d-flex">
                    <div class="form-group col-md-6">
                      <label for="UDUserName">Tên kết nối HSM</label>
                      <input
                        type="text"
                        formControlName="hsmName"
                        class="form-control"
                        readonly
                      />
                    </div>
                    <div class="form-group col-md-6">
                      <label for="UDUserName">Đường dẫn file thư viện</label>
                      <input
                        type="text"
                        formControlName="hsmLibraryPath"
                        class="form-control"
                        readonly
                      />
                    </div>
                  </div>
                  <div class="d-flex">
                    <div class="form-group col-md-6 justify-content-center d-flex">
                      <button
                        class="btn btn-primary"
                        [disabled] = "hsm!=null&&hsm.connect"
                        (click) = "connectHsm()"
                        rippleEffect
                      >
                        <i
                          data-feather="plus"
                          class="d-sm-none d-inline-block mr-0 mr-sm-1"
                        ></i
                        ><span class="d-none d-sm-inline-block">Kết nối</span>
                      </button>
                    </div>
                    <div class="form-group col-md-6 justify-content-center d-flex">
                      <button
                        class="btn btn-primary "
                        [disabled] ="hsm!=null&&!hsm.connect"
                        (click) = "connectHsm()"
                        rippleEffect
                      >
                        <i
                          data-feather="plus"
                          class="d-sm-none d-inline-block mr-0 mr-sm-1"
                        ></i
                        ><span class="d-none d-sm-inline-block">Ngắt kết nối</span>
                      </button>
                    </div>
                  </div>
                  <div class="" *ngIf="hsm!=null&&hsm.connect">
                    <div class="d-flex">
                      <div class="form-group col-md-6">
                        <label for="UDUserName">Model</label>
                        <input
                          type="text"
                          formControlName="hsmModel"
                          class="form-control"
                          readonly
                        />
                      </div>
                      <div class="form-group col-md-6">
                        <label for="UDUserName">Hãng sản xuất</label>
                        <input
                          type="text"
                          formControlName="manufacturerId"
                          class="form-control"
                          readonly
                        />
                      </div>
                    </div>
                    <div class="d-flex">
                      <div class="form-group col-md-6">
                        <label>Loại HSM</label>
                        <input
                          type="text"
                          formControlName="hsmType"
                          class="form-control"
                          readonly
                        />
                      </div>
                      <!-- <div class="form-group col-md-6">
                        <label>Chuẩn HSM</label>
                        <input
                          type="text"
                          formControlName="hsmForm"
                          class="form-control"
                          readonly
                        />
                      </div> -->
                    </div>
                    <div class="form-group col-md-12">
                      <label>Danh sách slot</label>
                      <div class="" *ngFor="let language of tokens; index as i">
                        <input
                          type="text"
                          value="{{ language.tokenName }}"
                          class="form-control"
                          readonly
                        />
                      </div>
                    </div>
                    <mat-progress-bar
                      *ngIf="isLoading"
                      mode="indeterminate"
                    ></mat-progress-bar>
                    <ngx-datatable
                      [rows]="rowsData"
                      class="bootstrap core-bootstrap cursor"
                      [columnMode]="ColumnMode.force"
                      [headerHeight]="50"
                      rowHeight="auto"
                      [scrollbarH]="true"
                      [footerHeight]="50"
                      [rowHeight]="50"
                      [loadingIndicator]="isLoading"
                      [selectionType]="'checkbox'"
                    >
                    
                  <ngx-datatable-column
                    name="TT"
                    [sortable]="false"
                    [canAutoResize]="false"
                    [width]="50"
                  >
                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex">
                      {{ pagedData.currentPage * pagedData.size + rowIndex + 1 }}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column
                    name="Số hiệu SLOT"
                    prop="slotNumber"
                    [width]="130"
                  ></ngx-datatable-column>
                  <ngx-datatable-column
                    name="Tên Slot"
                    prop="tokenName"
                    [width]="130"
                  ></ngx-datatable-column>
                  <ngx-datatable-column
                    name="Mật khẩu SO"
                    prop="passwordSO"
                    [width]="130"
                  ></ngx-datatable-column>
                  <ngx-datatable-column
                    name="MẬT KHẨU USER"
                    prop="passwordUser"
                    [width]="130"
                  ></ngx-datatable-column>
                  <ngx-datatable-column
                    name="SỐ CHỨNG THƯ SỐ"
                    prop="hsmId"
                    [width]="130"
                  ></ngx-datatable-column>
                  <ngx-datatable-column
                    name="SỐ KHÓA RIÊNG"
                    prop="privateKey"
                    [width]="130"
                  ></ngx-datatable-column>
                  <ngx-datatable-column
                    name="SỐ KHÓA BÍ MẬT"
                    prop="secretKey"
                    [width]="130"
                  ></ngx-datatable-column>
                      <ngx-datatable-footer>
                        <ng-template
                          ngx-datatable-footer-template
                          let-rowCount="rowCount"
                          let-pageSize="pageSize"
                          let-selectedCount="selectedCount"
                          let-curPage="curPage"
                          let-offset="offset"
                          let-isVisible="isVisible"
                        >
                          <div class="page-count" *ngIf="!isLoading">
                            Có tổng số
                            {{ rowCount.toLocaleString() }}
                            {{ totalMessage }} hàng.
                          </div>
                          <datatable-pager
                            [pagerLeftArrowIcon]="'datatable-icon-left'"
                            [pagerRightArrowIcon]="'datatable-icon-right'"
                            [pagerPreviousIcon]="'datatable-icon-prev'"
                            [pagerNextIcon]="'datatable-icon-skip'"
                            [page]="curPage"
                            [size]="pageSize"
                            [count]="rowCount"
                            [hidden]="!(rowCount / pageSize > 1)"
                            (change)="table.onFooterPage($event)"
                          >
                          </datatable-pager>
                        </ng-template>
                      </ngx-datatable-footer>
                    </ngx-datatable>

                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 offset-6">
                    <div class="d-flex justify-content-md-end m-1">
                      <app-return [buttonReturn]="buttonReturn"></app-return>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
