<div class="content-body">
    <!-- Keypair List -->
    <section class="users-list-wrapper">
        <!-- keypair filter start -->
        <div class="card">
            <h5 class="card-header">Bộ lọc tìm kiếm</h5>
            <div class="card-body">
                <form class="form form-vertical" [formGroup]="formListCertificateRequest">
                    <div class="row mb-1">
                        <div class="col-md-6">
                            <input name="distinguishedName" type="search" class="form-control" formControlName="inputSearch" placeholder="Một phần tên doanh nghiệp" />
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-12">
                            <button type="button" class="btn btn-outline-secondary mr-1" (click)="moreOption = !moreOption" rippleEffect>
								Thêm tùy chọn
			  				</button>
                            <button type="button" rippleEffect class="btn btn-primary" (click)="onSubmit()" [disabled]="!formListCertificateRequest.valid">
								Tìm kiếm
			  				</button>
                        </div>
                    </div>
                    <div class="row" [ngbCollapse]="moreOption">
                        <div class="col-md-2">
                            <label for="">Số dòng:</label>
                            <fieldset class="form-group">
                                <ng-select [items]="sizePage" suffix=" dòng" [clearable]="false" bindValue="sizePage" formControlName="sizePage" (change)="selectItem()"></ng-select>
                            </fieldset>
                        </div>
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-3">
                                    <label class="lable">Từ ngày:</label>
                                    <div class="input-group input-group-merge">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" (click)="fromDate.open()"><i data-feather="calendar"></i
									></span>
                                        </div>
                                        <input [matDatepicker]="fromDate" formControlName="fromDate" class="form-control" type="text" [min]="minDate" [max]="formListCertificateRequest.controls.toDate.value" placeholder="13/09/2021" />
                                    </div>
                                    <mat-datepicker #fromDate></mat-datepicker>
                                </div>
                                <div class="col-md-3">
                                    <label class="lable">Đến ngày:</label>
                                    <div class="input-group input-group-merge">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" (click)="toDate.open()"><i data-feather="calendar"></i
									></span>
                                        </div>
                                        <input [matDatepicker]="toDate" formControlName="toDate" class="form-control" type="text" [min]="formListCertificateRequest.controls.fromDate.value" placeholder="13/09/2021" />
                                    </div>

                                    <mat-datepicker #toDate></mat-datepicker>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- keypair filter end -->
        <div class="card">
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>TT</th>
                                    <th>MÃ YÊU CẦU CHỨNG THỰC</th>
                                    <th>DOANH NGHIỆP</th>
                                    <th>TÊN THUÊ BAO</th>
                                    <th>THUẬT TOÁN KÝ</th>
                                    <th>ĐỘ DÀI KHÓA</th>
                                    <th>TRẠNG THÁI</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of rows; let i = index">
                                    <td>{{ i + 1 }}</td>
                                    <td>{{ item.certificateRequestId }}</td>
                                    <td>{{ item.organizationName }}</td>
                                    <td>{{ item.subscribeName }}</td>
                                    <td>{{ item.keypairInformation.cryptoSystem }}</td>
                                    <td>{{ item.keypairInformation.keypairLength }}</td>
                                    <td>{{ item.keypairInformation.keypairStatus.keypairStatus }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-between align-items-center">
                <div class="col-xl-2 ml-1">
                    <div class="total_item">{{ rows.length }} dòng</div>
                </div>
                <div class="col-xl-6 mt-1 mr-1">
                    <ngb-pagination [collectionSize]="totalPages" [pageSize]="formListCertificateRequest.controls.sizePage.value" [(page)]="pageAdvancedEllipses" [maxSize]="3" [rotate]="true" [boundaryLinks]="true" (pageChange)="changePage($event)" class="d-flex justify-content-end">
                        <ng-template ngbPaginationFirst>Đầu</ng-template>
                        <ng-template ngbPaginationLast>Cuối</ng-template>
                    </ngb-pagination>
                </div>
            </div>
        </div>
    </section>
    <!--/ Keypair List -->
</div>