<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>
    <section>
      <div class="card">
        <h5 class="card-header">Bộ lọc tìm kiếm</h5>
        <div class="card-body">
          <form
            class="form form-vertical"
            [formGroup]="formListCertificateRequest"
          >
            <div class="row mb-1">
              <div class="col-md-4 mt-1">
                <input
                  name="contains"
                  id="contains"
                  type="search"
                  class="form-control"
                  formControlName="contains"
                  placeholder="Một phần tên, email, alias"
                />
              </div>
              <div class="col-3 col-md-2 mt-1">
                <button
                  type="button"
                  class="btn btn-secondary btn-outline-secondary col-12"
                  (click)="moreOption = !moreOption"
                  rippleEffect
                >
                  <i data-feather="plus" class="d-sm-none d-inline-block"></i>
                  <span class="d-none d-sm-inline-block">Tùy chọn</span>
                </button>
              </div>
              <div class="col-6 col-md-2 mt-1">
                <button
                  type="button"
                  rippleEffect
                  class="btn btn-primary"
                  (click)="
                    setPage({
                      offset: 0,
                      pageSize: formListCertificateRequest.controls.size
                    })
                  "
                  [disabled]="!formListCertificateRequest.valid"
                >
                  Tìm kiếm
                </button>
              </div>
            </div>
            <div class="row" [ngbCollapse]="moreOption">
              <div class="col-md-2">
                <label for="">Số dòng:</label>
                <fieldset class="form-group">
                  <ng-select
                    [items]="sizePage"
                    suffix=" dòng"
                    [clearable]="false"
                    bindValue="sizePage"
                    formControlName="size"
                    (change)="
                      setPage({
                        offset: 0,
                        pageSize: formListCertificateRequest.controls.size
                      })
                    "
                  ></ng-select>
                </fieldset>
              </div>
              <div class="col-md-8">
                <div class="row">
                  <div class="col-md-3">
                    <label class="lable">Từ ngày:</label>
                    <div class="input-group input-group-merge">
                      <div class="input-group-prepend">
                        <span class="input-group-text" (click)="fromDate.open()"
                          ><i data-feather="calendar"></i
                        ></span>
                      </div>
                      <input
                        [matDatepicker]="fromDate"
                        formControlName="fromDate"
                        class="form-control"
                        type="text"
                        [min]="minDate"
                        [max]="formListCertificateRequest.controls.toDate.value"
                        placeholder="13/09/2021"
                      />
                    </div>
                    <mat-datepicker #fromDate></mat-datepicker>
                  </div>
                  <div class="col-md-3">
                    <label class="lable">Đến ngày:</label>
                    <div class="input-group input-group-merge">
                      <div class="input-group-prepend">
                        <span class="input-group-text" (click)="toDate.open()"
                          ><i data-feather="calendar"></i
                        ></span>
                      </div>
                      <input
                        [matDatepicker]="toDate"
                        formControlName="toDate"
                        class="form-control"
                        type="text"
                        [min]="
                          formListCertificateRequest.controls.fromDate.value
                        "
                        placeholder="13/09/2021"
                      />
                    </div>

                    <mat-datepicker #toDate></mat-datepicker>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>

    <section>
      <div class="card">
        <div class="card-header d-block">
          <h4 class="card-title">Danh sách yêu cầu chứng thực</h4>
        </div>

        <div class="row">
          <div class="col-12 col-md-12 mb-1">
            <a
              [routerLink]="[
                '/apps/tm/certificate-request/certificate-request-new'
              ]"
            >
              <button type="button" rippleEffect class="btn btn-primary ml-1">
                <i data-feather="plus" class="d-sm-none d-inline-block"></i>
                <span class="d-none d-sm-inline-block">Tạo yêu cầu </span>
              </button>
            </a>
            <button class="btn btn-outline-secondary ml-50" rippleEffect>
              <i data-feather="trash-2" class="d-sm-none d-inline-block"></i>
              <span class="d-none d-sm-inline-block">Xóa yêu cầu </span>
            </button>
            <a [href]="listFileUrl" download="Danh sách yêu cầu chứng thực.txt">
              <button
                class="btn btn-outline-secondary ml-50"
                (click)="downloadList()"
                rippleEffect
              >
                <i data-feather="download" class="d-sm-none d-inline-block"></i>
                <span class="d-none d-sm-inline-block">Tải về</span>
              </button>
            </a>
            <button
              class="btn btn-outline-secondary float-right mr-1"
              rippleEffect
              (click)="exportCSV()"
            >
              <i data-feather="clipboard" class="d-sm-none d-inline-block"></i>
              <span class="d-none d-sm-inline-block">Xuất danh sách </span>
            </button>
          </div>
        </div>
        <mat-progress-bar
          *ngIf="isLoading"
          mode="indeterminate"
        ></mat-progress-bar>
        <ngx-datatable
          #tableRowDetails
          class="bootstrap core-bootstrap cursor material"
          [rows]="rowsData"
          [selected]="chkBoxSelected"
          (select)="customCheckboxOnSelect($event)"
          (select)="onSelect($event)"
          (activate)="onActivate($event)"
          [selectionType]="SelectionType.checkbox"
          [columnMode]="ColumnMode.force"
          [headerHeight]="50"
          rowHeight="auto"
          [scrollbarH]="true"
          [footerHeight]="50"
          [rowHeight]="50"
          [externalPaging]="true"
          [limit]="pagedData.size"
          [count]="pagedData.totalItems"
          [offset]="pagedData.currentPage"
          [loadingIndicator]="isLoading"
          (page)="setPage($event)"
        >
          <ngx-datatable-column
            [width]="50"
            [sortable]="false"
            [canAutoResize]="false"
            [draggable]="false"
            [resizeable]="false"
            class="ml-1"
            name="checkbox"
          >
            <ng-template
              ngx-datatable-header-template
              let-value="value"
              let-allRowsSelected="allRowsSelected"
              let-selectFn="selectFn"
            >
              <div
                class="custom-control custom-control-primary custom-checkbox"
              >
                <input
                  type="checkbox"
                  class="custom-control-input"
                  [checked]="allRowsSelected"
                  (change)="selectFn(!allRowsSelected)"
                  id="headerCustomChkbxRef"
                />
                <label
                  class="custom-control-label"
                  for="headerCustomChkbxRef"
                ></label>
              </div>
            </ng-template>
            <ng-template
              ngx-datatable-cell-template
              let-rowIndex="rowIndex"
              let-value="value"
              let-isSelected="isSelected"
              let-onCheckboxChangeFn="onCheckboxChangeFn"
            >
              <div
                class="custom-control custom-control-primary custom-checkbox"
              >
                <input
                  type="checkbox"
                  class="custom-control-input"
                  [checked]="isSelected"
                  (change)="onCheckboxChangeFn($event)"
                  id="rowCustomChkbxRef{{ rowIndex }}"
                />
                <label
                  class="custom-control-label"
                  for="rowCustomChkbxRef{{ rowIndex }}"
                ></label>
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column
            name="TT"
            [sortable]="false"
            [canAutoResize]="false"
            [width]="50"
          >
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex">
              {{ rowIndex + 1 }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column
            name="MÃ YÊU CẦU"
            prop="certificateRequestId"
            [width]="110"
          ></ngx-datatable-column>
          <ngx-datatable-column
            name="TRẠNG THÁI"
            prop="certificateRequestStatus"
            [width]="110"
          ></ngx-datatable-column>
          <ngx-datatable-column
            name="Subject DN"
            [width]="700"
            cellClass="myClass"
          >
            <ng-template
              ngx-datatable-cell-template
              let-row="row"
              let-rowIndex="rowIndex"
            >
              {{ row.subjectDN }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="KHÓA CÔNG KHAI" [width]="150">
            <ng-template
              ngx-datatable-cell-template
              let-row="row"
              let-rowIndex="rowIndex"
            >
              {{ row.algorithmPublickey }} , {{ row.sizePublicKey }}
              <!-- {{
              row.algorithmPublicKey.indexOf("RSA") > -1
                ? "RSA"
                : row.algorithmPublicKey.indexOf(
                    "ECDSA"
                  ) > -1
                ? "ECDSA"
                : row.algorithmPublicKey.indexOf(
                    "DSA"
                  ) > -1
                ? "DSA"
                : row.algorithmPublicKey.indexOf(
                    "Ed25519"
                  ) > -1
                ? "Ed25519"
                : "Ed448"
            }} -->
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column
            name="Hành động"
            [width]="100"
            [sortable]="false"
            prop=""
          >
            <ng-template
              ngx-datatable-cell-template
              let-row="row"
              let-value="value"
            >
              <div class="d-flex align-items-center">
                <div ngbDropdown container="body">
                  <a
                    ngbDropdownToggle
                    class="hide-arrow"
                    id="dropdownBrowserState"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    <i
                      data-feather="more-vertical"
                      class="text-primary cursor-pointer mr-50"
                    ></i>
                  </a>
                  <div
                    ngbDropdownMenu
                    class="dropdown-menu-right"
                    aria-labelledby="dropdownBrowserState"
                  >
                    <a
                      [routerLink]="[
                        '/apps/tm/certificate-request/',
                        'certificate-request-view',
                        value.certificateRequestId
                      ]"
                      ngbDropdownItem
                      class="d-flex align-items-center"
                      ><i data-feather="file-text" class="mr-50"></i> Chi tiết
                    </a>
                    <a ngbDropdownItem class="d-flex align-items-center"
                    (click)="openConfirmDelete(value.certificateRequestId)"
                      ><i data-feather="trash-2" class="mr-50"></i> Xóa</a
                    >
                    <a
                      [href]="row.fileUrl"
                      [download]="row.fileName"
                      ngbDropdownItem
                      class="d-flex align-items-center"
                      (click)="downloadSidebar(row)"
                      ><i data-feather="download" class="mr-50"></i>Tải dữ
                      liệu</a
                    >
                  </div>
                </div>
                <i data-feather="edit" class="text-primary cursor-pointer"></i>
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-footer>
            <ng-template
              ngx-datatable-footer-template
              let-rowCount="rowCount"
              let-pageSize="pageSize"
              let-selectedCount="selectedCount"
              let-curPage="curPage"
              let-offset="offset"
              let-isVisible="isVisible"
            >
              <div class="page-count" *ngIf="!isLoading">
                <span *ngIf="chkBoxSelected">
                  Đã chọn {{ chkBoxSelected.length }} /
                </span>
                {{ rowCount.toLocaleString() }} {{ totalMessage }} hàng.
              </div>
              <datatable-pager
                [pagerLeftArrowIcon]="'datatable-icon-left'"
                [pagerRightArrowIcon]="'datatable-icon-right'"
                [pagerPreviousIcon]="'datatable-icon-prev'"
                [pagerNextIcon]="'datatable-icon-skip'"
                [page]="curPage"
                [size]="pageSize"
                [count]="rowCount"
                [hidden]="!(rowCount / pageSize > 1)"
                (change)="table.onFooterPage($event)"
              >
              </datatable-pager>
            </ng-template>
          </ngx-datatable-footer>
        </ngx-datatable>
        <div class="row">
          <div class="col-md-12 mb-1">
            <a
              [routerLink]="[
                '/apps/tm/certificate-request/certificate-request-new'
              ]"
            >
              <button type="button" rippleEffect class="btn btn-primary ml-1">
                <i data-feather="plus" class="d-sm-none d-inline-block"></i>
                <span class="d-none d-sm-inline-block">Tạo yêu cầu </span>
              </button>
            </a>
            <button class="btn btn-outline-secondary ml-50" rippleEffect>
              <i data-feather="trash-2" class="d-sm-none d-inline-block"></i>
              <span class="d-none d-sm-inline-block">Xóa yêu cầu </span>
            </button>
            <button
              class="btn btn-outline-secondary ml-50"
              rippleEffect
              (click)="downloadList()"
            >
              <i data-feather="download" class="d-sm-none d-inline-block"></i>
              <span class="d-none d-sm-inline-block">Tải về</span>
            </button>

            <button
              class="btn btn-outline-secondary float-right mr-1"
              rippleEffect
              (click)="exportCSV()"
            >
              <i data-feather="clipboard" class="d-sm-none d-inline-block"></i>
              <span class="d-none d-sm-inline-block">Xuất danh sách </span>
            </button>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
