<div class="content-body">
    <!-- Keypair List -->
    <section class="users-list-wrapper">
        <!-- keypair filter start -->
        <div class="card">
            <h5 class="card-header">Bộ lọc tìm kiếm</h5>
            <div class="card-body">
                <form class="form form-vertical" [formGroup]="formListCertificateRequest">
                    <div class="row mb-1">
                        <div class="col-md-6">
                            <input name="distinguishedName" id="distinguishedName" type="search" class="form-control" formControlName="distinguishedName" placeholder="Một phần DN" />
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-12">
                            <button type="button" class="btn btn-outline-secondary mr-1" (click)="moreOption = !moreOption" rippleEffect>
                tùy chọn
              </button>
                            <button type="button" rippleEffect class="btn btn-primary" (click)="onSubmit()" [disabled]="!formListCertificateRequest.valid">
                Tìm kiếm
              </button>
                        </div>
                    </div>
                    <div class="row" [ngbCollapse]="moreOption">
                        <div class="col-md-2">
                            <label for="">Số dòng:</label>
                            <fieldset class="form-group">
                                <ng-select [items]="sizePage" suffix=" dòng" [clearable]="false" formControlName="sizePage"></ng-select>
                            </fieldset>
                        </div>
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group inline">
                                        <label for="">Từ ngày</label>
                                        <small class="text-danger" *ngIf="formListCertificateRequest.controls['fromDate']?.errors&&formListCertificateRequest.controls['fromDate'].touched">
                    Bạn chưa nhập tên</small>
                                        <div class="input-group">
                                            <input name="datepicker" class="form-control" ngbDatepicker placeholder="yyyy-mm-dd" #rangeSelectionDP="ngbDatepicker" [autoClose]="'outside'" (dateSelect)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden" [startDate]="fromDate!"
                                                [value]="formatter.format(today)" formControlName="fromDate" />
                                            <ng-template #t let-date let-focused="focused">
                                                <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)" [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date" (mouseleave)="hoveredDate = null">
                          {{ date.day }}
                        </span>
                                            </ng-template>
                                            <div class="input-group-append">
                                                <button class="
                            btn btn-outline-secondary
                            feather
                            icon-calendar
                          " (click)="rangeSelectionDP.toggle()" type="button" rippleEffect></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="">Đến ngày</label>
                                        <div class="input-group">
                                            <input #dpToDate class="form-control" placeholder="yyyy-mm-dd" name="dpToDate" [value]="formatter.format(toDate)" formControlName="toDate" />
                                            <div class="input-group-append">
                                                <button class="
                            btn btn-outline-secondary
                            feather
                            icon-calendar
                          " (click)="rangeSelectionDP.toggle()" type="button" rippleEffect></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- keypair filter end -->
        <div class="card">
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>TT</th>
                                    <th>MÃ YÊU CẦU CHỨNG THỰC</th>
                                    <th>DN</th>
                                    <th>TÊN THUÊ BAO</th>
                                    <th>THUẬT TOÁN KÝ</th>
                                    <th>ĐỘ DÀI KHÓA</th>
                                    <th>TRẠNG THÁI</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of list; let i = index">
                                    <td>{{ i + 1 }}</td>
                                    <td>{{ item.certificateRequestId}}</td>
                                    <td></td>
                                    <td></td>
                                    <td>{{ item.keypairInformation.cryptoSystem }}</td>
                                    <td>{{ item.keypairInformation.keypairLength }}</td>
                                    <td>{{ item.keypairInformation.keypairStatus.keypairStatus }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 offset-6 mt-1">
                    <ngb-pagination class="d-flex justify-content-end" [pageSize]="selectedOption" [collectionSize]="total" [(page)]="pageNo" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true" (pageChange)="load($event)">
                        <ng-template ngbPaginationFirst>Trang đầu</ng-template>
                        <ng-template ngbPaginationPrevious><span [data-feather]="'chevron-left'" [class]="'font-weight-bolder'"></span>Trang trước
                        </ng-template>
                        <ng-template ngbPaginationNext>Trang sau<span [data-feather]="'chevron-right'" [class]="'font-weight-bolder'"></span>
                        </ng-template>
                        <ng-template ngbPaginationLast>Trang cuối</ng-template>
                    </ngb-pagination>
                </div>
            </div>
        </div>
    </section>
    <!--/ Keypair List -->
</div>