<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <section id="profile-header">
      <div class="profile-header">
        <app-content-header
          [contentHeader]="contentHeader"
        ></app-content-header>
        <!-- search profile -->
      </div>
    </section>
    <section>
      <div class="card pb-1">
        <h5 class="card-header">Bộ lọc tìm kiếm</h5>
        <div class="card-body pb-1">
          <form class="form form-vertical" [formGroup]="formListToken">
            <div class="row">
              <div class="col-6 col-md-2">
                <div class="form-group">
                  <label>Kết nối HSM</label>
                  <ng-select
                    [items]="hsmList"
                    bindLabel="hsmName"
                    [clearable]="false"
                    formControlName="hsmInformationId"
                    (change)="changeHSM($event)"
                  >
                  </ng-select>
                  <!-- <div
                    *ngIf="
                      (f.hsmInformationId.errors &&
                        f.hsmInformationId?.touched) ||
                      (submitted && f.hsmInformationId?.errors?.required)
                    "
                    class="invalid-feedback"
                  >
                    <div *ngIf="f.hsmInformationId.errors.required">
                      Bạn cần chọn HSM
                    </div>
                  </div> -->
                </div>
              </div>
              <div class="col-6 col-md-4 mt-2">
                <fieldset class="form-group">
                  <input
                    name="contains"
                    id="contains"
                    type="search"
                    class="form-control"
                    formControlName="contains"
                    placeholder="Một phần tên hãng, tên model"
                  />
                </fieldset>
              </div>
              <div class="col-3 col-md-2 mt-2">
                <button
                  type="button"
                  class="btn btn-secondary btn-lighten-2 btn-outline-secondary col-12"
                  (click)="moreOption = !moreOption"
                  rippleEffect
                >
                  <i data-feather="plus" class="d-sm-none d-inline-block"></i
                  ><span class="d-none d-sm-inline-block">Tùy chọn</span>
                </button>
              </div>
              <div class="col-6 col-md-2 mt-2">
                <button
                  type="button"
                  rippleEffect
                  class="btn btn-primary"
                  (click)="
                    setPage({
                      offset: 0,
                      pageSize: formListToken.controls.size
                    })
                  "
                  [disabled]="!formListToken.valid"
                >
                  Tìm kiếm
                </button>
              </div>
            </div>
            <div class="row" [ngbCollapse]="moreOption">
              <div class="col-md-2">
                <label for="">Số dòng:</label>
                <fieldset class="form-group">
                  <ng-select
                    [items]="sizePage"
                    [clearable]="false"
                    formControlName="size"
                    (change)="
                      setPage({
                        offset: 0,
                        pageSize: formListToken.controls.size
                      })
                    "
                  ></ng-select>
                </fieldset>
              </div>
              <div class="col-md-8">
                <div class="row">
                  <div class="col-md-3">
                    <label class="lable">Từ ngày:</label>
                    <div class="input-group input-group-merge">
                      <div class="input-group-prepend">
                        <span class="input-group-text" (click)="fromDate.open()"
                          ><i data-feather="calendar"></i
                        ></span>
                      </div>
                      <input
                        [matDatepicker]="fromDate"
                        formControlName="fromDate"
                        class="form-control"
                        type="text"
                        [min]="minDate"
                        [max]="formListToken.controls.toDate.value"
                        placeholder="13/09/2021"
                      />
                    </div>
                    <mat-datepicker #fromDate></mat-datepicker>
                  </div>
                  <div class="col-md-3">
                    <label class="lable">Đến ngày:</label>
                    <div class="input-group input-group-merge">
                      <div class="input-group-prepend">
                        <span class="input-group-text" (click)="toDate.open()"
                          ><i data-feather="calendar"></i
                        ></span>
                      </div>
                      <input
                        [matDatepicker]="toDate"
                        formControlName="toDate"
                        class="form-control"
                        type="text"
                        [min]="formListToken.controls.fromDate.value"
                        placeholder="13/09/2021"
                      />
                    </div>

                    <mat-datepicker #toDate></mat-datepicker>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>

    <section id="table-hsm-list">
      <div class="card">
        <div class="card-header py-1">
          <h4 class="card-title">Danh sách Slot </h4>
        </div>
        <div class="row">
          <div class="col-md-12 mb-50">
            <button
              class="btn btn-primary ml-2"
              [routerLink]="['../', 'token-create']"
              rippleEffect
            >
              <i
                data-feather="plus"
                class="d-sm-none d-inline-block mr-0 mr-sm-1"
              ></i
              ><span class="d-none d-sm-inline-block">Tạo Slot</span>
            </button>
            <button
              csvLink
              class="btn btn-outline-secondary ml-1"
              rippleEffect
              (click)="deleteToken()"
              disabled
            >
              <i data-feather="trash-2" class="d-sm-none d-inline-block"></i>
              <span class="d-none d-sm-inline-block">Xóa</span>
            </button>
            <a
              csvLink
              class="btn btn-outline-secondary float-right mr-1"
              rippleEffect
              (click)="exportCSV()"
              >Xuất danh sách Slot</a
            >
          </div>
        </div>
        <mat-progress-bar
          *ngIf="isLoading"
          mode="indeterminate"
        ></mat-progress-bar>
        <h3 class="m-1" *ngIf="tokenNull">Chưa có token được quản lý bởi Slot</h3>
        <ngx-datatable
          *ngIf="tokenNotNull"
          #tableRowDetails
          [rows]="rowsData"
          class="bootstrap core-bootstrap cursor"
          [columnMode]="ColumnMode.force"
          [headerHeight]="50"
          rowHeight="auto"
          [scrollbarH]="true"
          [footerHeight]="50"
          [rowHeight]="50"
          [externalPaging]="true"
          [limit]="pagedData.size"
          [count]="pagedData.totalItems"
          [offset]="pagedData.currentPage"
          [loadingIndicator]="isLoading"
          [selectionType]="'checkbox'"
          (page)="setPage($event)"
          (activate)="onActivate($event)"
          (select)="onSelect($event)"
        >
          <ngx-datatable-column
            [width]="50"
            [sortable]="false"
            [canAutoResize]="false"
            [draggable]="false"
            [resizeable]="false"
            class="ml-1"
            name="checkbox"
          >
            <ng-template
              ngx-datatable-header-template
              let-value="value"
              let-allRowsSelected="allRowsSelected"
              let-selectFn="selectFn"
            >
              <div
                class="custom-control custom-control-primary custom-checkbox"
              >
                <input
                  type="checkbox"
                  class="custom-control-input"
                  [checked]="allRowsSelected"
                  (change)="selectFn(!allRowsSelected)"
                  id="headerCustomChkbxRef"
                />
                <label
                  class="custom-control-label"
                  for="headerCustomChkbxRef"
                ></label>
              </div>
            </ng-template>
            <ng-template
              ngx-datatable-cell-template
              let-rowIndex="rowIndex"
              let-value="value"
              let-isSelected="isSelected"
              let-onCheckboxChangeFn="onCheckboxChangeFn"
            >
              <div
                class="custom-control custom-control-primary custom-checkbox"
              >
                <input
                  type="checkbox"
                  class="custom-control-input"
                  [checked]="isSelected"
                  (change)="onCheckboxChangeFn($event)"
                  id="rowCustomChkbxRef{{ rowIndex }}"
                />
                <label
                  class="custom-control-label"
                  for="rowCustomChkbxRef{{ rowIndex }}"
                ></label>
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column
            name="TT"
            [sortable]="false"
            [canAutoResize]="false"
            [width]="50"
          >
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex">
              {{  rowIndex + 1 }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column
            name="Số hiệu SLOT"
            prop="slotNumber"
            [width]="100"
          ></ngx-datatable-column>
          <ngx-datatable-column
            name="Tên Slot"
            prop="tokenName"
            [width]="130"
          ></ngx-datatable-column>
          <ngx-datatable-column
            name="Mật khẩu SO"
            prop="tokenInitialized"
            [width]="130"
          >
            <ng-template let-value="value" ngx-datatable-cell-template>
              <div
                class="badge badge-pill"
                [ngClass]="
                  value === true ? 'badge-light-success' : 'badge-light-danger'
                "
              >
                {{ value === true ? 'Đã khởi tạo' : 'Chưa khởi tạo' }}
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column
            name="MẬT KHẨU USER"
            prop="userPinInitialized"
            [width]="150"
          >
          <ng-template
          let-value="value"
          ngx-datatable-cell-template
        >
          <div
            class="badge badge-pill"
            [ngClass]="
              value === true
                ? 'badge-light-success'
                : 'badge-light-danger'
            "
          >
            {{ value === true ? 'Đã khởi tạo' : 'Chưa khởi tạo' }}
          </div>
        </ng-template>
        </ngx-datatable-column>
          <ngx-datatable-column
            name="SỐ CHỨNG THƯ SỐ"
            prop="hsmId"
            [width]="130"
          ></ngx-datatable-column>
          <ngx-datatable-column
            name="SỐ KHÓA RIÊNG"
            prop="privateKey"
            [width]="120"
          ></ngx-datatable-column>
          <ngx-datatable-column
            name="SỐ KHÓA BÍ MẬT"
            prop="publicKey"
            [width]="120"
          ></ngx-datatable-column>
          <ngx-datatable-column
            name="Hành động"
            [width]="100"
            [sortable]="false"
            prop=""
          >
            <ng-template
              ngx-datatable-cell-template
              let-value="value"
              let-row="row"
              let-rowIndex="rowIndex"
            >
              <div class="d-flex align-items-center">
                <div ngbDropdown container="body">
                  <a
                    ngbDropdownToggle
                    href="javascript:void(0);"
                    class="hide-arrow"
                    id="dropdownBrowserState"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    <i
                      data-feather="more-vertical"
                      class="text-primary cursor-pointer mr-50"
                    ></i>
                  </a>
                  <div
                    ngbDropdownMenu
                    class="dropdown-menu-right"
                    aria-labelledby="dropdownBrowserState"
                  >
                    <a
                      ngbDropdownItem
                      [routerLink]="['../', 'token-view', value.tokenId]"
                      class="d-flex align-items-center"
                      ><i data-feather="file-text" class="mr-50"></i> Tạo
                      SLOT</a
                    >
                    <!-- <a
                      ngbDropdownItem
                      (click)="openRenameToken(tokenRename,row)"
                      class="d-flex align-items-center"
                      ><i data-feather="edit" class="mr-50"></i> Đổi tên slot
                    </a> -->

                    <!-- <a
                      ngbDropdownItem
                      (click)="toggleSidebar(modalTokenPassWordForm, row)"
                      class="d-flex align-items-center"
                      ><i data-feather="file-text" class="mr-50"></i> Đổi mật
                      khẩu SO</a
                    > -->
                    <a
                      ngbDropdownItem
                      (click)="toggleSidebar(modalUserPassWordForm, row)"
                      class="d-flex align-items-center"
                      ><i data-feather="file-text" class="mr-50"></i> Đổi mật
                      khẩu User</a
                    >
                    <a
                      ngbDropdownItem
                      [routerLink]="['../', 'token-view', value.tokenId]"
                      class="d-flex align-items-center"
                      ><i data-feather="file-text" class="mr-50"></i> Xem chi
                      tiết</a
                    >
                    <!-- <a
                      ngbDropdownItem
                      [routerLink]="['../', 'token-view', value.tokenId]"
                      class="d-flex align-items-center"
                      ><i data-feather="file-text" class="mr-50"></i> Chi
                      tiết</a
                    >

                    
                    <a
                      href="javascript:void(0)"
                      ngbDropdownItem
                      (click)="toggleSidebar(modalTokenPassWordForm, row)"
                      class="d-flex align-items-center"
                      ><i data-feather="lock" class="mr-50"></i> Đổi mật
                      khẩu</a
                    >
                    <a
                      href="javascript:void(0)"
                      ngbDropdownItem
                      class="d-flex align-items-center"
                      ><i data-feather="trash-2" class="mr-50"></i> Xóa</a
                    > -->

                    <!-- <a
                      href="javascript:void(0)"
                      ngbDropdownItem
                      class="d-flex align-items-center"
                      (click)="removeToken(value.tokenId)"
                      ><i data-feather="trash-2" class="mr-50"></i> Xóa</a
                    > -->
                  </div>
                </div>
                <i data-feather="edit" class="text-primary cursor-pointer"></i>
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-footer>
            <ng-template
              ngx-datatable-footer-template
              let-rowCount="rowCount"
              let-pageSize="pageSize"
              let-selectedCount="selectedCount"
              let-curPage="curPage"
              let-offset="offset"
              let-isVisible="isVisible"
            >
              <div class="page-count" *ngIf="!isLoading">
                Có tổng số
                {{ rowCount.toLocaleString() - 1 }} slot đã khởi tạo / {{slotNumber}} slot.
              </div>
              <datatable-pager
                [pagerLeftArrowIcon]="'datatable-icon-left'"
                [pagerRightArrowIcon]="'datatable-icon-right'"
                [pagerPreviousIcon]="'datatable-icon-prev'"
                [pagerNextIcon]="'datatable-icon-skip'"
                [page]="curPage"
                [size]="pageSize"
                [count]="rowCount"
                [hidden]="true"
                (change)="table.onFooterPage($event)"
              >
              </datatable-pager>
            </ng-template>
          </ngx-datatable-footer>
        

        </ngx-datatable>
        <div class="row">
          <div class="col-md-12 mb-50">
            <button
              class="btn btn-primary ml-2"
              [routerLink]="['../', 'token-create']"
              rippleEffect
            >
              <i
                data-feather="plus"
                class="d-sm-none d-inline-block mr-0 mr-sm-1"
              ></i
              ><span class="d-none d-sm-inline-block">Tạo Slot</span>
            </button>
            <button
              csvLink
              class="btn btn-outline-secondary ml-1"
              rippleEffect
              (click)="deleteToken()"
              disabled
            >
              <i data-feather="trash-2" class="d-sm-none d-inline-block"></i>
              <span class="d-none d-sm-inline-block">Xóa</span>
            </button>
            <a
              csvLink
              class="btn btn-outline-secondary float-right mr-1"
              rippleEffect
              (click)="exportCSV()"
              >Xuất danh sách Slot </a
            >
          </div>
        </div>
      </div>
      <ng-template #modalTokenPassWordForm let-modal>
        <div class="modal-header">
          <button
            type="button"
            class="close btn-primary"
            (click)="modal.close()"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" tabindex="0" ngbAutofocus>
          <!-- <app-token-edit [token]="item" (onUpdate)="updateTableRename()"></app-token-edit> -->
          <app-token-password [tokenDetail]="item"></app-token-password>
        </div>
      </ng-template>
      <ng-template #modalUserPassWordForm let-modal>
        <div class="modal-header">
          <button
            type="button"
            class="close btn-primary"
            (click)="modal.close()"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" tabindex="0" ngbAutofocus>
          <!-- <app-token-edit [token]="item" (onUpdate)="updateTableRename()"></app-token-edit> -->
          <app-token-password-user
            [tokenDetail]="item"
          ></app-token-password-user>
        </div>
      </ng-template>
      <ng-template #tokenRename let-modal>
        <div class="modal-header">
          <button
            type="button"
            class="close btn-primary"
            (click)="modal.close()"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" tabindex="0" ngbAutofocus>
          <app-token-edit
            [token]="item"
            (onUpdate)="updateTableRename()"
          ></app-token-edit>
        </div>
      </ng-template>
    </section>
  </div>
</div>
