<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <section id="profile-header">
      <div class="profile-header">
        <app-content-header
          [contentHeader]="contentHeader"
        ></app-content-header>
        <!-- search profile -->
      </div>
    </section>
    <section>
      <div class="card pb-1">
        <h5 class="card-header">Bộ lọc tìm kiếm</h5>
        <div class="card-body pb-1">
          <form class="form form-vertical" [formGroup]="formListToken">
            <div class="row">
              <div class="col-md-4">
                <fieldset class="form-group">
                  <input
                    name="contains"
                    id="contains"
                    type="search"
                    class="form-control"
                    formControlName="contains"
                    placeholder="Một phần tên hãng, tên model"
                  />
                </fieldset>
              </div>
              <div class="col-md-2">
                <button
                  type="button"
                  class="btn btn-secondary btn-lighten-2 btn-outline-secondary col-12"
                  (click)="moreOption = !moreOption"
                  rippleEffect
                >
                  Tùy chọn
                </button>
              </div>
              <div class="col-md-2">
                <button
                  type="button"
                  rippleEffect
                  class="btn btn-primary"
                  (click)="setPage({ offset: 0, pageSize:  formListToken.controls.size  })"
                  [disabled]="!formListToken.valid"
                >
                  Tìm kiếm
                </button>
              </div>
            </div>
            <div class="row" [ngbCollapse]="moreOption">
              <div class="col-md-2">
                <label for="">Số dòng:</label>
                <fieldset class="form-group">
                  <ng-select
                    [items]="sizePage"
                    [clearable]="false"
                    formControlName="size"
                    (change)="setPage({ offset: 0, pageSize:  formListToken.controls.size  })"
                  ></ng-select>
                </fieldset>
              </div>
              <div class="col-md-8">
                <div class="row">
                  <div class="col-md-3">
                    <label class="lable">Từ ngày:</label>
                    <div class="input-group input-group-merge">
                      <div class="input-group-prepend">
                        <span class="input-group-text" (click)="fromDate.open()"
                          ><i data-feather="calendar"></i
                        ></span>
                      </div>
                      <input
                        [matDatepicker]="fromDate"
                        formControlName="fromDate"
                        class="form-control"
                        type="text"
                        [min]="minDate"
                        [max]="formListToken.controls.toDate.value"
                        placeholder="13/09/2021"
                      />
                    </div>
                    <mat-datepicker #fromDate></mat-datepicker>
                  </div>
                  <div class="col-md-3">
                    <label class="lable">Đến ngày:</label>
                    <div class="input-group input-group-merge">
                      <div class="input-group-prepend">
                        <span class="input-group-text" (click)="toDate.open()"
                          ><i data-feather="calendar"></i
                        ></span>
                      </div>
                      <input
                        [matDatepicker]="toDate"
                        formControlName="toDate"
                        class="form-control"
                        type="text"
                        [min]="formListToken.controls.fromDate.value"
                        placeholder="13/09/2021"
                      />
                    </div>

                    <mat-datepicker #toDate></mat-datepicker>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>


  </div>
</div>
