@import '@core/scss/angular/libs/datatables.component.scss';
@import '@core/scss/angular/libs/select.component.scss';
@import '@core/scss/base/pages/ui-feather.scss';
@import '@core/scss/base/pages/app-user.scss';
.select_subcribers-header{
    display: flex;
    align-items: center;
    // justify-content: center;
}
p{
    margin: 0;
}
.home_icon{
    margin-bottom: 4px;
}
.subcribers-header_side{
    margin-left: 20px;
    display: flex;
    align-items: center;
}
.select_subcribers{
    display: flex;
    align-items: center;
    // justify-content: center;
}
.select_button{
    display: flex;
    background-color: white;
    border-radius: 5px;
    padding: 20px;

    flex-direction: column;
}
.select_subcribers-title{
    margin-right: 20px;
    font-size: 20px;
}
.btn-outline-primary{
    margin: 10px 0;
}
.btn-outline-primary:focus{
 background-color: #7367F0 !important;
color: white !important;
}
.card-body{
    padding-left: 0;
}
.form-group label{
    font-size: 15px;
    margin-bottom: 10px;
}
.select_subcribers-wrap{
    display: flex;
    align-items: center;
}
.select_subcribers-wrap label{
    width: 50%;
}
.select_subcribers-wrap select{
    background-color:#7367F0;
    color: white;
}

// background-image: linear-gradient(
// 47deg
// , #7367f0, #9e95f5);