<!-- <div class="select_subcribers-header">
    <h1>Tìm kiếm</h1>
    <div class="subcribers-header_side">
        <a href="" class="home_icon"><span [data-feather]="'home'" [class]="'mr-25'"></span></a>
        
        <span [data-feather]="'chevron-right'" [class]="'mr-25'"></span>
        <a href="">Thuê bao</a>
        <span [data-feather]="'chevron-right'" [class]="'mr-25'"></span>
        <p>Tìm kiếm</p>
    </div>
</div> -->

<!-- <div class="select_subcribers">
    <p class="select_subcribers-title">loại thuê bao :</p>
    <div class="card-body col-md-5">
       <div class="form-group select_subcribers-wrap">
        <label for="basicSelect">Loại thuê bao :</label>
        <select class="form-control" id="basicSelect" (change) = "selectSubcriber($event)">
          <option value="thuê bao cá nhân">THUÊ BAO CÁ NHÂN</option>
          <option value="thuê bao tổ chức">THUÊ BAO TỔ CHỨC</option>
        </select>
      </div>
    </div>
    
</div> -->


<!-- <app-personal-list *ngIf = "subcriberP"></app-personal-list>
<app-organization-list *ngIf = "subcriberO"></app-organization-list> -->

<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>
    <section id="search-token-management" class="row">
      <div class="col-md-6">
        <form class="form form-horizontal" [formGroup]="formSelectSearch">
          <div class="row">
            <div class="col-12">
              <div class="form-group row">
                <div class="col-sm-3 col-form-label">
                  <h5>Loại tìm kiếm:</h5>
                </div>
                <div class="col-sm-9">
                  <ng-select
                    [items]="searchType"
                    bindLabel="name"
                    placeholder="Chọn loại tìm kiếm"
                    formControlName="searchType"
                  >
                  </ng-select>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </section>

    <section>
      <app-personal-list></app-personal-list>
    </section>
  </div>
</div>
