<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>
    <section id="search-token-management" class="row">
      <div class="col-md-6">
        <form class="form form-horizontal" [formGroup]="formSelectSearch">
          <div class="row">
            <div class="col-12">
              <div class="form-group row">
                <div class="col-sm-3 col-form-label">
                  <h5>Loại thuê bao:</h5>
                </div>
                <div class="col-sm-6">
                  <ng-select
                    [items]="searchType"
                    bindLabel="name"
                    placeholder="Chọn loại tìm kiếm"
                    formControlName="searchType"
                  >
                  </ng-select>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </section>
    <section
      id="search-content"
      *ngIf="formSelectSearch.valid"
      [ngSwitch]="formSelectSearch.controls['searchType'].value.key"
    >
      <div *ngSwitchCase="'Tổ chức'">
        <app-organization-list></app-organization-list>
      </div>
      <div *ngSwitchCase="'Cá nhân'">
        <app-personal-list></app-personal-list>
      </div>
      <div *ngSwitchCase="'Thiết bị/dịch vụ'">
        <app-service-list></app-service-list>
      </div>
    </section>
  </div>
</div>
<!-- <app-new-personal-sidebar></app-new-personal-sidebar> -->
