<div class="modal-header">
  <h4 class="modal-title" id="myModalLabel1">
    Chi tiết chứng thư số của thuê bao : {{ personalFullName }}
  </h4>
</div>

<div class="modal-body" tabindex="0" ngbAutofocus>
  <section>
    <!-- thông tin người dùng -->
    <core-card [actions]="['collapse']">
      <h6 class="card-title"><b>Thông tin người dùng</b></h6>
      <div class="card-body">
        <form class="form form-horizontal ml-1">
          <div class="row">
            <div class="col-sm-5 ">
              <label class="card-title">Tên tài khoản</label>
            </div>
            <div class="col-sm-7">
              <p><b>{{userName}}</b></p>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-5">
              <label class="card-title">Tên thuê bao</label>
            </div>
            <div class="col-sm-7">
              <p><b>{{personalFullName}}</b></p>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-5">
              <label class="card-title">Email</label>
            </div>
            <div class="col-sm-7">
              <p><b>{{personalEmail}}</b></p>
            </div>
          </div>
        </form>
      </div>
    </core-card>
    <!-- thông tin chứng thư số -->
    <core-card [actions]="['collapse']">
      <h6 class="card-title"><b>Thông tin chứng thư số</b></h6>
      <div class="card-body ml-1">
        <form class="form form-horizontal">
          <div class="row">
            <div class="col-sm-5">
              <label class="card-title">Version</label>
            </div>
            <div class="col-sm-7">
              <p>
                <b>{{ version }}</b>
              </p>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-5">
              <label class="card-title">Serial number</label>
            </div>
            <div class="col-sm-7">
              <p>
                <b>{{ serialNumber }}</b>
              </p>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-5">
              <label class="card-title">Signature algorithm</label>
            </div>
            <div class="col-sm-7">
              <p>
                <b>{{ sigAlgName }}</b>
              </p>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-5">
              <label class="card-title">Signature hash algorithm</label>
            </div>
            <div class="col-sm-7">
              <p >
                <b>{{ this.signatureHashAlgorithm }}</b>
              </p>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-5">
              <label class="card-title">Issuer</label>
            </div>
            <div class="col-sm-7">
              <p>
                <b>{{ issuerDN }}</b>
              </p>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-5">
              <label class="card-title">Valid from</label>
            </div>
            <div class="col-sm-7">
              <p>
                <b>
                  
                {{ validFrom | date: 'dd/MM/YYYY' }}
              </b>
              </p>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-5">
              <label class="card-title">Valid to</label>
            </div>

            <div class="col-sm-7">
              <p>
                <b>
                {{ validTo | date: 'dd/MM/YYYY' }}
              </b>
              </p>
            </div>
          </div>

          <div class="row">
            <!-- <div class="col-sm-5 ">
                          <label class="card-title">Validity</label>
                      </div> -->
            <!-- <div class="col-sm-7 ">
                          <p><b>{{data.validity}}</b></p>
                      </div> -->
          </div>

          <div class="row">
            <div class="col-sm-5">
              <label class="card-title">Subject</label>
            </div>
            <div class="col-sm-7">
              <p>
                <b>{{ subject }}</b>
              </p>
            </div>
          </div>
          <div class="row">
            <h2 class="card-title">
                <b>Public Key</b>
              </h2>
              <div class="card-body col-sm-12">
                <form class="form form-horizontal">
                  <div class="row">
                    <div class="col-sm-5">
                      <label class="card-title">Algorithm PublicKey</label>
                    </div>
                    <div class="col-sm-7">
                      <p>
                        <b>{{ algorithmPublicKey }}</b>
                      </p>
                    </div>
                  </div>
  
                  <div class="row">
                    <div class="col-sm-5">
                      <label class="card-title">Size PublicKey</label>
                    </div>
                    <div class="col-sm-7">
                      <p>
                        <b>{{ sizePublicKey }}</b>
                      </p>
                    </div>
                  </div>
  
                  <div class="row">
                    <div class="col-sm-5">
                      <label class="card-title">Modulus</label>
                    </div>
                    <div class="col-sm-7">
                      <p>
                        <b>{{ modulus }}</b>
                      </p>
                    </div>
                  </div>
  
                  <div class="row">
                    <div class="col-sm-5">
                      <label class="card-title">Exponent</label>
                    </div>
                    <div  class="col-sm-7">
                      <p>
                        <b>{{ this.exponent }}</b>
                      </p>
                    </div>
                  </div>
  
                  <div class="row">
                    <div class="col-sm-5">
                      <label class="card-title">Publickey parameters</label>
                    </div>
                    <div class="col-sm-7">
                      <p>
                        <b>{{ signatureParameters }}</b>
                      </p>
                    </div>
                  </div>
                </form>
              </div>
          </div>
          

          <!-- <div class="row" >
            <div class="col-sm-5">
              <label class="card-title">Authority key identifier</label>
            </div>
            <div class="col-sm-7">
              <p>
                <b></b>
              </p>
            </div>
          </div> -->

          <!-- <div class="row" >
            <div class="col-sm-5">
              <label class="card-title">Enhanced Key Usage</label>
            </div>
            <div class="col-sm-7">
              <p>
                <b>{{ extKeyUsage }} </b>
              </p>
            </div>
          </div> -->

          <!-- <div class="row" >
            <div class="col-sm-5">
              <label class="card-title">Subject Key Identifier</label>
            </div>
            <div class="col-sm-7 ">
                          <p><b>{{dataFromX509.extensions[3].keyId}}</b></p>
                      </div>
          </div> -->

          <!-- <div class="row">
            <div class="col-sm-5">
              <label class="card-title">Basic Constraints</label>
            </div>
            <div class="col-sm-7">
              <p>
                <b>{{ basicConstraints }}</b>
              </p>
            </div>
          </div>

          <div class="row" >
            <div class="col-sm-5">
              <label class="card-title"> Key Usage</label>
            </div>
            <div class="col-sm-7">
              <p>
                <b>{{ keyUsage }}</b>
              </p>
            </div>
          </div> -->

          <div class="row">
            <div class="col-sm-5">
              <label class="card-title">Thumbprint</label>
            </div>
            <div class="col-sm-7">
              <p>
                <b>{{ thumbprint }}</b>
              </p>
            </div>
          </div>

          <div class="row">
            <!-- <div class="col-sm-5">
              <label class="card-title">Khuôn dạng</label>
            </div>
            <div class="col-sm-7">
              <p>
                <b>{{ dataFromNodeForge.responseType }}</b>
              </p>
            </div> -->
          </div>
        </form>
      </div>
    </core-card>

    <!--  thông tin thời gian -->
    <core-card [actions]="['collapse']">
      <h6 class="card-title"><b>Thông tin thời gian tạo & cập nhật</b></h6>
      <div class="card-body ml-1">
        <form class="form form-horizontal">
          <div class="row">
            <div class="col-sm-5">
              <label class="card-title">Thời gian tạo</label>
            </div>
            <div class="col-sm-7">
              <p>
                <b>
                {{ createdAt | date: 'dd/MM/YYYY HH:mm' }}
                </b>
              </p>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-5">
              <label class="card-title">Thời gian cập nhật </label>
            </div>
            <div class="col-sm-7">
              <p>
                <b>
                {{ updatedAt | date: 'dd/MM/YYYY HH:mm' }}
                </b>
              </p>
            </div>
          </div>
        </form>
      </div>
      <div class="col-12 button_summit d-flex justify-content-end pb-1">
        <a [href]="listFileUrl" download="{{personalFullName}}.crt">
          <button
            class="btn btn-outline-secondary ml-50 mr-1"
            (click)="downloadSubscriber()"
            rippleEffect
          >
            <i data-feather="download" class="d-sm-none d-inline-block"></i>
            <span class="d-none d-sm-inline-block">Tải về</span>
          </button>
        </a>
        <button
            class="btn btn-outline-danger ml-50 mr-1"
            (click)="openConfirmDelete()"
            rippleEffect
          >
            <i data-feather="trash-2" class="d-sm-none d-inline-block"></i>
            <span class="d-none d-sm-inline-block">Xóa</span>
          </button>
        <app-return [buttonReturn]="buttonReturn"> </app-return>
      </div>
    </core-card>
  </section>
</div>


<!-- <div class="modal-footer" style="text-align: right;">
  <button type="button" class="btn btn-secondary" (click)="toggleSidebar()" rippleEffect>
      Thoát
  </button>
</div> -->
