<div class="modal-header">
  <h4 class="modal-title" id="myModalLabel1">
    Tạo yêu cầu chứng thực cho thuê bao
    <!-- {{
      personal.firstName + ' ' + personal.middleName + ' ' + personal.lastName
    }} -->
  </h4>
</div>
<div class="modal-body" tabindex="0" ngbAutofocus>
  <form [formGroup]="newRequestForm" *ngIf="newRequestForm">
    <h6 class="mb-1">1. Thông tin về thuê bao</h6>
    <div class="row ml-50 ">
      <div class="col-md-6">
        <div class="form-group">
          <label for="">Profile</label>
          <ng-select
            (change)="changeProfile($event)"
            [items]="listProfiles"
            bindLabel="endEntityProfileName"
            [clearable]="false"
            formControlName="profile"
            [ngClass]="
              (f.profile.errors && f.profile?.touched) ||
              (submitted && f.profile?.errors?.required)
                ? 'is-invalid'
                : ''
            "
          ></ng-select>
          <div
            *ngIf="
              (f.profile.errors && f.profile?.touched) ||
              (submitted && f.profile?.errors?.required)
            "
            class="invalid-feedback"
          >
            <div *ngIf="f.profile.errors.required">Bạn cần chọn profile</div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="">Loại profile</label>
          <input
            type="text"
            readonly
            class="form-control"
            value="Cá nhân"
          />
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <label for="">Subject DN của thuê bao</label>
          <div class="card shadow-none bg-transparent border-primary ">
            <div class="card-body p-2">
              <p class="card-text">{{ strProfile }}</p>
            </div>
          </div>
        </div>
      </div>
      
    </div>
    <h6 class="mb-1">2. Thông tin về cặp khóa</h6>
    <div class="row ml-50">
      <div class="col-md-6">
        <div class="form-group">
          <label>Kết nối HSM</label>
          <ng-select
            [items]="hsmList"
            bindLabel="hsmName"
            [clearable]="false"
            formControlName="hsm"
            [ngClass]="
              (f.hsm.errors && f.hsm?.touched) ||
              (submitted && f.hsm?.errors?.required)
                ? 'is-invalid'
                : ''
            "
            (change)="changeHsm()"
          >
          </ng-select>
          <div
            *ngIf="
              (f.hsm.errors && f.hsm?.touched) ||
              (submitted && f.hsm?.errors?.required)
            "
            class="invalid-feedback"
          >
            <div *ngIf="f.hsm.errors.required">Bạn cần chọn HSM</div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="">Slot</label>
          <ng-select
            [items]="tokenList"
            bindLabel="tokenName"
            [clearable]="false"
            formControlName="tokenId"
          ></ng-select>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="">Hệ mật</label>
          <ng-container formGroupName="cryptoAlgorithm">
            <ng-select
              [items]="cryptoAlgorithm"
              bindLabel="cryptoSystem"
              [clearable]="false"
              formControlName="cryptoSystem"
              (change)="changeCrypto($event)"
            ></ng-select>
          </ng-container>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="">Tham số khóa</label>
          <ng-container formGroupName="cryptoAlgorithm">
            <ng-select
              [items]="keypairLengthList"
              bindLabel="keypairLength"
              [clearable]="false"
              formControlName="keypairLength"
            ></ng-select>
          </ng-container>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Tên cặp khóa (alias)</label>
          <input
            type="text"
            formControlName="alias"
            class="form-control"
            [ngClass]="{
              'is-invalid':
                (f.alias.errors && f.alias?.dirty) ||
                (submitted && f.alias?.errors?.required),
              'is-valid': !f.alias?.errors?.used && f.alias?.dirty
            }"
          />
          <div
            *ngIf="
              (f.alias.errors && f.alias?.dirty) ||
              (submitted && f.alias?.errors?.required)
            "
            class="invalid-feedback"
          >
            <div *ngIf="f.alias.errors.required">Bạn cần nhập alias</div>
            <div *ngIf="f.alias.errors.used">
              Alias đã tồn tại. Vui lòng nhập alias khác
            </div>
          </div>
          <div *ngIf="f.alias.errors == null" class="valid-feedback">
            Alias hợp lệ
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="modal-footer" style="text-align: right">
  <button
    type="button"
    class="btn btn-primary mr-1"
    (click)="onSubmit()"
    rippleEffect
  >
    Tạo
  </button>
  <button
    type="button"
    class="btn btn-secondary"
    (click)="toggleSidebar()"
    rippleEffect
  >
    Quay lại
  </button>
</div>

<ng-template #modalLink let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Tải dữ liệu yêu cầu chứng thực của bạn</h4>
  </div>
  <div class="modal-body" tabindex="0" ngbAutofocus>
    <div class="badge badge-primary">
      <a [href]="fileUrl" [download]="fileName">
        <span [data-feather]="'link'" [class]="'mr-25'"></span>
        <span>Link download</span>
      </a>
    </div>
  </div>
  <div class="modal-footer" style="text-align: right">
    <button
      type="button"
      class="btn btn-secondary"
      (click)="modal.dismiss()"
      rippleEffect
    >
      Thoát
    </button>
  </div>
</ng-template>

<!-- <div class="modal-header">
  <h4 class="modal-title" id="myModalLabel1">
    Tạo yêu cầu chứng thực cho thuê bao
    {{
      personal.firstName + ' ' + personal.middleName + ' ' + personal.lastName
    }}
  </h4>
</div>
<div class="modal-body" tabindex="0" ngbAutofocus>
  <form [formGroup]="newRequestForm">
    <h6 class="mb-1">1. Chọn Profile</h6>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="">Profile</label>
          <ng-select
            (change)="changeProfile()"
            [items]="listProfiles"
            bindLabel="nameProfile"
            [clearable]="false"
            formControlName="profile"
            [ngClass]="
              (f.profile.errors && f.profile?.touched) ||
              (submitted && f.profile?.errors?.required)
                ? 'is-invalid'
                : ''
            "
          ></ng-select>
          <div
            *ngIf="
              (f.profile.errors && f.profile?.touched) ||
              (submitted && f.profile?.errors?.required)
            "
            class="invalid-feedback"
          >
            <div *ngIf="f.profile.errors.required">Bạn cần chọn profile</div>
          </div>
        </div>
      </div>
      <div class="col-md-12" *ngIf="strProfile.length > 0">
        <div class="card shadow-none bg-transparent border-primary">
          <div class="card-body">
            <h4 class="card-title">Thông tin chi tiết</h4>
            <p class="card-text">{{ strProfile }}</p>
          </div>
        </div>
      </div>
    </div>
    <h6 class="mb-1">2. Tạo cặp khóa</h6>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>HSM</label>
          <ng-select
            [items]="hsmList"
            bindLabel="hsmName"
            [clearable]="false"
            formControlName="hsmList"
            [ngClass]="
              (f.hsmList.errors && f.hsmList?.touched) ||
              (submitted && f.hsmList?.errors?.required)
                ? 'is-invalid'
                : ''
            "
            (change)="changeHsm()"
          >
          </ng-select>
          <div
            *ngIf="
              (f.hsmList.errors && f.hsmList?.touched) ||
              (submitted && f.hsmList?.errors?.required)
            "
            class="invalid-feedback"
          >
            <div *ngIf="f.hsmList.errors.required">
              Bạn cần chọn HSM
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="">Token</label>
          <ng-select
            [items]="tokenList"
            bindLabel="tokenName"
            bindValue="tokenId"
            [clearable]="false"
            formControlName="tokenId"
            [ngClass]="
              (f.tokenId.errors && f.tokenId?.touched) ||
              (submitted && f.tokenId?.errors?.required)
                ? 'is-invalid'
                : ''
            "
            [ngbTooltip]="
              f.hsmList.value == null
                ? 'Phải chọn HSM trước khi chọn token'
                : ''
            "
            placement="top"
          ></ng-select>
          <div
            *ngIf="
              (f.tokenId.errors && f.tokenId?.touched) ||
              (submitted && f.tokenId?.errors?.required)
            "
            class="invalid-feedback"
          >
            <div *ngIf="f.tokenId.errors.required">Bạn cần chọn token</div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="">Hệ mật</label>
          <ng-select
            [items]="cryptoSelect"
            [clearable]="false"
            formControlName="cryptoAlgorithm.cryptoSystem"
            [ngClass]="
              (f.cryptoSystem.errors && f.cryptoSystem?.touched) ||
              (submitted && f.cryptoSystem?.errors?.required)
                ? 'is-invalid'
                : ''
            "
            (change)="changeCrypto($event)"
          ></ng-select>
          <div
            *ngIf="
              (f.cryptoSystem.errors && f.cryptoSystem?.touched) ||
              (submitted && f.cryptoSystem?.errors?.required)
            "
            class="invalid-feedback"
          >
            <div *ngIf="f.cryptoSystem.errors.required">
              Bạn cần chọn hệ mật
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="">Tham số khóa</label>
          <ng-select
            [items]="lengthSelect"
            [clearable]="false"
            formControlName="cryptoAlgorithm.keypairLength"
            [ngClass]="
              (f.keypairLength.errors && f.keypairLength?.touched) ||
              (submitted && f.keypairLength?.errors?.required)
                ? 'is-invalid'
                : ''
            "
            [ngbTooltip]="
              f.cryptoSystem.value == null
                ? 'Phải chọn hệ mật trước khi chọn độ dài khóa'
                : ''
            "
            placement="top"
          ></ng-select>
          <div
            *ngIf="
              (f.keypairLength.errors && f.keypairLength?.touched) ||
              (submitted && f.keypairLength?.errors?.required)
            "
            class="invalid-feedback"
          >
            <div *ngIf="f.keypairLength.errors.required">
              Bạn cần chọn độ dài khóa
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Alias</label>
          <input
            type="text"
            formControlName="alias"
            class="form-control"
            [ngClass]="{
              'is-invalid':
                (f.alias.errors && f.alias?.dirty) ||
                (submitted && f.alias?.errors?.required),
              'is-valid': !f.alias?.errors?.used && f.alias?.dirty
            }"
          />
          <div
            *ngIf="
              (f.alias.errors && f.alias?.dirty) ||
              (submitted && f.alias?.errors?.required)
            "
            class="invalid-feedback"
          >
            <div *ngIf="f.alias.errors.required">Bạn cần nhập alias</div>
            <div *ngIf="f.alias.errors.used">
              Alias đã tồn tại. Vui lòng nhập alias khác
            </div>
          </div>
          <div *ngIf="f.alias.errors == null" class="valid-feedback">
            Alias hợp lệ
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="modal-footer" style="text-align: right">
  <button
    type="button"
    class="btn btn-primary mr-1"
    (click)="onSubmit()"
    rippleEffect
  >
    Tạo
  </button>
  <button
    type="button"
    class="btn btn-secondary"
    (click)="toggleSidebar()"
    rippleEffect
  >
    Hủy
  </button>
</div>

<ng-template #modalLink let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Tải dữ liệu yêu cầu chứng thực của bạn</h4>
  </div>
  <div class="modal-body" tabindex="0" ngbAutofocus>
    <div class="badge badge-primary">
      <a [href]="fileUrl" [download]="fileName">
        <span [data-feather]="'link'" [class]="'mr-25'"></span>
        <span>Link download</span>
      </a>
    </div>
  </div>
  <div class="modal-footer" style="text-align: right">
    <button
      type="button"
      class="btn btn-secondary"
      (click)="modal.dismiss()"
      rippleEffect
    >
      Thoát
    </button>
  </div>
</ng-template> -->
