<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <!-- User List -->
        <section class="users-list-wrapper">
            <!-- users filter start -->
            <div class="card">
                <h5 class="card-header">Bộ lọc tìm kiếm</h5>
                <div class="card-body">
                    <div class="users-list-filter">
                        <form>
                            <div class="row">
                                <div class="col-12 col-md-4">
                                    <fieldset class="form-group">
                                        <ng-select [items]="selectRole" [(ngModel)]="selectedRole" name="selectedRole" bindLabel="name" placeholder="Vai trò" (change)="filterByRole($event)"></ng-select>
                                    </fieldset>
                                </div>
                                <div class="col-12 col-md-4">
                                    <fieldset class="form-group">
                                        <ng-select [items]="selectStatus" [(ngModel)]="selectedStatus" name="selectedStatus" bindLabel="name" placeholder="Trạng thái hoạt động" (change)="filterByStatus($event)"></ng-select>
                                    </fieldset>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- users filter end -->
            <div class="card">
                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="d-flex justify-content-between align-items-center m-1">
                            <label class="d-flex align-items-center">Hiển thị
                <select class="form-control mx-25" [(ngModel)]="selectedOption">
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select>
                mục</label
              >
            </div>
          </div>
          <div class="col-md-6 col-12 d-flex justify-content-start justify-content-md-end">
            <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pb-md-0">
              <label class="d-flex align-items-center ml-1 ml-md-0"
                >Tìm kiếm:<input
                  [(ngModel)]="searchValue"
                  name="searchValue"
                  type="search"
                  class="form-control ml-25"
                  (keyup)="filterUpdate($event)"
              /></label>
                            <button class="btn btn-primary ml-1" rippleEffect (click)="toggleSidebar(modalForm)">
                <i data-feather="user-plus" class="d-sm-none d-inline-block mr-0 mr-sm-1"></i
                ><span class="d-none d-sm-inline-block">Thêm mới</span>
              </button>
                        </div>
                    </div>
                </div>

                <div *ngIf="show">
                    <ngx-datatable [rows]="rows" [rowHeight]="50" class="bootstrap core-bootstrap" [limit]="selectedOption" [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50">
                        <ngx-datatable-column name="Tên tài khoản" prop="username" [width]="200"></ngx-datatable-column>
                        <ngx-datatable-column name="Họ và tên" prop="" [width]="250">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{ row.lastName }} {{row.firstName}}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Email" prop="email" [width]="250"></ngx-datatable-column>
                        <ngx-datatable-column name="Vai trò" prop="userRole.roleName" [width]="150">
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Số điện thoại" prop="phoneNo" [width]="120"></ngx-datatable-column>
                        <ngx-datatable-column name="Hoạt động" prop="isActive" [width]="50">
                            <ng-template let-isActive="value" ngx-datatable-cell-template>
                                <div class="badge badge-pill" [ngClass]="{
                            'badge-light-success': isActive == true,
                            'badge-light-danger': isActive == false
                          }">
                                    <div *ngIf="isActive == true;else no">
                                        Có
                                    </div>
                                    <ng-template #no>
                                        Không
                                    </ng-template>
                                </div>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Thao tác" [width]="50" [sortable]="false">
                            <ng-template ngx-datatable-cell-template let-row="row">
                                <div ngbDropdown container="body">
                                    <button ngbDropdownToggle type="button" class="btn icon-btn btn-sm hide-arrow" rippleEffect>
                <span [data-feather]="'more-vertical'" [class]="'cursor-pointer'"></span>
              </button>
                                    <div ngbDropdownMenu>
                                        <a routerLink="../user-view/{{ row.userId }}" ngbDropdownItem><span [data-feather]="'file-text'" [size]="16" [class]="'mr-50'"></span>Chi tiết</a
                ><a routerLink="../user-edit/{{ row.userId }}" ngbDropdownItem
                  ><span [data-feather]="'edit'" [size]="16" [class]="'mr-50'"></span>Chỉnh sửa</a
                ><a href="javascript:;" ngbDropdownItem
                  ><span [data-feather]="'trash'" [size]="16" [class]="'mr-50'"></span>Xóa</a
                >
              </div>
            </div>
          </ng-template>
        </ngx-datatable-column>
                </ngx-datatable>
                </div>

            </div>
        </section>
        <!--/ User List -->
    </div>

    <!-- New User Sidebar -->
    <ng-template #modalForm let-modal>
      <app-new-user-sidebar></app-new-user-sidebar>
    </ng-template>
    <!--/ New User Sidebar -->
</div>
