<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <app-content-header [contentHeader]="contentHeader"> </app-content-header>
    <div class="content-body">
      <section>
        <div class="card">
          <div class="card-body">
            <form [formGroup]="HsmForm" class="form form-horizontal">
              <div class="form_content">
                <div class="">
                  <h3>Tạo kết nối HSM</h3>
                  <div class="d-flex">
                    <div class="form-group col-md-6">
                      <label for="UDUserName">Tên kết nối HSM</label>
                      <input
                        type="text"
                        formControlName="hsmName"
                        class="form-control"
                        [ngClass]="
                          (f.hsmName.errors && f.hsm?.touched) ||
                          (submitted && f.hsmName?.errors?.required)
                            ? 'is-invalid'
                            : ''
                        "
                      />
                      <div
                        *ngIf="
                          (f.hsmName.errors && f.hsmName?.touched) ||
                          (submitted && f.hsmName?.errors?.required)
                        "
                        class="invalid-feedback"
                      >
                        <div *ngIf="f.hsmName.errors.required">
                          Bạn cần nhập tên HSM
                        </div>
                      </div>
                    </div>
                    <div class="form-group col-7 col-md-6 mt-2">
                      <!-- <div>Đường dẫn file cấu hình</div> -->
                      <label for="hsm" class="custom-file-label"
                        >{{selectedFile}}
                      </label>
                      <!-- <input
                        type="text"
                        formControlName="hsmLibraryPath"
                        class="form-control"
                        [ngClass]="
                          (f.hsmLibraryPath.errors &&
                            f.hsmLibraryPath?.touched) ||
                          (submitted && f.hsmLibraryPath?.errors?.required)
                            ? 'is-invalid'
                            : ''
                        "
                      /> -->
                      <input
                        #hsm
                        type="file"
                        formControlName="hsmLibraryPath"
                        class="form-control custom-file-input"
                        name="file"
                        id="file"
                        placeholder="Chọn đường dẫn file cấu hình"
                        (change)="onFileChange($event)"
                      />
                      
                      <div
                        *ngIf="
                          (f.hsmLibraryPath.errors &&
                            f.hsmLibraryPath?.touched) ||
                          (submitted && f.hsmLibraryPath?.errors?.required)
                        "
                        class="invalid-feedback"
                      >
                        <div *ngIf="f.hsmLibraryPath.errors.required">
                          Bạn cần nhập đường dẫn file cấu hình
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="d-flex justify-content-end m-1">
                        <button
                          class="btn btn-primary mr-1"
                          (click)="onSubmit()"
                          rippleEffect
                        >
                          <span class="d-sm-none d-inline-block"
                            >Tạo kết nối</span
                          >
                          <span class="d-none d-sm-inline-block"
                            >Tạo kết nối HSM</span
                          >
                        </button>
                        <app-return [buttonReturn]="buttonReturn"> </app-return>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="d-flex m-1">
                    <div class="col-md-6 offset-md-1">
                      <button class="btn btn-primary col-md-6" rippleEffect>
                        Kết nối HSM
                      </button>
                    </div>
                    <div class="col-md-6">
                      <button
                        rippleEffect
                        class="btn btn-outline-primary col-md-6"
                      >
                        Hủy kết nối
                      </button>
                    </div>
                  </div> -->
                  <!-- <div class="d-flex">
                    <div class="form-group col-md-4">
                      <label>Tên HSM</label>
                      <input class="form-control" formControlName="hsmType" readonly/>
                    </div>
                    <div class="form-group col-md-4">
                      <label>Hãng sản xuất</label>
                      <input class="form-control" formControlName="hsmType" readonly/>
                    </div>
                    <div class="form-group col-md-4">
                      <label>Model</label>
                      <input class="form-control" formControlName="hsmType" readonly/>
                    </div>
                  </div>
                  <div class="d-flex">
                    <div class="form-group col-md-4">
                      <label>Serial Number</label>
                      <input class="form-control" formControlName="hsmType" readonly/>
                    </div>
                    <div class="form-group col-md-4">
                      <label>Phiên tối đa</label>
                      <input class="form-control" formControlName="hsmType" readonly/>
                    </div>
                    <div class="form-group col-md-4">
                      <label>Số phiên</label>
                      <input class="form-control" formControlName="hsmType" readonly/>
                    </div>
                  </div>
                  <div class="d-flex">
                    <div class="form-group col-md-4">
                      <label>ulMaxRwSessionCount</label>
                      <input class="form-control" formControlName="hsmType" readonly/>
                    </div>
                    <div class="form-group col-md-4">
                      <label>ulRwSessionCount</label>
                      <input class="form-control" formControlName="hsmType" readonly/>
                    </div>
                    <div class="form-group col-md-4">
                      <label>PIN Tối Đa</label>
                      <input class="form-control" formControlName="hsmType" readonly/>
                    </div>
                  </div>
                  <div class="d-flex">
                    <div class="form-group col-md-4">
                      <label>PIN Tối Thiểu</label>
                      <input class="form-control" formControlName="hsmType" readonly/>
                    </div>
                    <div class="form-group col-md-4">
                      <label>Bộ nhớ công khai tối đa</label>
                      <input class="form-control" formControlName="hsmType" readonly/>
                    </div>
                    <div class="form-group col-md-4">
                      <label>Bộ nhớ công khai còn trống</label>
                      <input class="form-control" formControlName="hsmType" readonly/>
                    </div>
                  </div>
                  <div class="d-flex">
                    <div class="form-group col-md-4">
                      <label>Bộ nhớ bí mật tối đa</label>
                      <input class="form-control" formControlName="hsmType" readonly/>
                    </div>
                    <div class="form-group col-md-4">
                      <label>Bộ nhớ bí mật còn trống</label>
                      <input class="form-control" formControlName="hsmType" readonly />
                    </div>
                    <div class="form-group col-md-4">
                      <label>Phiển bản phần cứng</label>
                      <input class="form-control" formControlName="hsmType" readonly/>
                    </div>
                  </div> -->
                </div>
              </div>
            </form>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
<ng-template #modalForm let-modal>
  <app-hsm-create-sidebar [person]="people"></app-hsm-create-sidebar>
</ng-template>
