<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <app-content-header [contentHeader]="contentHeader"> </app-content-header>

    <div class="content-body">
      <section>
        <div class="card">
          <div class="card-body">
            <h3>Tên kết nối: {{ hsmName }}</h3>
            <form [formGroup]="HsmFormEdit" class="form form-horizontal">
              <div class="form_content">
                <div class="">
                  <div class="d-flex">
                    <div class="form-group col-md-6">
                      <label for="UDUserName">Tên kết nối HSM</label>
                      <input
                        type="text"
                        formControlName="hsmName"
                        class="form-control"
                        [ngClass]="
                          (f.hsmName.errors && f.hsm?.touched) ||
                          (submitted && f.hsmName?.errors?.required)
                            ? 'is-invalid'
                            : ''
                        "
                      />
                      <div
                        *ngIf="
                          (f.hsmName.errors && f.hsmName?.touched) ||
                          (submitted && f.hsmName?.errors?.required)
                        "
                        class="invalid-feedback"
                      >
                        <div *ngIf="f.hsmName.errors.required">
                          Bạn cần nhập tên HSM
                        </div>
                      </div>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="UDUserName">Hãng sản xuất</label>
                      <input
                        type="text"
                        formControlName="manufacturerId"
                        class="form-control"
                        [ngClass]="
                          (f.manufacturerId.errors &&
                            f.manufacturerId?.touched) ||
                          (submitted && f.manufacturerId?.errors?.required)
                            ? 'is-invalid'
                            : ''
                        "
                      />
                      <div
                        *ngIf="
                          (f.manufacturerId.errors &&
                            f.manufacturerId?.touched) ||
                          (submitted && f.manufacturerId?.errors?.required)
                        "
                        class="invalid-feedback"
                      >
                        <div *ngIf="f.manufacturerId.errors.required">
                          Bạn cần nhập hãng sản xuất
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="d-flex">
                    <div class="form-group col-md-6">
                      <label for="UDUserName">Model</label>
                      <input
                        type="text"
                        formControlName="hsmModel"
                        class="form-control"
                        [ngClass]="
                          (f.hsmModel.errors && f.hsmModel?.touched) ||
                          (submitted && f.hsmModel?.errors?.required)
                            ? 'is-invalid'
                            : ''
                        "
                      />
                      <div
                        *ngIf="
                          (f.hsmModel.errors && f.hsmModel?.touched) ||
                          (submitted && f.hsmModel?.errors?.required)
                        "
                        class="invalid-feedback"
                      >
                        <div *ngIf="f.hsmModel.errors.required">
                          Bạn cần nhập model
                        </div>
                      </div>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="UDUserName">Đường dẫn file thư viện</label>
                      <input
                        type="text"
                        formControlName="hsmLibraryPath"
                        class="form-control"
                        [ngClass]="
                          (f.hsmLibraryPath.errors &&
                            f.hsmLibraryPath?.touched) ||
                          (submitted && f.hsmLibraryPath?.errors?.required)
                            ? 'is-invalid'
                            : ''
                        "
                      />
                      <div
                        *ngIf="
                          (f.hsmLibraryPath.errors &&
                            f.hsmLibraryPath?.touched) ||
                          (submitted && f.hsmLibraryPath?.errors?.required)
                        "
                        class="invalid-feedback"
                      >
                        <div *ngIf="f.hsmLibraryPath.errors.required">
                          Bạn cần nhập đường dẫn file thư viện
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="d-flex">
                    <div class="col-md-6 form-group">
                      <label>Loại HSM</label>
                      <ng-select
                        [items]="hsmType"
                        [clearable]="false"
                        formControlName="hsmType"
                        [ngClass]="
                          (f.hsmType.errors && f.hsmType?.touched) ||
                          (submitted && f.hsmType?.errors?.required)
                            ? 'is-invalid'
                            : ''
                        "
                      >
                      </ng-select>
                      <div
                        *ngIf="
                          (f.hsmType.errors && f.hsmType?.touched) ||
                          (submitted && f.hsmType?.errors?.required)
                        "
                        class="invalid-feedback"
                      >
                        <div *ngIf="f.hsmType.errors.required">
                          Bạn cần chọn loại HSM
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 form-group">
                      <label>Chuẩn HSM</label>
                      <ng-select
                        [items]="hsmForm"
                        [clearable]="false"
                        formControlName="hsmForm"
                        [ngClass]="
                          (f.hsmForm.errors && f.hsmForm?.touched) ||
                          (submitted && f.hsmForm?.errors?.required)
                            ? 'is-invalid'
                            : ''
                        "
                      >
                      </ng-select>
                      <div
                        *ngIf="
                          (f.hsmForm.errors && f.hsmForm?.touched) ||
                          (submitted && f.hsmForm?.errors?.required)
                        "
                        class="invalid-feedback"
                      >
                        <div *ngIf="f.hsmForm.errors.required">
                          Bạn cần chọn chuẩn HSM
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 offset-6">
                    <div class="d-flex justify-content-md-end m-1">
                      <button
                        class="btn btn-primary mr-1"
                        [swal]="SweetAlertConfirm"
                        rippleEffect
                      >
                        Cập nhật
                      </button>
                      <swal #SweetAlertConfirm (open)="onSubmit()"></swal>
                      <app-return [buttonReturn]="buttonReturn"> </app-return>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
