<app-content-header [contentHeader]="contentHeader"></app-content-header>
<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <!-- Certificate request List -->
        <section class="users-list-wrapper">
            <!-- Certificate request filter start -->
            <div class="card">
                <h5 class="card-header">Bộ lọc tìm kiếm</h5>
                <div class="card-body">
                    <form class="form form-vertical" [formGroup]="formListSubscriberCertificate">
                        <div class="row pb-1">
                            <div class="col-md-4">
                                <input name="distinguishedName" id="distinguishedName" type="search" class="form-control" formControlName="contains" placeholder="Một phần DN" />
                            </div>
                            <div class="col-md-2">
                                <button type="button" class="btn btn-secondary btn-outline-secondary col-12" (click)="moreOption = !moreOption" rippleEffect>
                                  Tùy chọn
                                </button>
                            </div>
                            <div class="col-md-2">
                                <button type="button" rippleEffect class="btn btn-primary" (click)="onSubmit()" [disabled]="!formListSubscriberCertificate.valid">
                                    Tìm kiếm
                                </button>
                            </div>
                        </div>
                        
                        <div class="row" [ngbCollapse]="moreOption">
                            <div class="col-md-1 mr-2">
                                <label for="">Số dòng:</label>
                                <fieldset class="form-group">
                                    <ng-select [items]="sizePage" suffix=" dòng" [clearable]="false" formControlName="size"></ng-select>
                                </fieldset>
                            </div>
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-3">
                                        <label class="lable">Từ ngày:</label>
                                        <div class="input-group input-group-merge">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" (click)="fromDate.open()"><i data-feather="calendar"></i
                        ></span>
                                            </div>
                                            <input [matDatepicker]="fromDate" formControlName="fromDate" class="form-control" type="text" [min]="minDate" [max]="formListSubscriberCertificate.controls.toDate.value" placeholder="13/09/2021" />
                                        </div>
                                        <mat-datepicker #fromDate></mat-datepicker>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="lable">Đến ngày:</label>
                                        <div class="input-group input-group-merge">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" (click)="toDate.open()"><i data-feather="calendar"></i
                        ></span>
                                            </div>
                                            <input [matDatepicker]="toDate" formControlName="toDate" class="form-control" type="text" [min]="formListSubscriberCertificate.controls.fromDate.value" placeholder="13/09/2021" />
                                        </div>

                                        <mat-datepicker #toDate></mat-datepicker>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- Certificate request filter end -->
        </section>
        <section>
            <div class="row" id="basic-table">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Danh sách chứng thư số</h4>
                            <div class="">
                                <a href="/apps/tm/subscriber-certificate/subscriber-certificate-create">
                                    <button type="button" rippleEffect class="btn btn-primary">
                                    Tạo chứng thư số
                                    </button>
                                </a>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>TT</th>
                                        <th>Mã chứng thư số</th>
                                        <th>Doanh nghiệp</th>
                                        <th>Tên thuê bao</th>
                                        <th>Trạng thái</th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let item of rows; let i = index">
                                    <td>{{ i + 1 }}</td>
                                    <td>{{ item.subscriberCertificateId }}</td>
                                    <td>{{ item.organizationName }}</td>
                                    <td>{{ item.subscriberName }}</td>
                                    <td>
                                        {{ item.keypairInformation.keypairStatus.keypairStatus }}
                                    </td>
                                </tbody>
                            </table>
                        </div>

                        <div class="row">

                            <div class="col-md-12 mt-1 mr-1">
                                <ngb-pagination [(collectionSize)]="totalPages" [(page)]="pageAdvancedEllipses" [maxSize]="3" [rotate]="true" [boundaryLinks]="true" (pageChange)="changePage($event)" class="d-flex justify-content-end mr-1">
                                    <ng-template ngbPaginationFirst>Đầu</ng-template>
                                    <ng-template ngbPaginationLast>Cuối</ng-template>
                                </ngb-pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--/ Certificate request List -->
    </div>
</div>