<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <section class="introduce">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <div class="col-inner">
                <!--Tập đoàn công nghệ CMC-->
                <h1 class="text-primary text-center display-4">
                  Tập đoàn Công nghệ CMC
                </h1>
                <div class="text-center">
                <img 
                src="assets/images/pages/cmc.jpg"
                height="400"
                width="300"
                 alt="CMC">
                </div>
                <div class="h5 mt-1">
                  <p>
                    <strong>Giới thiệu: </strong>
                    <br />
                    Tập đoàn Công nghệ CMC là tập đoàn công nghệ thông tin -
                    viễn thông lớn tại Việt Nam. CMC đã khẳng định vị thế trên
                    thị trường Việt Nam và nhiều nước trên thế giới thông qua
                    những hoạt động kinh doanh chủ lực ở 3 khối: Khối Công nghệ
                    & Giải pháp (Technology & Solution), Khối Kinh doanh Quốc tế
                    (Global Business), Khối Dịch vụ Viễn thông
                    (Telecommunications).
                  </p>
                  <p>
                    <strong>Lịch sử phát triển: </strong>
                    <br />
                    Thành lập từ năm 1993, CMC đã trải qua hơn 28 năm xây dựng,
                    phát triển và mở rộng để trở thành một trong những công ty
                    CNTT-VT lớn mạnh hàng đầu Việt Nam với hơn 3.000 nhân viên.
                    Hiện nay, hoạt động của CMC được chuyên biệt hóa và không
                    ngừng mở rộng sang nhiều lĩnh vực nhưng luôn lấy CNTT-VT làm
                    năng lực cốt lõi cho mọi hoạt động sản xuất kinh doanh và
                    phát triển thị trường. Để có được sự phát triển như ngày
                    nay, CMC đã trải qua những cột mốc đáng nhớ, đánh dấu sự nỗ
                    lực và phát triển qua từng thời kỳ.
                  </p>
                  <p>
                    <strong>Tầm nhìn và sứ mệnh: </strong>
                    <br />
                    Với khát khao và đam mê, CMC phấn đấu trở thành Tập đoàn
                    Công nghệ Thông tin và Viễn thông hàng đầu thế giới. Dẫn đầu
                    các làn sóng công nghệ mới, nỗ lực phát triển những sản phẩm
                    - dịch vụ - giải pháp công nghệ đẳng cấp thế giới, mang lại
                    những giá trị vượt trội cho khách hàng, góp phần nâng cao vị
                    thế Việt Nam trong kỷ nguyên số, xây dựng đất nước hùng
                    cường. Giá trị cốt lõi: 4C (Creativity, C-Speed, Commitment,
                    Customer Centricity). Mọi hành động của người CMC đều xuất
                    phát từ trái tim Hướng Khách Hàng. Bằng khát khao và đam mê
                    Sáng Tạo không ngừng nghỉ, người CMC quyết tâm vươn tới tốc
                    độ nhanh nhất, Tốc Độ Ánh Sáng, trong cả tư duy và hành động
                    để truyền cảm hứng và thực hiện tốt những Cam Kết của mình.
                  </p>
                  <p>
                    <strong>Thành tựu: </strong>
                    <br />
                    Theo Profiles International, CMC là công ty duy nhất thuộc
                    nhóm ngành Công nghệ thông tin lọt vào top 20 danh sách
                    Những công ty Việt Nam hoạt động hiệu quả nhất năm 2010 với
                    tỉ lệ doanh thu tính trên một nhân viên là gần 2 tỷ VNĐ.
                    Hiện CMC có gần 3000 cán bộ giỏi chuyên môn và quản lý với
                    sức sáng tạo không ngừng và luôn nhận được sự ghi nhận của
                    Nhà nước, Cộng đồng và xã hội: Huân chương lao động hạng Hai
                    do Nhà nước CHXHCN Việt Nam trao tặng năm 2010: Tập đoàn
                    Công nghệ CMC đứng thứ 151 trong top 500 doanh nghiệp lớn
                    nhất Việt Nam và đứng thứ 32 trong Top 500 doanh nghiệp Tư
                    nhân hàng đầu Việt Nam – theo bảng xếp hạng VNR500; Top 500
                    Doanh nghiệp tăng trưởng nhanh nhất Việt Nam...
                  </p>
                  <p>
                    <strong>Liên hệ: </strong>
                  </p>
                  <ul>
                    <li>
                      Trụ sở: Tòa nhà CMC, số 11, phố Duy Tân, phường Dịch Vọng
                      Hậu, quận Cầu Giấy Tp.Hà Nội
                    </li>
                    <li>
                      Website: <a href="#">http://cmc.com.vn; http://cmc.vn</a>
                    </li>
                    <li>Email: <a href="#">nhansu@cmc.com.vn</a></li>
                    <li>Điện thoại: 024 3795 8668 / 8605</li>
                  </ul>
                </div>
                <hr class="solid">
                <!--Viện nghiên cứu ứng dụng CMC-CIST-->
                <h1 class="text-primary text-center display-4">
                  Viện nghiên cứu ứng dụng công nghệ CMC-CIST
                </h1>
                <div>
                  <img 
                  src="assets/images/pages/cist.jpg" 
                  height="500"
                  width="1160"
                  alt="CIST">
                </div>
                <div class="h5 mt-1">
                  <p>
                    <strong>Giới thiệu:</strong>
                    <br />
                    Thành lập vào năm 2014, Viện Nghiên cứu ứng dụng Công nghệ
                    CMC (CIST) là đơn vị nghiên cứu tư nhân hiện đại, với đội
                    ngũ cán bộ nghiên cứu trẻ tài năng đến từ nhiều Viện trường
                    và các tổ chức trong và ngoài nước. Sứ mệnh của CIST là
                    nghiên cứu ứng dụng những công nghệ mới nhất trong các lĩnh
                    vực BigData, AI, Blockchain, IoT, Security…đưa vào cuộc
                    sống, hỗ trợ cho khách hàng là các doanh nghiệp Việt Nam
                    nâng cao năng lực cạnh tranh trong bối cảnh của cuộc CM CN
                    4.0 có nhiều cơ hội và thách thức mới.
                  </p>
                  <p>
                    <strong>Cơ cấu tổ chức và chức năng nhiệm vụ:</strong>
                    <br />
                    <strong class="text-primary">CIST</strong>
                    được tổ chức theo mô hình hoạt động ma trận với tính linh
                    hoạt cao và hướng thị trường. Với hạ tầng phòng Lab hiện
                    đại, hệ thống DataCenter và máy chủ có hiệu năng cao, Trung
                    tâm Sáng tạo và hệ thống đào tạo chuyên nghiệp, 
                    <strong class="text-primary">CIST</strong>
                     đã hình
                    thành nên một hệ sinh thái sáng tạo hỗ trợ toàn diện cho
                    hoạt động nghiên cứu ứng dụng.
                  </p>
                  <p>
                    <strong>Chức năng:</strong>
                  </p>
                  <ul>
                    <li>
                      Tham gia nghiên cứu theo chiến lược của tập đoàn công nghệ
                      CMC
                    </li>
                    <li>Xây dựng năng lực R&D dài hạn</li>
                    <li>
                      Chuyển giao công nghệ tới các công ty thành viên của tập
                      đoàn CMC
                    </li>
                    <li>
                      Hợp tác với các viện nghiên cứu, các trường đại học trong
                      và ngoài nước
                    </li>
                  </ul>
                  <p>
                    <strong>Lĩnh vực nghiên cứu: </strong>
                    <br />
                    <strong>- Định hướng nghiên cứu: </strong>
                  </p>
                  <ul>
                    <li>
                      Big Data/AI (ngân hàng, khách hàng, bảo hiểm, chính phủ,
                      v.v)
                    </li>
                    <li>Bảo mật (BlockChain, v.v)</li>
                    <li>IoT (Smart Devices, Smart Cities, v.v)</li>
                    <li>Robotics (Service Mobile Robot)</li>
                  </ul>
                  <p>
                    <strong>- Nguồn lực: </strong>
                  </p>
                  <ul>
                    <li>
                      Cộng tác với hơn 10 trường đại học và phòng nghiên cứu, 40
                      nghiên cứu viên (chia thành 4 nhóm)
                    </li>
                    <li>
                      Quỹ đầu tư sáng tạo lên tới 2 triệu USD cho các công ty
                      start-up cả trong và ngoài tập đoàn CMC
                    </li>
                    <li>Trung tâm sáng tạo</li>
                    <li>Phòng lab hiện đại</li>
                    <li>Data Center chuẩn Tier 3</li>
                  </ul>
                  <p>
                    <strong>Liên hệ: </strong>
                  </p>
                  <ul>
                    <li>
                      Trụ sở: Tầng 4, tòa nhà CMC, số 11, phố Duy Tân, phường
                      Dịch Vọng Hậu, quận Cầu Giấy Tp.Hà Nội
                    </li>
                    <li>
                      Website:
                      <a href="#">http://cist.cmc.com.vn; http://cist.cmc.vn</a>
                    </li>
                    <li>Email: <a href="#">cistinfo@cmc.com.vn</a></li>
                    <li>Điện thoại: 024 710 65555</li>
                  </ul>
                </div>
                <hr class="solid">
                <!--Nhóm an toàn thông tin(Security Team)-->
                <h1 class="text-primary text-center text-white display-4">
                  Nhóm an toàn thông tin (Security Team)
                </h1>
                <div class="h5">
                  <p>
                    <strong>Giới thiệu: </strong>
                    <br />
                    Nhóm an toàn thông tin
                  </p>
                  <p>
                    <strong>Chức năng nhiệm vụ: </strong>
                    <br />
                    Chức năng: nghiên cứu phát triển các sản phẩm về an toàn
                    thông tin, mật mã, bảo mật, chữ ký số, CA <br />
                    Nhiệm vụ: xây dựng và phát triển các ứng dụng, hệ thống
                    thông tin về lĩnh vực nghiên cứu để thương mại hóa
                  </p>
                  <p>
                    <strong>Lĩnh vực nghiên cứu: </strong>
                    An toàn thông tin, mật mã, chữ ký số
                  </p>
                  <p>
                    <strong>Dự án triển khai: </strong>
                  </p>
                  <ul>
                    <li>Ứng dụng ký số file PDF</li>
                    <li>Ứng dụng quản trị dịch vụ ký số từ xa</li>
                    <li>Ứng dụng CA</li>
                  </ul>
                  <p>
                    <strong>Liên hệ: </strong>
                  </p>
                  <ul>
                    <li>
                      Lê Quang Huy, email: <a href="#">huylq@cmc.com.vn</a>
                    </li>
                    <li>
                      Nguyễn Việt Hưng, email: <a href="#">hungnv@cmc.com.vn</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
