<core-card [actions]="['collapse']">
    <h6 class="card-title"><b>Thông tin yêu cầu chứng thực</b></h6>
    <div class="card-body">
      <form class="form form-horizontal">
        <div class="row">
          <!--                            row dùng để hiển thị theo hàng được thiết kế: chia ra 1 hàng -->

          <div class="col-12">
            <div class="card-body">
              <div class="form-group row">
                <div class="col-sm-3 col-form-label">
                  <h6 class="card-title">Subject DN</h6>
                </div>
                <div class="col-sm-9 col-form-label">
                  <p>
                    <b>{{ results[0].subjectDN }}</b>
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12">
            <core-card [actions]="['collapse']">
              <h6 class="card-title">Public Key Information</h6>
              <div class="card-body">
                <div class="col-12">
                  <div class="form-group row">
                    <div class="col-sm-3 col-form-label">
                      <label>Algorithm PublicKey</label>
                    </div>
                    <div class="col-sm-9 col-form-label">
                      <p>
                        <b>{{
                          results[0].algorithmPublicKey.includes("RSA")
                            ? "RSA"
                            : results[0].algorithmPublicKey.includes(
                                "ECDSA"
                              )
                            ? "ECDSA"
                            : results[0].algorithmPublicKey.includes(
                                "DSA"
                              )
                            ? "DSA"
                            : results[0].algorithmPublicKey.includes(
                                "Ed25519"
                              )
                            ? "Ed25519"
                            : "Ed448"
                        }}</b>
                      </p>
                    </div>
                  </div>
                </div>

                <div class="col-12">
                  <div class="form-group row">
                    <div class="col-sm-3 col-form-label">
                      <label>Size PublicKey</label>
                    </div>
                    <div class="col-sm-9 col-form-label">
                      <p>
                        <b>{{ results[0].sizePublicKey }}</b>
                      </p>
                    </div>
                  </div>
                </div>

                <div class="col-12">
                  <div class="form-group row">
                    <div class="col-sm-3 col-form-label">
                      <label>Modulus</label>
                    </div>
                    <div class="col-sm-9 col-form-label">
                      <p>
                        <b>{{ results[0].modulus }}</b>
                      </p>
                    </div>
                  </div>
                </div>

                <div class="col-12">
                  <div class="form-group row">
                    <div class="col-sm-3 col-form-label">
                      <label>Exponent</label>
                    </div>
                    <div class="col-sm-9 col-form-label">
                      <p>
                        <b>{{ results[0].exponent }}</b>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </core-card>
          </div>

          <div class="col-12">
            <div class="card-body">
              <div class="form-group row">
                <div class="col-sm-3 col-form-label">
                  <h6 class="card-title">Algorithm Signature</h6>
                </div>
                <div class="col-sm-9 col-form-label">
                  <p>{{ results[0].algorithmSignature }}</p>
                </div>
              </div>
            </div>
          </div>

          <!-- <div class="col-12">
            <div class="card-body">
              <div class="form-group row">
                <div class="col-sm-3 col-form-label">
                  <h6 class="card-title">Chọn thuê bao RA</h6>
                </div>
                <div class="col-sm-9 col-form-label">
                  <ng-select
                    [items]="subscriberIdList"
                    bindLabel="content"
                    placeholder="Nhập: Email, Họ tên, SĐT, CCCD, id người dùng"
                    (keyup)="selectIdUser($event.target.value)"
                    formControlName="subscriberIdForm"
                  >
                  </ng-select>
                </div>
              </div>
            </div>
          </div> -->

          <!-- <div class="col-12">
            <div class="modal-footer" style="text-align: right">
              <h2 *ngIf="isSavedFileResult">
                {{
                  isSavedFile
                    ? "Yêu cầu chứng thực đã được lưu"
                    : "Lưu yêu cầu chứng thực thất bại"
                }}
              </h2>
              <button
                type="button"
                rippleEffect
                class="btn btn-primary mr-1"
                [disabled]="!formSubmitOne.valid"
                (click)="onSaveOneFile1()"
              >
                Lưu Yêu cầu chứng thực
              </button>
            </div>
          </div> -->
        </div>
      </form>
    </div>
  </core-card>