<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <!-- Keypair List -->
        <section class="users-list-wrapper">
            <!-- keypair filter start -->
            <div class="">
                
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 ">
                            <label class="d-flex align-items-center ml-md-0">
                                <input name="searchValue" type="search" class="form-control" placeholder="Một phần alias">
                            </label>
                        </div>
                    </div>
                    
                    <div class="col-12 col-md-4">
                        <fieldset class="form-group d-flex align-items-center justify-content-between mt-1">
                            <label for="" class="mr-1">Hệ mật:</label>
                            <ng-select [items]="test" [(ngModel)]="tested" name="" bindLabel="name" placeholder="RSA, EC" class="col-md-8"></ng-select>
                        </fieldset>
                    </div>
                    <div class="col-12 col-md-4">
                        <fieldset class="form-group d-flex align-items-center justify-content-between mt-1">
                            <label for="" class="mr-1">Tham số khóa:</label>
                            <ng-select [items]="test" name="test" [(ngModel)]="tested" bindLabel="name" placeholder="PSCS 1.5" class="col-md-8"></ng-select>
                        </fieldset>
                    </div>
                    <div class="col-12 col-md-4 d-flex align-items-center justify-content-between mt-1">
                        <label for="" class="mr-1">Độ dài khóa:</label>
                        <fieldset class="form-group col-md-8" >
                            <ng-select [items]="test" name="test" [(ngModel)]="tested" bindLabel="name" placeholder="2048, 1024"></ng-select>
                        </fieldset>
                    </div>
                    
                    <div class="col-md-12">
                        <!-- (click) = "changeAb()" -->
                            <button class="btn btn-primary ml-1 round mb-50" rippleEffect (click) = "changeAb()">
                              <span [data-feather]="'clock'" [class]="'mr-50'"></span>
                              <i data-feather="plus" class="d-sm-none d-inline-block mr-0 mr-sm-1"></i
                              ><span class="d-none d-sm-inline-block">Thêm tùy chọn</span>
                            </button>
                            <div class="cart-body d-flex" *ngIf = "addOption">
                              
                                <div class="col-3 col-md-2 mt-2">
                                  <div class="form-group item_on_page">
                                    <div class="col-sm-6 col-md-12">
                                      <div class="input-group input-group-merge">
                                        <select class="form-control form-control-md ">
                                          <option >25 dòng</option>
                                        </select>
                                      </div>
                                    </div>
                                  
                                  </div>
                                </div>
                                
                                <div class="col-3 col-md-3">
                                  <div class="change_time">
                                    <div class="col-12 col-md-12 ">
                                      <label for="">Thay đổi sau:</label>
                                      <fieldset class="form-group">
                                        <input               
                                          name="changeAfter"
                                          id="changeAfter"                
                                          class="form-control ml-25 col-12"
                                          placeholder="dd-mm-yyyy"
                                        />
                                      </fieldset>
                                    </div>
                                    <div class="col-12 col-md-12 ">
                                      <label for="">Thay đổi trước:</label>
                                      <fieldset class="form-group">
                                        <input               
                                          name="changeBefore"
                                          id="changeBefore"                 
                                          class="form-control ml-25 col-12"
                                          placeholder="dd-mm-yyyy"
                                        />
                                      </fieldset>
                                    </div>
                                  </div>
                                </div>
                              
                            </div>
                          
                    </div>
                    <!-- <div class="row" [ngbCollapse]="moreOption">
                        <div class="col-12 col-md-4">
                            <label for="">Số dòng:</label>
                            <fieldset class="form-group">
                                <ng-select [items]="test" name="test" [(ngModel)]="tested" bindLabel="name" placeholder="15" suffix=" dòng"></ng-select>
                            </fieldset>
                        </div>
                        <div class="col-12 col-md-4">
                            <fieldset class="form-group">
                                <label for="">Thay đổi sau:</label>
                                <input class="form-control" type="text" placeholder="dd/mm/yyyy" mask="00-00-0000" />
                            </fieldset>
                        </div>
                        <div class="col-12 col-md-4">
                            <fieldset class="form-group">
                                <label for="">Thay đổi trước:</label>
                                <input class="form-control" type="text" placeholder="dd/mm/yyyy" mask="00-00-0000" />
                            </fieldset>
                        </div>
                    </div> -->
                </div>
            </div>
            <!-- keypair filter end -->
            
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex justify-content-md-end m-1">
                            <button class="btn btn-primary ml-1 round mb-50" rippleEffect >
                                <span [data-feather]="'clock'" [class]="'mr-50'"></span>
                                <i data-feather="plus" class="d-sm-none d-inline-block mr-0 mr-sm-1"></i
                                ><span class="d-none d-sm-inline-block">Thêm mới</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>TT</th>
                                        <th>Mã cặp khóa</th>
                                        <th>Hệ mật</th>
                                        <th>Tham số khóa</th>
                                        <th>Độ dài khóa</th>
                                        <th>Alias</th>
                                        <th>Trạng thái</th>
                                        <th>Hành động</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            
        </section>
        <!--/ Keypair List -->
    </div>
    <!-- New Keypair Sidebar -->

</div>