<!-- profile header -->

<div class="profile-header">
  <app-content-header [contentHeader]="contentHeader"></app-content-header>

  <!-- search profile -->
  <div class="card">
    <!-- search -->
    <h5 class="card-header">Bộ lọc tìm kiếm</h5>
    <div class="card-body pb-1">
      <form class="form form-vertical">
        <div class="row">
          <div class="col-md-4">
            <label class="lable">TÊN PROFILE</label>
            <input
              name="distinguishedName"
              id="distinguishedName"
              type="search"
              class="form-control"
              placeholder="Nhập tên profile"
            />
          </div>
          
          <div class="col-md-2 mt-2">
            <button
              class="btn btn-secondary btn-lighten-2 btn-outline-secondary col-12"
              rippleEffect
              
            >
              <!-- <span [data-feather]="'clock'" [class]="'mr-50'"></span> -->
              <i
                data-feather="plus"
                class="d-sm-none d-inline-block "
              ></i
              ><span class="d-none d-sm-inline-block">Tùy chọn</span>
            </button>
          </div>
          <div class="col-md-2 mt-2">
            
            <button
              type="button"
              rippleEffect
              class="btn btn-primary"
            >
              Tìm kiếm
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <h1
    class="
      font-weight-bolder
      d-flex
      justify-content-center
      align-items-end
    "
    *ngIf="showListProfile"
  >
    Danh sách các UserProfiles
  </h1>
  <h1
    class="
      font-weight-bolder
      mb-2
      d-flex
      justify-content-center
      align-items-end
    "
    *ngIf="showAddProfile"
  >
    Tạo mới UserProfiles
  </h1>
</div>
<!-- end profile header -->

<div class="list-profile" *ngIf="showListProfile">
  <div class="row d-flex">
    <!--btn create profile  -->
    <button
      type="button"
      class="btn btn-primary ml-2 mb-1"
      (click)="openNewProfile()"
      rippleEffect
    >
      Tạo UserProfiles
    </button>
  </div>

  <!-- table profile -->
  <ngx-datatable
    class
    [rows]="listProfile"
    [rowHeight]="58"
    class="bootstrap core-bootstrap"
    [limit]="10"
    [columnMode]="ColumnMode.force"
    [headerHeight]="40"
    [footerHeight]="50"
    [scrollbarH]="true"
    [selectionType]="SelectionType.checkbox"
  >
    <!-- checkbox -->
    <ngx-datatable-column
      [width]="50"
      [sortable]="false"
      [canAutoResize]="false"
      [draggable]="false"
      [resizeable]="false"
    >
      <ng-template
        ngx-datatable-header-template
        let-value="value"
        let-allRowsSelected="allRowsSelected"
        let-selectFn="selectFn"
      >
        <div class="custom-control custom-checkbox">
          <input
            type="checkbox"
            class="custom-control-input"
            [checked]="allRowsSelected"
            (change)="selectFn(!allRowsSelected)"
            id="headerChkbxRef"
          />
          <label class="custom-control-label" for="headerChkbxRef"></label>
        </div>
      </ng-template>
      <ng-template
        ngx-datatable-cell-template
        let-rowIndex="rowIndex"
        let-value="value"
        let-isSelected="isSelected"
        let-onCheckboxChangeFn="onCheckboxChangeFn"
      >
        <div class="custom-control custom-checkbox">
          <input
            type="checkbox"
            class="custom-control-input"
            [checked]="isSelected"
            (change)="onCheckboxChangeFn($event)"
            id="rowChkbxRef{{ rowIndex }}"
          />
          <label
            class="custom-control-label"
            for="rowChkbxRef{{ rowIndex }}"
          ></label>
        </div>
      </ng-template>
    </ngx-datatable-column>
    <!-- end checkbox -->
    <!-- STT -->
    <ngx-datatable-column
      name="TT"
      [width]="50"
      [canAutoResize]="false"
      [sortable]="false"
    >
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex">
        {{ rowIndex + 1 }}
      </ng-template>
    </ngx-datatable-column>
    <!--end STT -->

    <!-- full name -->
    <ngx-datatable-column
      name="TÊN UserProfiles"
      prop="endEntityProfileName"
      [width]="150"
    ></ngx-datatable-column>
    <!-- subject AND -->
    <ngx-datatable-column
      name="Subject DN Attributes"
      prop="subjectDNA"
      [width]="300"
    >
      <!-- <ng-template
      ngx-datatable-cell-template
      let-value="value"
      let-row="row"
    >
      <div
        
      >
        {{ row.subjectDNA.id }}
      </div>
    </ng-template> -->
    </ngx-datatable-column>

    <!-- subject ATT -->
    <ngx-datatable-column
      name="SUBJECT DN ALTERNATIVE NAME"
      prop="subjectAttribute"
      [width]="300"
    ></ngx-datatable-column>

    <ngx-datatable-column
      name="Hành động"
      [width]="70"
      [sortable]="false"
      prop=""
    >
      <ng-template
        ngx-datatable-cell-template
        let-value="value"
        let-row="row"
        let-rowIndex="rowIndex"
      >
        <div class="d-flex align-items-center">
          <div ngbDropdown container="body">
            <a
              ngbDropdownToggle
              href="javascript:void(0);"
              class="hide-arrow"
              id="dropdownBrowserState"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i
                data-feather="more-vertical"
                class="text-primary cursor-pointer mr-50"
              ></i>
            </a>
            <div
              ngbDropdownMenu
              class="dropdown-menu-right"
              aria-labelledby="dropdownBrowserState"
            >
              <a
                href="/apps/ip/subscribers/profiles/profile-edit/{{ value.id }}"
                ngbDropdownItem
                class="d-flex align-items-center"
                ><i data-feather="file-text" class="mr-50"></i> Chi tiết</a
              >

              <a
                href="/apps/ip/subscribers/profiles/profile-edit/{{ value.id }}"
                ngbDropdownItem
                class="d-flex align-items-center"
                ><i data-feather="edit" class="mr-50"></i> Chỉnh sửa
              </a>

              <a
                href="javascript:void(0)"
                ngbDropdownItem
                class="d-flex align-items-center"
                (click) = "removeProfile(value.id)"
                ><i data-feather="trash-2" class="mr-50"></i> Xóa</a
              >
            </div>
          </div>

          <i data-feather="edit" class="text-primary cursor-pointer"></i>
        </div>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
  <!-- end table profile -->
</div>

<!-- form add profile -->
<div class="add-new-profile" *ngIf="showAddProfile">
  <app-profile-sidebar
    (submitProfile)="addProfile($event)"
  ></app-profile-sidebar>
</div>
<!-- and form add profile -->
