<div class="header-personal">
    <!-- search filter -->
    <div class="card">
        <!-- search -->
        <h5 class="card-header">Bộ lọc tìm kiếm</h5>
        <div class="card-body">
            <form class="form form-vertical" [formGroup]="formListSubscriberCertificate">
                <div class="row mb-1">
                    <div class="col-md-6">
                        <input name="distinguishedName" id="distinguishedName" type="search" class="form-control" formControlName="inputPersonal" placeholder="Nhập họ tên, email, địa chỉ" />
                    </div>
                </div>
                <div class="row mb-1">
                    <div class="col-md-2">
                        <label class="lable">Giới tính</label>
                        <fieldset class="form-group">
                            <ng-select [items]="gender" [clearable]="true" bindLabel="name" bindValue="name" placeholder="Giới tính">
                            </ng-select>
                        </fieldset>
                    </div>
                    <!-- <div class="col-md-2">
                        <label class="lable">Ngày sinh</label>
                        <div class="input-group input-group-merge">
                            <div class="input-group-prepend">
                                <span class="input-group-text" (click)="birthday.open()"><i data-feather="calendar"></i
                  ></span>
                            </div>
                            <input [matDatepicker]="birthday" formControlName="birthday" class="form-control" type="text" placeholder="19/04/1992" />
                        </div>
                        <mat-datepicker #birthday></mat-datepicker>
                    </div> -->
                </div>
                <div class="row mb-1">
                    <div class="col-12 mb-1">
                        <button class="btn btn-outline-secondary mr-1" rippleEffect (click)="moreOption = !moreOption">
                <!-- <span [data-feather]="'clock'" [class]="'mr-50'"></span> -->
                <i
                  data-feather="plus"
                  class="d-sm-none d-inline-block mr-0 mr-sm-1"
                ></i
                ><span class="d-none d-sm-inline-block">Thêm tùy chọn</span>
              </button>
                        <button type="button" rippleEffect class="btn btn-primary" (click)="onSubmit()" [disabled]="!formListSubscriberCertificate.valid">
                Tìm kiếm
              </button>
                    </div>
                </div>
                <div class="row" [ngbCollapse]="moreOption">
                    <div class="col-md-2">
                        <label for="">Số dòng:</label>
                        <fieldset class="form-group">
                            <ng-select [items]="sizePage" bindValue="sizePage" [clearable]="false" formControlName="sizePage" (change)="selectItem()"></ng-select>
                        </fieldset>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="table_content-wrap">
        <div class="card">
            <div class="row">
                <div class="col-12">
                    <div class="card-header">
                        <h5 class="card-title">Chọn một thuê bao để nhập chứng thư số</h5>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>TT</th>
                                    <th>CMND/CCCD</th>
                                    <th>HỌ VÀ TÊN</th>
                                    <th>NGÀY SINH</th>
                                    <th>GIỚI TÍNH</th>
                                    <th>EMAIL</th>
                                    <th>TỔ CHỨC</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of rows; let i = index">
                                    <td>{{ i + 1 }}</td>
                                    <td>{{item.personalCountryId}}</td>
                                    <td>{{ item.personalLastName }} {{ item.personalMiddleName }} {{ item.personalFirstName }}</td>
                                    <td>{{ item.birthday }}</td>
                                    <td>{{ item.gender }}</td>
                                    <td>{{ item.email | limitTo: 20 }}{{ item.email.length > 20 ? "..." : "" }}</td>
                                    <td>{{ item.organizationId == null ? "Không có" : "" }}</td>
                                    <!--
                                <td>
                                    <div ngbDropdown container="body">
                                        <button type="button" class="btn btn-sm hide-arrow" ngbDropdownToggle data-toggle="dropdown">
                                            <i class="feather icon-more-vertical"></i>
                                        </button>
                                        <div ngbDropdownMenu>
                                            <a ngbDropdownItem (click)="toggleSidebar(modalForm, item.subscriberId)">
                                                <i class="mr-50 feather icon-file-plus"></i>
                                                <span>Tạo yêu cầu chứng thực</span>
                                            </a>
                                        </div>
                                    </div>
                                </td>
                                -->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-between align-items-center">
                <div class="col-xl-2 ml-1">
                    <div class="total_item">{{ rows.length }} dòng</div>
                </div>
                <!-- <div class="col-xl-6 mt-1 mr-1">
                    <ngb-pagination [collectionSize]="totalPages" [pageSize]="formListSubscriberCertificate.controls.sizePage.value" [(page)]="pageAdvancedEllipses" [maxSize]="3" [rotate]="true" [boundaryLinks]="true" (pageChange)="changePage($event)" class="d-flex justify-content-end">
                        <ng-template ngbPaginationFirst>Đầu</ng-template>
                        <ng-template ngbPaginationLast>Cuối</ng-template>
                    </ngb-pagination>
                </div> -->
            </div>
        </div>
    </div>
    <!-- end search filter -->
    
</div>

