<div class="header-personal">
  <!-- search filter -->
  <div class="card">
    
    <!-- search -->
    <h5 class="card-header">Bộ lọc tìm kiếm</h5>
    <div class="card-body">
      <div class="row mb-1">
        <div class="col-md-6">
          <input
            name="distinguishedName"
            id="distinguishedName"
            type="search"
            class="form-control"
            placeholder="Nhập họ tên email địa chỉ"
          />
        </div>
      </div>
      <div class="users-list-filter">
        <form>
          <div class="row">
            <div class="col-12 col-md-3 justify-content-start">
              <label for="">Giới Tính:</label>
              <fieldset class="form-group">
                <ng-select
                  [items]="selectSex"
                  [(ngModel)]="slectedSex"
                  name="slectedSex"
                  bindLabel="name"
                  placeholder="Nam,Nữ"
                  (change)="filterByOganization($event)"
                ></ng-select>
              </fieldset>
            </div>
            <div class="col-12 col-md-3">
              <label for="">Ngày sinh:</label>
              <fieldset class="form-group">
                <input
                  [(ngModel)]="searchValue"
                  name="searchValue"
                  type="search"
                  class="form-control ml-25 col-12"
                  (keyup)="filterUpdate($event)"
                  placeholder="Ngày Sinh"
                />
              </fieldset>
            </div>
          </div>
        </form>
      </div>
    </div>
    
    <div class="row mb-1">
      <div class="col-12 ml-2">
        <button
          class="btn btn-outline-secondary mr-1"
          rippleEffect
          (click)="changeAb()"
        >
          <!-- <span [data-feather]="'clock'" [class]="'mr-50'"></span> -->
          <i data-feather="plus" class="d-sm-none d-inline-block mr-0 mr-sm-1"></i
          ><span class="d-none d-sm-inline-block">Thêm tùy chọn</span>
        </button>
      </div>
      <div class="col-12 ">
        <div class="cart-body d-flex mt-1" *ngIf="changeAB">
          <div class="col-3 col-md-2">
            <div class="form-group item_on_page">
              <div class="col-sm-6 col-md-12">
                
                  <!-- <select
                    class="form-control form-control-md mt-2"
                    (change)="selectItem($event)"
                  >
                    <option *ngFor="let size of pageSizes" [ngValue]="size">
                      {{ size }} dòng
                    </option>
                  </select> -->
                  <label for="">Số dòng:</label>
                  <fieldset class="form-group">
                    <ng-select
                      [items]="pageSizes"
                      bindValue="pageSizes"
                      [clearable]="false"
                      formControlName="sizePage"
                      placeholder="3"
                      (change)="selectItem($event)"
                    ></ng-select>
                  </fieldset>
                
              </div>
            </div>
          </div>
          <div class="col-3 col-md-3">
              <div class="col-12 col-md-12">
                <label for="">Thay đổi sau:</label>
                <fieldset class="form-group">
                  <input
                    name="changeAfter"
                    id="changeAfter"
                    class="form-control ml-25 col-12"
                    placeholder="dd-mm-yyyy"
                  />
                </fieldset>
              </div>
              <div class="col-12 col-md-12">
                <label for="">Thay đổi trước:</label>
                <fieldset class="form-group">
                  <input
                    name="changeBefore"
                    id="changeBefore"
                    class="form-control ml-25 col-12"
                    placeholder="dd-mm-yyyy"
                  />
                </fieldset>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- end search filter -->

  <div class="table_content-wrap">
    <div class="col-md-12 col-12 d-flex justify-content-start justify-content-md-end">
      <!-- (click)="toggleSidebar('new-personal-sidebar')" -->
      <button
        class="btn btn-primary ml-1 round mb-50"
        rippleEffect
        (click)="openNewPersonalModal(newPersonal)"
      >
        <span [data-feather]="'clock'" [class]="'mr-50'"></span>
        <i data-feather="plus" class="d-sm-none d-inline-block mr-0 mr-sm-1"></i
        ><span class="d-none d-sm-inline-block">Thêm Mới</span>
      </button>
      <ng-template #newPersonal let-modal>
        <div class="modal-header">
          <h2 class="modal-title" id="myModalLabel160">Đăng ký thuê bao cá nhân</h2>

          <button type="button" class="close btn-primary" (click)="toggleModal()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" tabindex="0" ngbAutofocus>
          <app-new-personal-sidebar (onClose) = "toggleModal()" (onUpdate) = "updateTable()" ></app-new-personal-sidebar>
        </div>
        
      </ng-template>
    </div>
    <!-- table content -->
    <div class="content-wrapper container-xxl p-0">
      <div class="content-body">
        <!-- User List -->
        <section class="users-list-wrapper">
          <div class="card">
            <!-- table -->
            <ngx-datatable
              [rows]="rows"
              [rowHeight]="60"
              class="bootstrap core-bootstrap"
              [limit]="selectedOption"
              [columnMode]="ColumnMode.force"
              [headerHeight]="50"
              [footerHeight]="50"
              [scrollbarH]="true"
            >
              <ngx-datatable-column
                name="STT"
                prop="index"
                [width]="10"
              ></ngx-datatable-column>
              <ngx-datatable-column
                name="CMND/CCCD"
                prop="personalCountryId"
                [width]="50"
              ></ngx-datatable-column>
              <ngx-datatable-column
                name="ngày sinh"
                prop="birthday"
                [width]="50"
              ></ngx-datatable-column>

              <ngx-datatable-column
                name="Hoạt động"
                prop="isActive"
                [width]="40"
              >
                <ng-template let-status="value" ngx-datatable-cell-template>
                  <a href="">
                    <div>
                      {{ status }}
                    </div>
                  </a>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Họ và tên" prop="" [width]="100">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.personalFirstName }} {{ row.personalMiddleName }}
                  {{ row.personalLastName }}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                name="thời gian cập nhật"
                prop="updatedAt"
                [width]="100"
              >
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.updatedAt.slice(0, 10) }}
                  {{ row.updatedAt.slice(11, 19) }}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                name="Tổ chức"
                prop="organizationId"
                [width]="100"
              >
              </ngx-datatable-column>
              <!-- <ngx-datatable-column name="Số điện thoại" prop="phoneNumber" [width]="100"></ngx-datatable-column> -->

              <ngx-datatable-column
                name="Xem thêm"
                [width]="40"
                [sortable]="false"
              >
                <ng-template ngx-datatable-cell-template let-row="row">
                  <div ngbDropdown container="body">
                    <button
                      ngbDropdownToggle
                      type="button"
                      class="btn icon-btn btn-sm hide-arrow"
                      rippleEffect
                    >
                      <span
                        [data-feather]="'more-vertical'"
                        [class]="'cursor-pointer'"
                      ></span>
                    </button>
                    <div ngbDropdownMenu>
                      <a
                        routerLink="../subscribers/personals/personal-view/{{
                          row.personalId
                        }}"
                        ngbDropdownItem
                        ><span
                          [data-feather]="'file-text'"
                          [size]="16"
                          [class]="'mr-50'"
                        ></span>
                        Details</a
                      ><a
                        routerLink="/apps/user/user-edit/{{ row.id }}"
                        ngbDropdownItem
                        ><span
                          [data-feather]="'edit'"
                          [size]="16"
                          [class]="'mr-50'"
                        ></span>
                        Edit</a
                      ><a href="javascript:;" ngbDropdownItem
                        ><span
                          [data-feather]="'trash'"
                          [size]="16"
                          [class]="'mr-50'"
                        ></span>
                        Delete</a
                      >
                    </div>
                  </div>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </section>
        <!--/ User List -->

        <div class="pagination">
          <!-- <ngb-pagination 
                [collectionSize]="70" 
                [(page)]="pageBasicText" 
                aria-label="Default pagination" 
                (pageChange)='changePage($event)' >
                <ng-template ngbPaginationPrevious
                  ><span [data-feather]="'chevron-left'" [size]="18" [class]="'font-weight-bolder'"></span>
                </ng-template>
                <ng-template ngbPaginationNext
                  ><span [data-feather]="'chevron-right'" [size]="18" [class]="'font-weight-bolder'"></span
                ></ng-template>
              </ngb-pagination> -->

          <ngb-pagination
            [(collectionSize)]="totalPages"
            [(page)]="pageAdvancedEllipses"
            [maxSize]="3"
            [rotate]="true"
            [boundaryLinks]="true"
            (pageChange)="changePage($event)"
          >
            <ng-template ngbPaginationFirst>First</ng-template>
            <ng-template ngbPaginationPrevious
              ><span
                [data-feather]="'chevron-left'"
                [class]="'font-weight-bolder'"
              ></span
              >Prev
            </ng-template>
            <ng-template ngbPaginationNext
              >Next<span
                [data-feather]="'chevron-right'"
                [class]="'font-weight-bolder'"
              ></span>
            </ng-template>
            <ng-template ngbPaginationLast>Last</ng-template>
          </ngb-pagination>
        </div>
      </div>

      <!-- New User Sidebar -->

    </div>
    <!-- end table content -->
  </div>

</div>
