<form class="form form-horizontal pt-0 " [formGroup] = "newOrganization">
  <!-- thông tin cá nhân -->
  <div class="form_content">
    <div class="row">
      <div class="col-12 col-md-3">
        <div class="form-group ">
          <div class="col-sm-12 col-form-label">
            <label>TÊN TỔ CHỨC</label>
          </div>
          <div class="col-sm-12">
            <div 
              class="input-group input-group-merge"
              [ngClass]="
                f.organizationName.errors && f.organizationName?.touched || submitted && f.organizationName?.errors?.required
                  ? 'is-invalid'
                  : ''
              "
              >
              <div class="input-group-prepend">
                <span class="input-group-text"><span [data-feather]="'user'"></span></span>
              </div>
              <input
              [ngClass]="
                  f.organizationName.errors && f.organizationName?.touched || submitted && f.organizationName?.errors?.required
                    ? 'is-invalid'
                    : ''
                "
                formControlName="organizationName"    
                type="text"
                id="fname-icon-1"
                class="form-control"
                name="fname-icon-1"
                placeholder="Tên tổ chức"
              />
            </div>
          </div>
          <div class="col-sm-12">
            <span *ngIf="submitted && f.organizationName.errors || f.organizationName.errors && f.organizationName?.touched"  class="invalid-form">
              <small class="form-text text-danger" >
                Không được bỏ trống 
              </small>
            </span>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-3">
        <div class="form-group ">
          <div class="col-sm-12 col-form-label">
            <label>TÊN LÃNH ĐẠO</label>
          </div>
          <div class="col-sm-12">
            <div 
              class="input-group input-group-merge"
              [ngClass]="
                f.leaderName.errors && f.leaderName?.touched || submitted && f.leaderName?.errors?.required
                  ? 'is-invalid'
                  : ''
              "
              >
              <div class="input-group-prepend">
                <span class="input-group-text" ><span [data-feather]="'user'"></span></span>
              </div>
              <input
              [ngClass]="
                f.leaderName.errors && f.leaderName?.touched || submitted && f.leaderName?.errors?.required
                  ? 'is-invalid'
                  : ''
              "
                formControlName="leaderName"    
                type="text"
                id="fname-icon-4"
                class="form-control"
                name="fname-icon-4"
                placeholder="Tên lãnh đạo"
              />
            </div>
          </div>
          <div class="col-sm-12">
            <span *ngIf="submitted && f.leaderName.errors || f.leaderName.errors && f.leaderName?.touched"  class="invalid-form">
              <small class="form-text text-danger" >
                Không được bỏ trống </small>
            </span>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-3">
        <div class="form-group ">
          <div class="col-sm-12 col-form-label">
            <label>SỐ ĐIỆN THOẠI</label>
          </div>
          <div class="col-sm-12">
            <div 
              class="input-group input-group-merge"
              [ngClass]="
                f.phoneNumber.errors && f.phoneNumber?.touched || submitted && f.phoneNumber?.errors?.required
                  ? 'is-invalid'
                  : ''
              "
              >
              <div class="input-group-prepend">
                <span class="input-group-text"><span [data-feather]="'phone-call'"></span></span>
              </div>
              <input
              [ngClass]="
                f.phoneNumber.errors && f.phoneNumber?.touched || submitted && f.phoneNumber?.errors?.required
                  ? 'is-invalid'
                  : ''
              "
                cleanInput
                formControlName="phoneNumber"    
                type="text"
                id="fname-icon-2"
                class="form-control"
                name="fname-icon-2"
                placeholder="Số điện thoại"
              />
            </div>
          </div>
          <div class="col-sm-12">
            <span *ngIf="f.phoneNumber.errors && f.phoneNumber?.touched || submitted && f.phoneNumber?.errors?.required"  class="invalid-form">
              <small 
                class="form-text text-danger" 
                *ngIf="f.phoneNumber.errors.required"
                >
                Không được bỏ trống 
              </small>
              <small
                class="form-text text-danger"
                *ngIf="f.phoneNumber.errors.minLength"
              >
                Phải đủ 10 số
              </small>
              <small
                class="form-text text-danger"
                *ngIf="f.phoneNumber.errors.pattern"
              >
                Không được chứa chữ cái hoặc khoảng trắng 
              </small>
            </span>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-3">
        <div class="form-group ">
          <div class="col-sm-12 col-form-label">
            <label>WEBSIDE</label>
          </div>
          <div class="col-sm-12">
            <div 
              class="input-group input-group-merge"
              [ngClass]="
                f.website.errors && f.website?.touched || submitted && f.website?.errors?.required
                  ? 'is-invalid'
                  : ''
              "
              >
              
              <input
              [ngClass]="
                f.website.errors && f.website?.touched || submitted && f.website?.errors?.required
                  ? 'is-invalid'
                  : ''
              "
                formControlName="website"    
                
                type="text"
                id="fname-icon-3"
                class="form-control"
                name="fname-icon-3"
                placeholder="cmc.com.vn"
              />
            </div>
          </div>
          <div class="col-sm-12">
            <span *ngIf="submitted && f.website.errors || f.website.errors && f.website?.touched"  class="invalid-form">
              <small class="form-text text-danger" >
                Không được bỏ trống </small>
            </span>
          </div>
        </div>
      </div>         
    </div>
    <div class="row">
      <div class="col-12 col-md-3">
        <div class="form-group ">
          <div class="col-sm-12 col-form-label">
            <label>ID QUỐC GIA TỔ CHỨC</label>
          </div>
          <div class="col-sm-12">
            <div 
            [ngClass]="
            f.countryOrganizationId.errors && f.countryOrganizationId?.touched || submitted && f.countryOrganizationId?.errors?.required
              ? 'is-invalid'
              : ''
          "
              class="input-group input-group-merge">
              <div class="input-group-prepend">
                <span class="input-group-text"><span [data-feather]="'more-horizontal'"></span></span>
              </div>
              <input
              [ngClass]="
                f.countryOrganizationId.errors && f.countryOrganizationId?.touched || submitted && f.countryOrganizationId?.errors?.required
                  ? 'is-invalid'
                  : ''
              "
              formControlName="countryOrganizationId" 
                type="text"
                id="fname-icon-5"
                class="form-control"
                name="fname-icon-5"
                placeholder="114"
              />
            </div>
          </div>
          <div class="col-sm-12">
            <span *ngIf="submitted && f.countryOrganizationId.errors || f.countryOrganizationId.errors && f.countryOrganizationId?.touched"  class="invalid-form">
              <small class="form-text text-danger" >
                Không được bỏ trống </small>
            </span>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-3">
        <div class="form-group">
          <div class="col-sm-12 col-form-label">
            <label class="lable">TỔ CHỨC CHA</label>
          </div>
          <div class="col-sm-12">
            <ng-select
              [items]="organizationList"
              [clearable]="true"
              bindLabel="organizationName"
              bindValue="parentOrganizationId"
              formControlName="parentOrganizationId"
              
             
            >
              >
            </ng-select>
          </div>
          
        </div>
      </div>
      <div class="col-12 col-md-3">
        <div class="form-group">
          <div class="col-sm-12 col-form-label">
            <label class="lable">LOẠI TỔ CHỨC</label>
          </div>
          <div class="col-sm-12">
            <ng-select
              [items]="typeOrganization"
              [clearable]="false"
              bindLabel="subscriberCategoryName"
              bindValue="subscriberCategoryId"
              formControlName="subscriberCategoryId"
              
              [ngClass]="
                (f.subscriberCategoryId.errors && f.subscriberCategoryId?.touched) ||
                (submitted && f.subscriberCategoryId?.errors?.required)
                  ? 'is-invalid'
                  : ''
              "
            >
              >
            </ng-select>
          </div>
          <div class="col-sm-12">
            <span
              *ngIf="
                (f.subscriberCategoryId.errors && f.subscriberCategoryId?.touched) ||
                (submitted && f.subscriberCategoryId?.errors?.required)
              "
              class="invalid-form"
            >
              <small class="form-text text-danger"> không được bỏ trống</small>
            </span>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-3">
        <div class="form-group ">
          <div class="col-sm-12 col-form-label">
            <label>EMAIL</label>
          </div>
          <div class="col-sm-12">
            <div 
              class="input-group input-group-merge"
              [ngClass]="
                  f.email.errors && f.email?.touched || submitted && f.email?.errors?.required
                    ? 'is-invalid'
                    : ''
                "
              >
              <div class="input-group-prepend">
                <span class="input-group-text"><span [data-feather]="'credit-card'"></span></span>
              </div>
              <input
                [ngClass]="
                    f.email.errors && f.email?.touched || submitted && f.email?.errors?.required
                      ? 'is-invalid'
                      : ''
                  "
                formControlName="email"
                class="form-control input-md" 
                type="text"
                id="fname-icon-8"
                class="form-control"
                name="fname-icon-8"
                placeholder="huutien1904@gmail.com"
              />
            </div>
          </div>
          <div class="col-sm-12">
            <span *ngIf="submitted && f.email.errors || f.email.errors && f.email?.touched"  class="invalid-form">
              <small class="form-text text-danger" >
                Không được bỏ trống </small>
            </span>
          </div>
        </div>
      </div>         
    </div>
    <h3>Địa chỉ</h3>
    <div class="row">
      <div class="col-12 col-md-2">
        <div class="form-group ">
          <div class="col-sm-12 col-form-label">
            <label>QUỐC GIA</label>
          </div>
          <div class="col-sm-12">
            <ng-select
            [ngClass]="
              f.country.errors && f.country?.touched || submitted && f.country?.errors?.required
                ? 'is-invalid'
                : ''
                "
                [items]="country"
                bindLabel="countryName"
                bindValue="countryId"
                [clearable]="false"
                placeholder="Việt Nam"
                formControlName="country"
              >
            </ng-select>
          </div>
          <div class="col-sm-12">
            <span *ngIf="submitted && f.country.errors"  class="invalid-form">
              <small class="form-text text-danger" >
                Không được bỏ trống </small>
            </span>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-3">
        <div class="form-group ">
          <div class="col-sm-12 col-form-label">
            <label>TỈNH </label>
          </div>
          <div class="col-sm-12">
            <ng-select
              [ngClass]="
              f.province.errors && f.province?.touched || submitted && f.province?.errors?.required
                ? 'is-invalid'
                : ''
              "
                [items]="province"
                bindLabel="provinceDisplay"
                bindValue="provinceId"
                [clearable]="false"
                placeholder="Tỉnh/Thành phố"
                formControlName="province"
                (change)="selectProvince()"
              >
            </ng-select>
          </div>
          <div class="col-sm-12">
            <span *ngIf="submitted && f.province.errors"  class="invalid-form">
              <small class="form-text text-danger" >
                Không được bỏ trống </small>
            </span>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-3">
        <div class="form-group ">
          <div class="col-sm-12 col-form-label">
            <label>HUYỆN</label>
          </div>
          <div class="col-sm-12" [ngbTooltip]="
              f.province.disabled == true || f.province.value==null
                ? 'Phải chọn Thành phố/Tỉnh trước khi chọn Quận/Huyện.'
                : ''
            "
            placement="top">
            <ng-select
              [ngClass]="
              f.district.errors && f.district?.touched || submitted && f.district?.errors?.required
                ? 'is-invalid'
                : ''
              "
                [items]="district"
                bindLabel="districtDisplay"
                bindValue="districtId"
                [clearable]="false"
                placeholder="Huyện"
                formControlName="district"
                (change)="selectDistrict()"

              >
            </ng-select>
          </div>
          <div class="col-sm-12">
            <span *ngIf="submitted && f.district.errors"  class="invalid-form">
              <small class="form-text text-danger" >
                Không được bỏ trống </small>
            </span>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-3">
        <div class="form-group ">
          <div class="col-sm-12 col-form-label">
            <label>XÃ</label>
          </div>
          <div class="col-sm-12" [ngbTooltip]="
              f.district.disabled == true || f.district.value==null
                ? 'Phải chọn Quận/Huyện trước khi chọn Xã/Phường'
                : ''
            "
            placement="top">
            <ng-select
              [ngClass]="
              f.commune.errors && f.commune?.touched || submitted && f.commune?.errors?.required
                ? 'is-invalid'
                : ''
              "
                [items]="commune"
                bindLabel="communeDisplay"
                bindValue="communeId"
                [clearable]="false"
                placeholder="Xã"
                formControlName="commune"
                (change)="selectCommune()"
              >
            </ng-select>
          </div>
          <div class="col-sm-12">
            <span *ngIf="submitted && f.commune.errors"  class="invalid-form">
              <small class="form-text text-muted danger" >
                Không được bỏ trống </small>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-3">
        <div class="form-group ">
          <div class="col-sm-12 col-form-label">
            <label>Đường</label>
          </div>
          <div class="col-sm-12" [ngbTooltip]="
              f.commune.disabled == true || f.commune.value==null
                ? 'Phải chọn Xã/Phường trước khi chọn đường.'
                : ''
            "
            placement="top">
            <ng-select
              [ngClass]="
              f.street.errors && f.street?.touched || submitted && f.street?.errors?.required
                ? 'is-invalid'
                : ''
              "
                [items]="street"
                bindLabel="streetName"
                bindValue="streetId"
                [clearable]="false"
                placeholder="Đường"
                formControlName="street"
                (change)="selectStreet()"
              >
              <ng-template ng-header-tmp>
                <div
                  [ngbTooltip]="
                  f.commune.value == null
                    ? 'Phải chọn Xã/Phường trước khi thêm đường.'
                    : ''
                "
                placement="right"
                >
                  <button
                    class="
                      btn btn-flat-success
                      cursor-pointer
                      rounded-0
                      text-left
                      p-50
                      w-100
                    "
                    (click)="
                      modalOpenCreateStreet(modalOpenStreet)
                    "
                    [disabled]="f.commune.value == null"
                  >
                    <i data-feather="plus"></i>
                    <span class="align-middle ml-25">Thêm Đường</span>
                  </button>
                </div>
              </ng-template>
              <ng-template #modalOpenStreet let-modal>
                <div class="modal-header">
                  <h5 class="modal-title" id="myModalLabel160">
                    Thêm mới thông tin Đường
                  </h5>
                  <button
                    type="button"
                    class="close"
                    (click)="modal.dismiss('Cross click')"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body" tabindex="0" ngbAutofocus>
                  <div class="form-group">
                    <small class="text-muted">
                      Ví dụ:<i>Trần Hưng Đạo</i></small
                    >
                    <input
                      type="text"
                      name="addStreet"
                      id="addStreet"
                      #addStreet
                      class="form-control"
                    />
                  </div>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-success"
                    (click)="
                      onSubmitCreateStreet(addStreet.value)
                        ? modal.close()
                        : false
                    "
                    data-dismiss="closeModal"
                    rippleEffect
                  >
                    Thêm
                  </button>
                </div>
              </ng-template>
            </ng-select>
          </div>
          <div class="col-sm-12">
            <span *ngIf="submitted && f.street.errors"  class="invalid-form">
              <small class="form-text text-danger" >
                Không được bỏ trống </small>
            </span>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="form-group ">
          <div class="col-sm-12 col-form-label">
            <label>ĐỊA CHỈ CỤ THỂ</label>
          </div>
          <div class="col-sm-12" [ngbTooltip]="
              f.street.disabled == true || f.street.value==null
                ? 'Phải chọn Xã/Phường trước khi chọn đường'
                : ''
            "
            placement="top">
            <div class="input-group input-group-merge">
              
              <input
              formControlName="homeNumber"  
              [ngClass]="{ 'error_icon': submitted && f.homeNumber.errors }" 
                type="text"
                id="fname-icon"
                class="form-control"
                name="fname-icon"
                placeholder="83 Yên Phúc ,Hà Đông ,Hà Nội"
              />
            </div>
          </div>
          <div class="col-sm-12">
            <span *ngIf="submitted && f.homeNumber.errors"  class="invalid-form">
              <small class="form-text text-muted danger" >
                Không được bỏ trống </small>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 d-flex justify-content-end pb-1">
    <button type="submit" rippleEffect class="btn btn-primary mr-1" (click)="onSubmit()" >TẠO</button>
  </div>
  
</form>