
@import '@core/scss/base/pages/app-user.scss';
@import '@core/scss/angular/libs/select.component.scss';
input:disabled{
    background-color: transparent ;
}
.ng-select.is-invalid ::ng-deep .ng-select-container{
    border-color: #ff0000;
}
.ng-select.ng-select-disabled ::ng-deep .ng-select-container {
    background-color: transparent!important;
}