<ngx-datatable
  class="bootstrap core-bootstrap mt-1"
  [headerHeight]="40"
  [rowHeight]="58"
  [limit]="10"
  [columnMode]="ColumnMode.force"
  [footerHeight]="50"
  [rows]="childData"
  [scrollbarH]="true"
  [selected]="chkBoxSelected"
  (select)="customCheckboxOnSelect($event)"
  (select)="onSelect($event)"
  [selectionType]="SelectionType.checkbox"
  
>
  <ngx-datatable-column
    [width]="40"
    [sortable]="false"
    [canAutoResize]="false"
    [draggable]="false"
    [resizeable]="false"
    class="ml-1"
  >
    <ng-template
      ngx-datatable-header-template
      let-value="value"
      let-allRowsSelected="allRowsSelected"
      let-selectFn="selectFn"
    >
      <div class="custom-control custom-control-primary custom-checkbox">
        <input
          type="checkbox"
          class="custom-control-input"
          [checked]="allRowsSelected"
          (change)="selectFn(!allRowsSelected)"
          id="headerCustomChkbxRef"
        />
        <label class="custom-control-label" for="headerCustomChkbxRef"></label>
      </div>
    </ng-template>

    <ng-template
      ngx-datatable-cell-template
      let-rowIndex="rowIndex"
      let-value="value"
      let-isSelected="isSelected"
      let-onCheckboxChangeFn="onCheckboxChangeFn"
    >
      <div class="custom-control custom-control-primary custom-checkbox">
        <input
          type="checkbox"
          class="custom-control-input"
          [checked]="isSelected"
          (change)="onCheckboxChangeFn($event)"
          id="rowCustomChkbxRef{{ rowIndex }}"
        />
        <label
          class="custom-control-label"
          for="rowCustomChkbxRef{{ rowIndex }}"
        ></label>
      </div>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column
    name="TT"
    [width]="20"
    [canAutoResize]="false"
    [sortable]="false"
  >
    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex">
      {{ rowIndex + 1 }}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column [width]="280" name="HỌ VÀ TÊN" prop="personalFirstName">
    <ng-template
      ngx-datatable-cell-template
      let-rowIndex="rowIndex"
      let-value="value"
      let-row="row"
    >
      <div
        title="Double click to edit"
        (dblclick)="editingName[rowIndex + '-personalFirstName' ] = true"
        *ngIf="!editingName[rowIndex + '-personalFirstName']"
      >
        <div class="d-flex align-items-center">
          <div class="cell-line-height">
            <p class="font-medium-1 line-height-1 mb-0">
              {{ row.personalFirstName }} {{ row.personalMiddleName }}
              {{ row.personalLastName }}
            </p>
          </div>
        </div>
      </div>
      <input
        autofocus
        class="form-control form-control-sm"
        (blur)="inlineEditingUpdateName($event, 'personalFirstName', rowIndex)"
        *ngIf="editingName[rowIndex + '-personalFirstName']"
        type="text"
        [value]="value"
      />
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column
    [width]="150"
    name="CCCD/PASSPORT"
    prop="personalCountryId"
  >
    <ng-template
      ngx-datatable-cell-template
      let-rowIndex="rowIndex"
      let-value="value"
      let-row="row"
    >
      <div
        title="Double click to edit"
        (dblclick)="editingPersonalId[rowIndex + '-personalCountryId'] = true"
        *ngIf="!editingPersonalId[rowIndex + '-personalCountryId']"
      >
        <div class="d-flex align-items-center">
          <div class="cell-line-height">
            <p class="font-medium-1 line-height-1 mb-0">{{ value }}</p>
          </div>
        </div>
      </div>
      <input
        autofocus
        class="form-control form-control-sm"
        (blur)="inlineEditingUpdatePersonalId($event, 'personalCountryId', rowIndex)"
        *ngIf="editingPersonalId[rowIndex + '-personalCountryId']"
        type="text"
        [value]="value"
      />
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column [width]="100" name="NGÀY SINH" prop="birthday">
    <ng-template
      ngx-datatable-cell-template
      let-rowIndex="rowIndex"
      let-value="value"
      let-row="row"
    >
      <div
        title="Double click to edit"
        (dblclick)="editingBirthday[rowIndex + '-birthday'] = true"
        *ngIf="!editingBirthday[rowIndex + '-birthday']"
      >
        <div class="d-flex align-items-center">
          <div class="cell-line-height">
            <p class="font-medium-1 line-height-1 mb-0">{{ value }}</p>
            
          </div>
        </div>
      </div>
      <input
        autofocus
        class="form-control form-control-sm"
        (blur)="inlineEditingUpdateBirthday($event, 'birthday', rowIndex)"
        *ngIf="editingBirthday[rowIndex + '-birthday']"
        type="text"
        [value]="value"
      />
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column [width]="50" name="GIỚI TÍNH" prop="gender">
    <ng-template
      ngx-datatable-cell-template
      let-rowIndex="rowIndex"
      let-value="value"
      let-row="row"
    >
      <div
        title="Double click to edit"
        (dblclick)="editingGender[rowIndex + '-gender'] = true"
        *ngIf="!editingGender[rowIndex + '-gender']"
      >
        <!-- <div
          class="badge badge-pill"
          [ngClass]="{
            'badge-light-primary': value == '1',
            'badge-light-success': value == '2',
            'badge-light-danger': value == '3',
            'badge-light-warning': value == '4',
            'badge-light-info': value == '5'
          }"
        >
          {{
              value == 1
              ? 'Nam'
              : value == 2
              ? 'Nữ'
              : 'Nam'
          }}
        </div> -->
        <div class="d-flex align-items-center">
          <div class="cell-line-height">
            <p class="font-medium-1 line-height-1 mb-0">{{ value }}</p>
            <span class="text-muted font-small-2"> {{ row.post }}</span>
          </div>
        </div>
      </div>
      <select
        *ngIf="editingGender[rowIndex + '-gender']"
        (blur)="editingGender[rowIndex + '-gender'] = false"
        (change)="inlineEditingUpdateGender($event, 'gender', rowIndex)"
        [value]="value"
        class="form-control form-control-sm"
      >
        <option value="Nam">Nam</option>
        <option value="Nữ">Nữ</option>
      </select>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column [width]="200" name="THƯ ĐIỆN TỬ" prop="email">
    <ng-template
      ngx-datatable-cell-template
      let-rowIndex="rowIndex"
      let-value="value"
      let-row="row"
    >
      <div
        title="Double click to edit"
        (dblclick)="editingEmail[rowIndex + '-email'] = true"
        *ngIf="!editingEmail[rowIndex + '-email']"
      >
        <div class="d-flex align-items-center">
          <div class="cell-line-height">
            <p class="font-medium-1 line-height-1 mb-0">{{ value }}</p>
          </div>
        </div>
      </div>
      <input
        autofocus
        class="form-control form-control-sm"
        (blur)="inlineEditingUpdateEmail($event, 'email', rowIndex)"
        *ngIf="editingEmail[rowIndex + '-email']"
        type="text"
        [value]="value"
      />
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column
    name="Hành động"
    [width]="70"
    [sortable]="false"
    prop=""
  >
    <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
      <div class="d-flex align-items-center">
        <div ngbDropdown container="body">
          <a
            ngbDropdownToggle
            href="javascript:void(0);"
            class="hide-arrow"
            id="dropdownBrowserState"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <i
              data-feather="more-vertical"
              class="text-primary cursor-pointer mr-50"
            ></i>
          </a>
          <div
            ngbDropdownMenu
            class="dropdown-menu-right"
            aria-labelledby="dropdownBrowserState"
          >
            <a href="#" ngbDropdownItem class="d-flex align-items-center"
              ><i data-feather="file-text" class="mr-50"></i> Chi tiết</a
            >
            <a
              href="javascript:void(0)"
              ngbDropdownItem
              class="d-flex align-items-center"
              (click) = openModalEdit(editPersonal)
              ><i data-feather="edit" class="mr-50"></i> Chỉnh sửa</a
            >
            <ng-template #editPersonal let-modal>
              <div class="modal-header">
                <h2 class="modal-title" id="myModalLabel160">
                  Chỉnh sửa thuê bao cá nhân
                  
                  <!-- {{value.personalId}} -->
                </h2>
                <button
                  type="button"
                  class="close btn-primary"
                  (click)="modal.close()"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body" tabindex="0" ngbAutofocus>
                <!-- <app-new-personal-sidebar
                  (onUpdate)="updateTableOnAdd()"
                  (onClose) = "closeModel()"
                ></app-new-personal-sidebar> -->
                <!-- <app-personal-list-edit ></app-personal-list-edit> -->
                
                <form class="form" [formGroup]="editPersonal">
                  <div class="row">
                    <div class="col-md-3 col-12">
                      <div class="form-group">
                        <label for="first-name-column">HỌ</label>
                        <input
                          type="text"
                          id="first-name-column"
                          class="form-control"
                          placeholder="First Name"
                          name="fname-column"
                          value="{{row.personalFirstName}}"
                          formControlName="personalFirstName"
                        />
                      </div>
                    </div>
                    <div class="col-md-3 col-12">
                      <div class="form-group">
                        <label for="last-name-column">TÊN ĐỆM</label>
                        <input
                          type="text"
                          id="last-name-column"
                          class="form-control"
                          placeholder="Last Name"
                          name="lname-column"
                          value="{{row.personalMiddleName}}"
                          formControlName="personalMiddleName"
                        />
                      </div>
                    </div>
                    <div class="col-md-3 col-12">
                      <div class="form-group">
                        <label for="city-column">TÊN</label>
                        <input 
                          type="text" 
                          id="city-column" 
                          class="form-control" 
                          placeholder="City" 
                          name="city-column" 
                          value="{{row.personalLastName}}"
                          formControlName="personalLastName"
                          />
                      </div>
                    </div>
                    <div class="col-md-3 col-12">
                      <div class="form-group">
                        <label for="country-floating">SỐ CCCD/PASSPORT
                        </label>
                        <input
                          type="text"
                          id="country-floating"
                          class="form-control"
                          name="country-floating"
                          placeholder="Country"
                          value="{{row.personalCountryId}}"
                          formControlName="personalCountryId"
                        />
                      </div>
                    </div>
                    <div class="col-md-3 col-12">
                      <div class="form-group">
                        <label for="company-column">NGÀY SINH
                        </label>
                        <input
                          type="text"
                          id="company-column"
                          class="form-control"
                          name="company-column"
                          placeholder="Company"
                          value="{{row.birthday}}"
                          formControlName="birthday"
                        />
                      </div>
                    </div>
                    <div class="col-md-3 col-12">
                      <div class="form-group">
                        <label for="email-id-column">GIỚI TÍNH</label>
                        <input
                          type="email"
                          id="email-id-column"
                          class="form-control"
                          name="email-id-column"
                          placeholder="Email"
                          value="{{row.gender}}"
                          formControlName="gender"

                        />
                      </div>
                    </div>
                    <div class="col-md-3 col-12">
                      <div class="form-group">
                        <label for="company-column">THƯ ĐIỆN TỬ (EMAIL)
                        </label>
                        <input
                          type="text"
                          id="company-column"
                          class="form-control"
                          name="company-column"
                          placeholder="Thư điện tử"
                          value="{{row.email}}"
                          formControlName="email"
                        />
                      </div>
                    </div>
                    <div class="col-md-3 col-12">
                      <div class="form-group">
                        <label for="email-id-column">SỐ ĐIỆN THOẠI
                        </label>
                        <input
                          type="email"
                          id="email-id-column"
                          class="form-control"
                          name="email-id-column"
                          placeholder="Số điện thoại"
                          value="{{row.phoneNumber}}"
                          formControlName="phoneNumber"
                        />
                      </div>
                    </div>
                    <div class="col-12 d-flex justify-content-end mt-2">
                      <button type="submit" rippleEffect class="btn btn-primary mr-1" (click)="onEdit()">Cập Nhật</button>
                    </div>
                  </div>
                </form>
  
              </div>
            </ng-template>
            <a
              href="javascript:void(0)"
              (click)="deletePersonal(value.personalId)"
              ngbDropdownItem
              class="d-flex align-items-center"
              ><i data-feather="trash-2" class="mr-50"></i> Xóa</a
            >
          </div>
        </div>

        <i data-feather="edit" class="text-primary cursor-pointer"></i>
      </div>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-footer>
    <ng-template
      ngx-datatable-footer-template
      let-rowCount="rowCount"
      let-pageSize="pageSize"
      let-selectedCount="selectedCount"
      let-curPage="curPage"
      let-offset="offset"
      let-isVisible="isVisible"
    >
      <div class="page-count" *ngIf="!isLoading">
        <span *ngIf="chkBoxSelected">
          Đã chọn {{ chkBoxSelected.length }} /
        </span>
        {{ rowCount.toLocaleString() }} {{ totalMessage }} hàng.
      </div>
      <!-- <datatable-pager
        [pagerLeftArrowIcon]="'datatable-icon-left'"
        [pagerRightArrowIcon]="'datatable-icon-right'"
        [pagerPreviousIcon]="'datatable-icon-prev'"
        [pagerNextIcon]="'datatable-icon-skip'"
        [page]="curPage"
        [size]="pageSize"
        [count]="rowCount"
        [hidden]="!(rowCount / pageSize > 1)"
        (change)="table.onFooterPage($event)"
      >
      </datatable-pager> -->
    </ng-template>
  </ngx-datatable-footer>

  
</ngx-datatable>

<div class="d-flex justify-content-end">
  <button type="button" (click) = "updateTable()" class="btn btn-primary m-1" rippleEffect>
    Cập Nhật
  </button>
</div>
