
<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <section id="search-token-management" class="row">
      <div class="col-md-6">
        <form class="form form-horizontal" [formGroup]="formSelectSearch">
          <div class="row">
            <div class="col-12">
              <div class="form-group row">
                <div class="col-sm-3 col-form-label">
                  <h5>Loại tạo mới :</h5>
                </div>
                <div class="col-sm-9">
                  <ng-select
                    [items]="searchType"
                    bindLabel="name"
                    placeholder="Chọn loại tạo mới"
                    formControlName="searchType"
                    (change) = "changeSelect($event)"
                  >
                  </ng-select>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </section>

    
    <section id="search-content"  *ngIf="formSelectSearch.valid"  [ngSwitch]="formSelectSearch.controls['searchType'].value.key" >
      <div *ngSwitchCase="'Thuê bao cá nhân'">
        <div class="personal_form">
          <app-new-personal-sidebar></app-new-personal-sidebar>
        </div>
      </div>
      <div *ngSwitchCase="'Thuê bao tổ chức'">
        <div class="organization_form">
          <app-new-organization-sidebar ></app-new-organization-sidebar>
        </div>
      </div>
      <div *ngSwitchCase="'Danh sách thuê bao cá nhân'">
        <div class="">
          <app-personal-list-create> </app-personal-list-create>
        </div>
      </div>
      <div *ngSwitchCase="'Danh sách thuê bao tổ chức'">
        <div class="">
          <app-organization-list-create></app-organization-list-create>
        </div>
      </div>
    </section>

  </div>
</div>




