@import '@core/scss/angular/libs/datatables.component.scss';
@import '@core/scss/angular/libs/select.component.scss';
@import '@core/scss/base/pages/ui-feather.scss';
@import '@core/scss/base/pages/app-user.scss';

.personal_form {
    .personal-form{
        border:none;
        background-color: transparent;
    }
}
.organization_form {
    .organization-form{
        border:none;
        background-color: transparent;
    }
}