<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <app-content-header [contentHeader]="contentHeader"> </app-content-header>
    <div class="content-body">
      <section>
        <div class="card">
          <div class="card-body">
            <h3>Tạo mới Template</h3>
            <form [formGroup]="templateFormView" class="form form-horizontal">
              <div class="form_content">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Tên Template</label>
                      <input
                        type="text"
                        class="form-control"
                        formControlName="keypairTemplateName"
                      />
                      <div
                        *ngIf="
                          (f.keypairTemplateName.errors && f.keypairTemplateName?.touched) ||
                          (submitted && f.keypairTemplateName?.errors?.required)
                        "
                        class="invalid-feedback"
                      >
                        <div *ngIf="f.keypairTemplateName.errors.required">
                          Bạn cần điền tên Template
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>privateKeyExtractable</label>
                      <input
                        type="text"
                        class="form-control"
                        formControlName="keypairTemplateName"
                      />
                      <div
                        *ngIf="
                          (f.keypairTemplateName.errors && f.keypairTemplateName?.touched) ||
                          (submitted && f.keypairTemplateName?.errors?.required)
                        "
                        class="invalid-feedback"
                      >
                        <div *ngIf="f.keypairTemplateName.errors.required">
                          Bạn cần điền tên Template
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- <div class="row">
                    <div class="col-md-10 offset-2">
                      <div class="d-flex justify-content-end m-1">
                        <button
                          class="btn btn-primary mr-1"
                          (click)="onSubmit()"
                          rippleEffect
                        >
                          <span class="d-sm-none d-inline-block">Tạo mới</span>
                          <span class="d-none d-sm-inline-block"
                            >Tạo mới cặp khóa</span
                          >
                        </button>
                        <app-return [buttonReturn]="buttonReturn"> </app-return>
                      </div>
                    </div>
                  </div> -->
              </div>
            </form>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
