<div class="content-body">
    <section>
        <div class="card">
            <h5 class="card-header">Bộ lọc tìm kiếm</h5>
            <div class="card-body">
                <form class="form form-vertical" [formGroup]="formListHsm">
                    <div class="row mb-1">
                        <div class="col-md-6">
                            <input name="hsmName" id="hsmName" type="search" class="form-control" formControlName="hsmName" placeholder="Một phần tên hãng, tên model" />
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-12">
                            <button type="button" class="btn btn-outline-secondary mr-1" (click)="moreOption = !moreOption" rippleEffect>
                                Tùy chọn
                            </button>
                            <button type="button" rippleEffect class="btn btn-primary" (click)="onSubmit()" [disabled]="!formListHsm.valid">
                                Tìm kiếm
                          </button>
                        </div>
                    </div>
                    <div class="row" [ngbCollapse]="moreOption">
                        <div class="col-md-2">
                            <label for="">Số dòng:</label>
                            <fieldset class="form-group">
                                <ng-select [items]="sizePage" suffix=" dòng" [clearable]="false" formControlName="sizePage"></ng-select>
                            </fieldset>
                        </div>
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-3">
                                    <label class="lable">Từ ngày:</label>
                                    <div class="input-group input-group-merge">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" (click)="fromDate.open()"><i data-feather="calendar"></i
									></span>
                                        </div>
                                        <input [matDatepicker]="fromDate" formControlName="fromDate" class="form-control" type="text" [min]="minDate" [max]="formListHsm.controls.toDate.value" placeholder="13/09/2021" />
                                    </div>
                                    <mat-datepicker #fromDate></mat-datepicker>
                                </div>
                                <div class="col-md-3">
                                    <label class="lable">Đến ngày:</label>
                                    <div class="input-group input-group-merge">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" (click)="toDate.open()"><i data-feather="calendar"></i
									></span>
                                        </div>
                                        <input [matDatepicker]="toDate" formControlName="toDate" class="form-control" type="text" [min]="formListHsm.controls.fromDate.value" placeholder="13/09/2021" />
                                    </div>

                                    <mat-datepicker #toDate></mat-datepicker>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="card">
            <div class="row">
                <div class="col-12">
                    <div class="d-flex justify-content-md-end m-1">
                        <button (click)='creat()' class="btn btn-primary ml-1" rippleEffect>
                            <span class=" feather icon-plus  mr-0 mr-sm-1"></span>
                            <span class="d-none d-sm-inline-block">Thêm mới</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>TT</th>
                                    <th>TÊN</th>
                                    <th>HÃNG SẢN XUẤT</th>
                                    <th>TÊN MODEL</th>
                                    <th>ĐƯỜNG DẪN FILE THƯ VIỆN</th>
                                    <th>HÀNH ĐỘNG</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of rows; let i = index">
                                    <td>{{ i + 1 }}</td>
                                    <td>{{ item.hsmName }}</td>
                                    <td>{{ item.hsmManufacturer }}</td>
                                    <td>{{ item.hsmModel }}</td>
                                    <td>{{ item.hsmLibraryPath }}</td>
                                    <td>
                                        <div ngbDropdown container="body">
                                            <button type="button" class="btn btn-sm hide-arrow" ngbDropdownToggle data-toggle="dropdown">
                                                <i class="feather icon-more-vertical"></i>
                                            </button>
                                            <div ngbDropdownMenu>
                                                <!--
                                                <a ngbDropdownItem routerLink="/apps/equipment-management/new-token">
                                                    <i class="mr-50 feather icon-plus"></i>
                                                    <span>Thêm token</span>
                                                </a>
                                                -->
                                                <a ngbDropdownItem href="javascript:void(0);" (click)='toggleSidebar(modalInfor, item)'>
                                                    <i class="mr-50 feather icon-file-text"></i>
                                                    <span>Thông tin</span>
                                                </a>
                                                <a ngbDropdownItem href="javascript:void(0);">
                                                    <i class="mr-50 feather icon-trash"></i>
                                                    <span>Xóa</span>
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-between align-items-center">
                <div class="col-xl-2 ml-1">
                    <div class="total_item">{{ rows.length }} dòng</div>
                </div>
                <div class="col-xl-6 mt-1 mr-1">
                    <ngb-pagination [collectionSize]="totalPages" [pageSize]="formListHsm.controls.sizePage.value" [(page)]="pageAdvancedEllipses" [maxSize]="3" [rotate]="true" [boundaryLinks]="true" (pageChange)="changePage($event)" class="d-flex justify-content-end">
                        <ng-template ngbPaginationFirst>Đầu</ng-template>
                        <ng-template ngbPaginationLast>Cuối</ng-template>
                    </ngb-pagination>
                </div>
            </div>
        </div>
        <ng-template #modalInfor let-modal>
            <div class="modal-header">
                <h4 class="modal-title">Thông tin chi tiết</h4>
            </div>
            <div class="modal-body" tabindex="0" ngbAutofocus>
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap my-50">
                            <div class="col-4 offset-1">
                                <h6 class="font-weight-bolder">Tên thiết bị HSM:</h6>
                            </div>
                            <div class="col-7">
                                {{ info.hsmName }}
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="d-flex flex-wrap my-50">
                            <div class="col-4 offset-1">
                                <h6 class="font-weight-bolder">Tên hãng sản xuất:</h6>
                            </div>
                            <div class="col-7">
                                {{ info.hsmManufacturer }}
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="d-flex flex-wrap my-50">
                            <div class="col-4 offset-1">
                                <h6 class="font-weight-bolder">Tên model:</h6>
                            </div>
                            <div class="col-7">
                                {{ info.hsmModel }}
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="d-flex flex-wrap my-50">
                            <div class="col-4 offset-1">
                                <h6 class="font-weight-bolder">Đường dẫn file thư viện:</h6>
                            </div>
                            <div class="col-7">
                                {{ info.hsmLibraryPath }}
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="d-flex flex-wrap my-50">
                            <div class="col-4 offset-1">
                                <h6 class="font-weight-bolder">Danh sách token:</h6>
                            </div>
                            <div class="col-7">
                                <p *ngIf="list.length == 0; else show">Không có token</p>
                                <p #show *ngFor="let i of list">{{ i.tokenName }} </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="text-align: right;">
                <button type="button" class="btn btn-secondary" (click)="modal.dismiss()" rippleEffect>
                    Thoát 
                </button>
            </div>
        </ng-template>
    </section>
</div>