@import '@core/scss/angular/libs/datatables.component.scss';
@import '@core/scss/base/pages/app-user.scss';
@import '@core/scss/angular/libs/select.component.scss';

.modal-dialog{
    width: 90%;
    left: 5%;
    margin: 40px 0;
    border-radius: 10px;
    overflow: hidden;
}
form{
    padding: 0px 30px;
    overflow: hidden !important;
    
}
.form_header{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // border-bottom: 1px solid black;
}
.col-sm-9{
    width: 100%;
}
.form-control-lg{
    height:2.714rem;
    // margin-top: 10px;
}
.modal-dialog{
    margin: 10px 0;
}
@media only screen and (max-width: 600px) {
    form {
    overflow: auto ;
    }
  }
  