<div class="modal-header">
  <h4 class="modal-title" id="myModalLabel1">Chi tiết Token</h4>
</div>
<div class="d-flex">
  <div class="form-group col-md-4">
    <label>Tên HSM</label>
    <input class="form-control" value = {{data.label}} readonly />
  </div>
  <div class="form-group col-md-4">
    <label>Hãng sản xuất</label>
    <input class="form-control" value = {{data.manufacturerId}} readonly />
  </div>
  <div class="form-group col-md-4">
    <label>Tên thiết bị</label>
    <input class="form-control" value = {{data.model}} readonly />
  </div>
</div>
<div class="d-flex">
  <div class="form-group col-md-4">
    <label>Số thứ tự</label>
    <input class="form-control" value = {{data.serialNumber}} readonly />
  </div>
  <div class="form-group col-md-4">
    <label>Số phiên làm viêc tối đa</label>
    <input class="form-control" value = {{data.maxSessionCount}}  readonly />
  </div>
  <div class="form-group col-md-4">
    <label>Số phiên làm việc của ứng dụng hiện tại</label>
    <input class="form-control" value = {{data.sessionCount}}  readonly />
  </div>
</div>
<div class="d-flex">
  <div class="form-group col-md-4">
    <label>ulMaxRwSessionCount</label>
    <input class="form-control" value = {{data.maxRwSessionCount}} readonly />
  </div>
  <div class="form-group col-md-4">
    <label>ulRwSessionCount</label>
    <input class="form-control" value = {{data.rwSessionCount}}  readonly />
  </div>
  <div class="form-group col-md-4">
    <label>Độ dài mật khẩu tối Đa</label>
    <input class="form-control" value = {{data.maxPinLen}}  readonly />
  </div>
</div>
<div class="d-flex">
  <div class="form-group col-md-4">
    <label>Độ dài mật khẩu tối Thiểu</label>
    <input class="form-control" value = {{data.minPinLen}}  readonly />
  </div>
  <div class="form-group col-md-4">
    <label>Bộ nhớ công khai tối đa</label>
    <input class="form-control" value = {{data.totalPublicMemory}}  readonly />
  </div>
  <div class="form-group col-md-4">
    <label>Bộ nhớ công khai còn trống</label>
    <input class="form-control"  value = {{data.freePublicMemory}} readonly/>
  </div>
</div>
