<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
      <section>
        <div class="card">
          <div class="card-body">
            <h3>Đổi mật khẩu Slot</h3>
            <form [formGroup]="tokenForm">
              <div class="">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Mật khẩu hiện tại</label>
                    <input
                      type="password"
                      formControlName="tokenPassword"
                      class="form-control"
                      [ngClass]="
                        (f.tokenPassword.errors && f.tokenPassword?.touched) ||
                        (submitted && f.tokenPassword?.errors?.required)
                          ? 'is-invalid'
                          : ''
                      "
                    />
                    <!-- <div
                      *ngIf="
                        (f.tokenNewPassword.errors && f.tokenNewPassword?.touched) ||
                        (submitted && f.tokenNewPassword?.errors?.required)
                      "
                      class="invalid-feedback"
                    >
                      <div *ngIf="f.tokenNewPassword.errors.required">
                        Bạn cần nhập mật khẩu hiện tại
                      </div>
                    </div> -->
                  </div>
                </div>
                <div class="d-flex">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Mật khẩu mới</label>
                        <input
                          type="password"
                          formControlName="tokenNewPassword"
                          class="form-control"
                          [ngClass]="
                            (f.tokenNewPassword.errors && f.tokenNewPassword?.touched) ||
                            (submitted && f.tokenNewPassword?.errors?.required)
                              ? 'is-invalid'
                              : ''
                          "
                        />
                        <!-- <div
                          *ngIf="
                            (f.tokenNewPassword.errors && f.tokenNewPassword?.touched) ||
                            (submitted && f.tokenNewPassword?.errors?.required)
                          "
                          class="invalid-feedback"
                        >
                          <div *ngIf="f.tokenNewPassword.errors.required">
                            Bạn cần nhập mật khẩu mới
                          </div>
                        </div> -->
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Nhập lại mật khẩu mới</label>
                        <input
                          type="password"
                          formControlName="tokenNewPasswordConfirm"
                          class="form-control"
                          [ngClass]="
                            (f.tokenNewPasswordConfirm.errors && f.tokenNewPasswordConfirm?.touched) ||
                            (submitted && f.tokenNewPasswordConfirm?.errors?.required)
                              ? 'is-invalid'
                              : ''
                          "
                        />
                        <!-- <div
                          *ngIf="
                            (f.tokenNewPasswordConfirm.errors && f.tokenNewPasswordConfirm?.touched) ||
                            (submitted && f.tokenNewPasswordConfirm?.errors?.required)
                          "
                          class="invalid-feedback"
                        >
                          <div *ngIf="f.tokenNewPasswordConfirm.errors.required">
                            Bạn cần nhập lại mật khẩu mới
                          </div>
                        </div> -->
                      </div>
                    </div>
                  </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="d-flex justify-content-md-end m-1">
                    <button
                      class="btn btn-primary mr-1"
                      rippleEffect
                      [swal]="SweetAlertConfirm"
                    >
                      Cập nhật
                    </button>
                    <swal #SweetAlertConfirm (open)="onSubmit()"></swal>
                    <button
                      (click)="exit()"
                      rippleEffect
                      class="btn btn-outline-primary"
                    >
                      Quay lại
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </section>
    </div>
  </div>
  