<form class="form" >
    <div class="row">
      <div class="col-md-3 col-12">
        <div class="form-group">
          <label for="first-name-column">HỌ</label>
          <input
            type="text"
            id="first-name-column"
            class="form-control"
            placeholder="First Name"
            name="fname-column"
            value="{{personal.personalFirstName}}"
            
          />
        </div>
        
      </div>
      <div class="col-md-3 col-12">
        <div class="form-group">
          <label for="last-name-column">TÊN ĐỆM</label>
          <input
            type="text"
            id="last-name-column"
            class="form-control"
            placeholder="Last Name"
            name="lname-column"
            value="{{personal.personalMiddleName}}"
            
          />
        </div>
        
      </div>
      <div class="col-md-3 col-12">
        <div class="form-group">
          <label for="city-column">TÊN</label>
          <input 
            type="text" 
            id="city-column" 
            class="form-control" 
            placeholder="City" 
            name="city-column" 
            value="{{personal.personalLastName}}"
            
            />
        </div>
        
      </div>
      <div class="col-md-3 col-12">
        <div class="form-group">
          <label for="country-floating">SỐ CCCD/PASSPORT
          </label>
          <input
            type="text"
            id="country-floating"
            class="form-control"
            name="country-floating"
            placeholder="Country"
             value="{{personal.personalCountryId}}"
            
          />
        </div>
       
      </div>
      <div class="col-md-3 col-12">
        <div class="form-group">
          <label for="company-column">NGÀY SINH
          </label>
          <input
            type="text"
            id="company-column"
            class="form-control"
            name="company-column"
            placeholder="Company"
            value="{{personal.birthday}}"
            
          />
        </div>
        
      </div>
      <div class="col-md-3 col-12">
        <div class="form-group">
          <label for="email-id-column">GIỚI TÍNH</label>
          <input
            type="email"
            id="email-id-column"
            class="form-control"
            name="email-id-column"
            placeholder="Email"
            
            value="{{personal.gender}}"

          />
        </div>
        
      </div>
      <div class="col-md-3 col-12">
        <div class="form-group">
          <label for="company-column">THƯ ĐIỆN TỬ (EMAIL)
          </label>
          <input
            type="text"
            id="company-column"
            class="form-control"
            name="company-column"
            placeholder="Thư điện tử"
             value="{{personal.email}}" 
            
          />
        </div>
        
      </div>
      <div class="col-md-3 col-12">
        <div class="form-group">
          <label for="email-id-column">SỐ ĐIỆN THOẠI
          </label>
          <input
            type="email"
            id="email-id-column"
            class="form-control"
            name="email-id-column"
            placeholder="Số điện thoại"
            value="{{personal.phoneNumber}}"
            
          />
        </div>
        
      </div>
      <div class="col-12 d-flex justify-content-end mt-2">
        <button type="submit" rippleEffect class="btn btn-primary mr-1">Cập Nhật</button>
      </div>
    </div>
  </form>