<app-content-header [contentHeader]="contentHeader"></app-content-header>
<div class="content-body">
    <section>
        <div class="card">
            <div class="card-body">
                <form [formGroup]="TokenForm">
                    <div class="row">
                        <div class="col-md-6 offset-3">
                            <div class="form-group">
                                <label>Tên HSM</label>
                                <ng-select [items]="hsm" [clearable]="false" formControlName="hsm" [ngClass]="(f.hsm.errors && f.hsm?.touched || submitted && f.hsm?.errors?.required) ? 'is-invalid' : '' ">
                                </ng-select>
                                <div *ngIf="f.hsm.errors&&f.hsm?.touched || submitted && f.hsm?.errors?.required" class="invalid-feedback">
                                    <div *ngIf="f.hsm.errors.required">Bạn cần chọn HSM</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 offset-3">
                            <div class="form-group">
                                <label for="UDUserName">Số hiệu slot</label>
                                <input type="text" formControlName="number" class="form-control" [ngClass]="f.number.errors && f.number.touched || submitted && f.number.errors.required ? 'is-invalid' : '' " />
                                <div *ngIf="f.number.errors && f.number.touched || submitted && f.number.errors.required" class="invalid-feedback">
                                    <div *ngIf="f.number.errors.required">Bạn cần nhập số hiệu slot</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 offset-3">
                            <div class="form-group">
                                <label for="UDUserName">SlotLabel</label>
                                <input type="text" formControlName="label" class="form-control" [ngClass]="f.label.errors && f.label.touched || submitted && f.label.errors.required ? 'is-invalid' : '' " />
                                <div *ngIf="f.label.errors && f.label.touched || submitted && f.label.errors.required" class="invalid-feedback">
                                    <div *ngIf="f.label.errors.required">Bạn cần nhập SlotLabel</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 offset-3">
                            <div class="form-group">
                                <label for="UDUserName">SlotPassword</label>
                                <input type="text" formControlName="password" class="form-control" [ngClass]="f.password.errors && f.password.touched || submitted && f.password.errors.required ? 'is-invalid' : '' " />
                                <div *ngIf="f.password.errors && f.password.touched || submitted && f.password.errors.required" class="invalid-feedback">
                                    <div *ngIf="f.password.errors.required">Bạn cần nhập SlotPassword</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 offset-3">
                            <div class="d-flex justify-content-md-end m-1">
                                <button class="btn btn-primary mr-1" (click)="onSubmit()" rippleEffect>
                                Cập nhật
                            </button>
                                <button (click)="exit()" rippleEffect class="btn btn-outline-primary">
                                Thoát
                            </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>