<app-content-header [contentHeader]="contentHeader"></app-content-header>
<div class="content-body">
    <section>
        <div class="card">
            <div class="card-body">
                <form [formGroup]="TokenForm">
                    <div class="row">
                        <div class="col-md-6 offset-3">
                            <div class="form-group">
                                <label for="UDUserName">Số hiệu slot</label>
                                <input type="text" [(ngModel)]="Form.number" formControlName="number" class="form-control" [ngClass]="{ 'is-invalid': submitted && TokenForm.controls.hsm.errors }" />
                                <div *ngIf="submitted && TokenForm.controls.number.errors" class="invalid-feedback">
                                    <div *ngIf="TokenForm.controls.number.errors.required">Bạn cần nhập số hiệu slot</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 offset-3">
                            <div class="form-group">
                                <label for="UDUserName">SlotLabel</label>
                                <input type="text" [(ngModel)]="Form.label" formControlName="label" class="form-control" [ngClass]="{ 'is-invalid': submitted && TokenForm.controls.hangsx.errors }" />
                                <div *ngIf="submitted && TokenForm.controls.label.errors" class="invalid-feedback">
                                    <div *ngIf="TokenForm.controls.label.errors.required">Bạn cần nhập SlotLabel</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 offset-3">
                            <div class="form-group">
                                <label for="UDUserName">SlotPassword</label>
                                <input type="text" [(ngModel)]="Form.password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && TokenForm.controls.model.errors }" />
                                <div *ngIf="submitted && TokenForm.controls.password.errors" class="invalid-feedback">
                                    <div *ngIf="TokenForm.controls.password.errors.required">Bạn cần nhập SlotPassword</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 offset-3">
                            <div class="d-flex justify-content-md-end m-1">
                                <button class="btn btn-primary mr-1" (click)="onSubmit()" rippleEffect>
                                Cập nhật
                            </button>
                                <button (click)="exit()" rippleEffect class="btn btn-outline-primary">
                                Thoát
                            </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>