<section id="table-personal-list">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Danh sách thuê bao cá nhân</h4>
      </div>
      <div class="row">
        <div class="col-md-12 mb-50">
          <button
              class="btn btn-primary ml-1"
              rippleEffect
              
            >
              <i
                data-feather="plus"
                class="d-sm-none d-inline-block mr-0 mr-sm-1"
              ></i
              ><span class="d-none d-sm-inline-block">Thêm Mới Danh Sách</span>
            </button>
          
          <a
            csvLink
            class="btn btn-outline-secondary float-right mr-1"
            rippleEffect
            >Xuất dữ liệu CSV</a
          >
        </div>
      </div>
  
      <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
      <ngx-datatable
        #tableRowDetails
        class="bootstrap core-bootstrap cursor"
        [rows]="rowsData"
        [selected]="chkBoxSelected"
        (select)="customCheckboxOnSelect($event)"
        (select)="onSelect($event)"
        [selectionType]="SelectionType.checkbox"
        [columnMode]="ColumnMode.force"
        [headerHeight]="50"
        rowHeight="auto"
        [scrollbarH]="true"
        [footerHeight]="50"
        [rowHeight]="50"
        [externalPaging]="true"
        [limit]="pagedData.size"
        [count]="pagedData.totalItems"
        [offset]="pagedData.currentPage"
        [loadingIndicator]="isLoading"
        
      >
        <ngx-datatable-column
          [width]="40"
          [sortable]="false"
          [canAutoResize]="false"
          [draggable]="false"
          [resizeable]="false"
          class="ml-1"
        >
          <ng-template
            ngx-datatable-header-template
            let-value="value"
            let-allRowsSelected="allRowsSelected"
            let-selectFn="selectFn"
          >
            <div class="custom-control custom-control-primary custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input"
                [checked]="allRowsSelected"
                (change)="selectFn(!allRowsSelected)"
                id="headerCustomChkbxRef"
              />
              <label
                class="custom-control-label"
                for="headerCustomChkbxRef"
              ></label>
            </div>
          </ng-template>
          
          <ng-template
            ngx-datatable-cell-template
            let-rowIndex="rowIndex"
            let-value="value"
            let-isSelected="isSelected"
            let-onCheckboxChangeFn="onCheckboxChangeFn"
          >
            <div class="custom-control custom-control-primary custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input"
                [checked]="isSelected"
                (change)="onCheckboxChangeFn($event)"
                id="rowCustomChkbxRef{{ rowIndex }}"
              />
              <label
                class="custom-control-label"
                for="rowCustomChkbxRef{{ rowIndex }}"
              ></label>
            </div>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column
          name="TT"
          [width]="20"
          [canAutoResize]="false"
          [sortable]="false"
        >
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex">
            {{ pagedData.currentPage*pagedData.size + rowIndex + 1 }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="HỌ VÀ TÊN" prop="personalFirstName" [width]="210">
          <ng-template let-row="row" let-name="value" ngx-datatable-cell-template>
            <div class="d-flex align-items-center">
              <div
                *ngIf="
                  rowsData.avatar != null && rowsData.avatar.length > 0;
                  else customAvatar
                "
              >
                <img
                  class="rounded-circle mr-1"
                  src="assets/images/portrait/small/{{ row.avatar }}"
                  height="32"
                  width="32"
                  alt="datatable-avatar"
                />
              </div>
              <ng-template #customAvatar>
                <!-- Không có giao diện thì check theo status để tô màu -->
                <div
                  class="avatar mr-1 ml-0"
                  [ngClass]="{
                    'bg-light-primary': row.isActive == false,
                    'bg-light-success': row.isActive == true,
                    'bg-light-danger': row.status == '3',
                    'bg-light-warning': row.status == '4',
                    'bg-light-info': row.status == '5'
                  }"
                >
                  <div class="avatar-content">{{ name | initials }}</div>
                </div>
              </ng-template>
              <div class="cell-line-height">
                <p class="font-medium-1 font-weight-bold line-height-1 mb-25">
                  {{ name }}
                </p>
              </div>
            </div>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column
          name="CCCD/PASSPORT"
          prop="personalCountryId"
          [width]="130"
        ></ngx-datatable-column>
        <ngx-datatable-column name="Ngày sinh" prop="birthday" [width]="100">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{ value | date: "dd/MM/YYYY" }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column
          name="Giới tính"
          prop="gender"
          [width]="80"
        ></ngx-datatable-column>
        <ngx-datatable-column
          name="THƯ ĐIỆN TỬ"
          prop="email"
          [width]="200"
        ></ngx-datatable-column>
        <ngx-datatable-column name="Tổ chức" prop="organization" [width]="110">
          <ng-template
            ngx-datatable-cell-template
            let-value="value"
            let-row="row"
          >
            <div
              *ngIf="value != ''; else noneOrganization"
            >
              {{ value.organizationName | lowercase  }}
            </div>
          </ng-template>
          <ng-template ngx-datatable-cell-template #noneOrganization>
            <div>Cá nhân</div>
          </ng-template>
        </ngx-datatable-column>
        <!-- <ngx-datatable-column  name="Hành động" [width]="70" [sortable]="false" prop=""> 
          <ng-template ngx-datatable-cell-template let-value="value">
            <div class="d-flex align-items-center" >
              <div ngbDropdown container="body">
                <a
                  ngbDropdownToggle
                  href="javascript:void(0);"
                  class="hide-arrow"
                  id="dropdownBrowserState"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <i
                    data-feather="more-vertical"
                    class="text-primary cursor-pointer mr-50"
                  ></i>
                </a>
                <div
                  ngbDropdownMenu
                  class="dropdown-menu-right"
                  aria-labelledby="dropdownBrowserState"
                >
                  <a
                    href="/apps/ip/subscribers/personals/personal-view/{{value.personalId}}"
                    ngbDropdownItem
                    class="d-flex align-items-center"
                    ><i data-feather="file-text" class="mr-50"></i> Chi tiết</a
                  >
                  <a
                    href="javascript:void(0)"
                    ngbDropdownItem
                    class="d-flex align-items-center"
                    ><i data-feather="edit" class="mr-50"></i> Chỉnh sửa</a
                  >
                  <a
                    href="javascript:void(0)"
                    (click) = "deletePersonal(value.personalId)"
                    ngbDropdownItem
                    class="d-flex align-items-center"
                    ><i data-feather="trash-2" class="mr-50"></i> Xóa</a
                  >
                </div>
              </div>
  
              <i data-feather="edit" class="text-primary cursor-pointer"></i>
            </div>
          </ng-template>
        </ngx-datatable-column> -->
  
        
      </ngx-datatable>
    </div>
    <!-- <div class="selected-column col-12 mt-1">
      <hr class="w-100" />
      <h5 class="mx-1">
        Selections <small>({{ chkBoxSelected?.length }})</small>
      </h5>
      <ul>
        <li *ngFor="let sel of chkBoxSelected">
          {{ sel.email }}
        </li>
        <li *ngIf="!chkBoxSelected?.length">No Selections</li>
      </ul>
    </div> -->
    
  </section>
