@import '@core/scss/angular/libs/datatables.component.scss';
@import '@core/scss/base/pages/app-user.scss';
@import '@core/scss/angular/libs/select.component.scss';
// @import '@core/scss/base/plugins/forms/form-validation.scss';
@import './../../../../../../../../@core/scss/base/plugins/forms/form-validation.scss';

option{
    font-size: 14px !important;
}
select{
    font-size: 14px !important;
    
}
.modal-dialog{
    width: 90%;
    left: 5%;
    margin: 40px 0;
    border-radius: 10px;
    overflow: hidden;
    transform: translateX(200%) !important;
}
form{
    padding: 0px 30px;
    overflow: hidden !important;
    padding: 0 !important;
}
.form_header{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px 10px 30px;
    border-bottom: 0.5px solid #7c7b83;
}
.col-sm-9{
    width: 100%;
}
.form-control-lg{
    height:2.714rem;
    // margin-top: 10px;
}
.modal-dialog{
    margin: 10px 0;
}
select{
    padding: 10px;
}
.button_summit{
    padding-top: 15px;
    border-top: 0.5px solid #7c7b83;
    // padding: 0 30px;
    padding-right: 30px;
    text-align: end;
}
.button_exit{
    background-color: #7367f0;
    color: #fff;
}
.form_content{
    padding: 0 30px;
}
input.error:focus {
    border-color: $danger !important;
    ~ .custom-control-label::before,
    ~ .custom-file-label {
      border-color: $danger !important;
    }
    ~ .custom-control-label {
      color: $danger;
    }
}
small{
    color: #db1e27 !important;
}

.error_icon{
    border-color: #db1e27;
}
.form-group{
    margin-bottom: 5px;
}
.row_bottom{
    margin-bottom: 1.5rem;
}
select{
    cursor: pointer;
}
option{
    cursor: pointer !important;
}
button{
    background-color: transparent;
    border-color: transparent;
}
@media only screen and (max-width: 600px) {
    form {
        overflow-y: auto !important;
    }
  }
  