@import "@core/scss/angular/libs/datatables.component.scss";
@import "@core/scss/base/pages/app-user.scss";
@import "@core/scss/angular/libs/select.component.scss";
@import "@core/scss/base/plugins/forms/form-validation.scss";
@import '@core/scss/angular/libs/toastr.component.scss';

.ng-select.is-invalid ::ng-deep .ng-select-container{
    border-color: #ff0000;
}
.ng-select.ng-select-disabled ::ng-deep .ng-select-container {
    background-color: transparent!important;
}
input:disabled{
    background-color: transparent ;
}
::ng-deep .cdk-overlay-container{
    z-index:2000;
  }