<div class="slideout-content">
    <!-- Modal to add new user starts-->
    <div class="modalsd modal-slide-in sdfade new-user-modal" id="modals-slide-in">
      <div class="modal-dialog">
        <form class="form form-horizontal add-new-user modal-content pt-0" (ngSubmit)="TDMultiRuleForm.form.valid" #TDMultiRuleForm="ngForm">
          <div class="form_header">
            <div class="h1">Đăng ký thông tin</div>
            <button >
              <a href=""><span class="input-group-text button_exit"><span [data-feather]="'x'"></span></span></a>
            </button>
            
          </div>
          <!-- thông tin cá nhân -->
          <div class="form_content">
            <div class="row">
              <div class="col-12 col-md-3">
                <div class="form-group ">
                  <div class="col-sm-12 col-form-label">
                    <label >Họ</label>
                  </div>
                  <div class="col-sm-12">
                    <div class="input-group input-group-merge" >
                      <div class="input-group-prepend" >
                        <span class="input-group-text" [class.error_icon]="!TDMultiRuleNameRef.valid && TDMultiRuleNameRef.touched"><span [data-feather]="'user'"></span></span>
                      </div>
                      <input
                        [class.error]="!TDMultiRuleNameRef.valid && TDMultiRuleNameRef.touched"
                        class="form-control input-md" 
                        ngModel 
                        #TDMultiRuleNameRef="ngModel" 
                        required                     
                        id="TDMultiRuleName" 
                        name="TDMultiRuleName" 
                        type="text" 
                        placeholder="Họ"
                      />
                      
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <span *ngIf="!TDMultiRuleNameRef.valid && TDMultiRuleNameRef.touched" class="invalid-form">
                      <small class="form-text text-muted danger" *ngIf="TDMultiRuleNameRef.errors.required">
                        Không được bỏ trống </small>
                    </span>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-3">
                <div class="form-group ">
                  <div class="col-sm-12 col-form-label">
                    <label>TÊN ĐỆM</label>
                  </div>
                  <div class="col-sm-12">
                    <div class="input-group input-group-merge">
                      <div class="input-group-prepend">
                        <span class="input-group-text" [class.error_icon]="!TDMultiRuleDemRef.valid && TDMultiRuleDemRef.touched"><span [data-feather]="'user'"></span></span>
                      </div>
                      <input
                        [class.error]="!TDMultiRuleDemRef.valid && TDMultiRuleDemRef.touched"
                        ngModel 
                        #TDMultiRuleDemRef="ngModel" 
                        required
                        type="text"
                        id="fname-icon-1"
                        class="form-control"
                        name="fname-icon-1"
                        placeholder="Tên đệm"
                      />
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <span *ngIf="!TDMultiRuleDemRef.valid && TDMultiRuleDemRef.touched" class="invalid-form">
                      <small class="form-text text-muted danger" *ngIf="TDMultiRuleDemRef.errors.required">
                        Không được bỏ trống </small>
                    </span>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-3">
                <div class="form-group ">
                  <div class="col-sm-12 col-form-label">
                    <label>TÊN</label>
                  </div>
                  <div class="col-sm-12">
                    <div class="input-group input-group-merge">
                      <div class="input-group-prepend">
                        <span class="input-group-text" [class.error_icon]="!TDMultiRuleTenTienRef.valid && TDMultiRuleTenTienRef.touched"><span [data-feather]="'user'"></span></span>
                      </div>
                      <input
                        [class.error]="!TDMultiRuleTenTienRef.valid && TDMultiRuleTenTienRef.touched"
                        ngModel 
                        #TDMultiRuleTenTienRef="ngModel" 
                        required
                        type="text"
                        id="fname-icon-2"
                        class="form-control"
                        name="fname-icon-2"
                        placeholder="Tên"
                      />
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <span *ngIf="!TDMultiRuleTenTienRef.valid && TDMultiRuleTenTienRef.touched" class="invalid-form">
                      <small class="form-text text-muted danger" *ngIf="TDMultiRuleTenTienRef.errors.required">
                        Không được bỏ trống </small>
                    </span>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-3">
                <div class="form-group ">
                  <div class="col-sm-12 col-form-label">
                    <label>CHỨNG MINH THƯ</label>
                  </div>
                  <div class="col-sm-12">
                    <div class="input-group input-group-merge">
                      <div class="input-group-prepend">
                        <span class="input-group-text" [class.error_icon]="!TDMultiRuleCMTRef.valid && TDMultiRuleCMTRef.touched"><span [data-feather]="'credit-card'"></span></span>
                      </div>
                      <input
                        [class.error]="!TDMultiRuleCMTRef.valid && TDMultiRuleCMTRef.touched"
                        ngModel 
                        #TDMultiRuleCMTRef="ngModel" 
                        required
                        type="text"
                        id="fname-icon-3"
                        class="form-control"
                        name="fname-icon-3"
                        placeholder="03520001170"
                      />
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <span *ngIf="!TDMultiRuleCMTRef.valid && TDMultiRuleCMTRef.touched" class="invalid-form">
                      <small class="form-text text-muted danger" *ngIf="TDMultiRuleCMTRef.errors.required">
                        Không được bỏ trống </small>
                    </span>
                  </div>
                </div>
              </div>         
            </div>
            
            <div class="row">
              <div class="col-12 col-md-3">
                <div class="form-group ">
                  <div class="col-sm-12 col-form-label">
                    <label>NGÀY THÁNG NĂM SINH </label>
                  </div>
                  <div class="col-sm-12">
                    <div class="input-group input-group-merge">
                      <div class="input-group-prepend">
                        <span class="input-group-text" [class.error_icon]="!TDMultiRuleBirthRef.valid && TDMultiRuleBirthRef.touched"><span [data-feather]="'more-horizontal'"></span></span>
                      </div>
                      <input
                        [class.error]="!TDMultiRuleBirthRef.valid && TDMultiRuleBirthRef.touched"
                        ngModel 
                        #TDMultiRuleBirthRef="ngModel" 
                        required
                        type="text"
                        id="fname-icon-4"
                        class="form-control"
                        name="fname-icon-4"
                        placeholder="19/04/2000"
                      />
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <span *ngIf="!TDMultiRuleBirthRef.valid && TDMultiRuleBirthRef.touched" class="invalid-form">
                      <small class="form-text text-muted danger" *ngIf="TDMultiRuleBirthRef.errors.required">
                        Không được bỏ trống </small>
                    </span>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-3">
                <div class="form-group ">
                  <div class="col-sm-12 col-form-label">
                    <label>SỐ ĐIỆN THOẠI</label>
                  </div>
                  <div class="col-sm-12">
                    <div class="input-group input-group-merge">
                      <div class="input-group-prepend">
                        <span class="input-group-text" [class.error_icon]="!TDMultiRulePhoneNumberRef.valid && TDMultiRulePhoneNumberRef.touched"><span [data-feather]="'phone-call'"></span></span>
                      </div>
                      <input
                        [class.error]="!TDMultiRulePhoneNumberRef.valid && TDMultiRulePhoneNumberRef.touched"
                        ngModel 
                        #TDMultiRulePhoneNumberRef="ngModel" 
                        required
                        type="text"
                        id="fname-icon"
                        class="form-control"
                        name="fname-icon"
                        placeholder="Số điện thoại"
                      />
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <span *ngIf="!TDMultiRulePhoneNumberRef.valid && TDMultiRulePhoneNumberRef.touched" class="invalid-form">
                      <small class="form-text text-muted danger" *ngIf="TDMultiRulePhoneNumberRef.errors.required">
                        Không được bỏ trống </small>
                    </span>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-3">
                <div class="form-group ">
                  <div class="col-sm-12 col-form-label">
                    <label>EMAIL</label>
                  </div>
                  <div class="col-sm-12">
                    <div class="input-group input-group-merge">
                      <div class="input-group-prepend">
                        <span class="input-group-text" [class.error_icon]="!TDMultiRuleEmailRef.valid && TDMultiRuleEmailRef.touched"><span [data-feather]="'mail'"></span></span>
                      </div>
                      <input
                        [class.error]="!TDMultiRuleEmailRef.valid && TDMultiRuleEmailRef.touched"
                        ngModel 
                        #TDMultiRuleEmailRef="ngModel" 
                        required
                        email
                        type="text"
                        id="fname-icon-5"
                        class="form-control"
                        name="fname-icon-5"
                        placeholder="Email"
                      />
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <span *ngIf="!TDMultiRuleEmailRef.valid && TDMultiRuleEmailRef.touched" class="invalid-form">
                      <small class="form-text text-muted danger" *ngIf="TDMultiRuleEmailRef.errors.required">
                        email must be valid!</small>
                    </span>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-3">
                <div class="form-group ">
                  <div class="col-sm-12 col-form-label">
                    <label>TÊN TỐ CHỨC</label>
                  </div>
                  <div class="col-sm-12">
                    <div class="input-group input-group-merge">
                      <div class="input-group-prepend">
                        <span class="input-group-text" [class.error_icon]="!TDMultiRuleNameOganizationRef.valid && TDMultiRuleNameOganizationRef.touched"><span [data-feather]="'credit-card'"></span></span>
                      </div>
                      <input
                        [class.error]="!TDMultiRuleNameOganizationRef.valid && TDMultiRuleNameOganizationRef.touched"
                        ngModel 
                        #TDMultiRuleNameOganizationRef="ngModel" 
                        required
                        type="text"
                        id="fname-icon-6"
                        class="form-control"
                        name="fname-icon-6"
                        placeholder="organization_00006"
                      />
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <span *ngIf="!TDMultiRuleNameOganizationRef.valid && TDMultiRuleNameOganizationRef.touched" class="invalid-form">
                      <small class="form-text text-muted danger" *ngIf="TDMultiRuleNameOganizationRef.errors.required">
                        không được bỏ trống</small>
                    </span>
                  </div>
                </div>
              </div>         
            </div>
    
            <h3>Nơi sinh</h3>
            <div class="row">
              <div class="col-12 col-md-4">
                <div class="row">
                  <!-- quốc gia -->
                  <div class="col-12 col-md-6">
                    <div class="form-group ">
                      <div class="col-sm-12 col-form-label">
                        <label>QUỐC GIA</label>
                      </div>
                      <div class="col-sm-12">
                        <div class="input-group input-group-merge">
                          <select class="form-control form-control-lg " >                       
                            <option value="{{i}}" *ngFor = 'let country of countryBirthPlace,index as i '>{{country}}</option>                       
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- end quốc gia -->
    
                  <!-- tỉnh thành phố -->
                  <div class="col-12 col-md-6">
                    <div class="form-group ">
                      <div class="col-sm-12 col-form-label">
                        <label>TỈNH </label>
                      </div>
                      <div class="col-sm-12">
                        <select class="form-control form-control-lg ">
                          <option value="{{i}}" *ngFor = 'let country of provinceBirthPlace,index as i '>{{country}}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <!-- end tỉnh thành phố -->
                </div>
              </div>
              <div class="col-12 col-md-8">
                <div class="row">
                  <div class="col-12 col-md-5">
                    <div class="form-group ">
                      <div class="col-sm-12 col-form-label">
                        <label>HUYỆN</label>
                      </div>
                      <div class="col-sm-12">
                        <div class="input-group input-group-merge">
                          <select class="form-control form-control-lg ">
                            <option value="{{i}}" *ngFor = 'let country of districtBirthPlace,index as i '>{{country}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
        
                  <div class="col-12 col-md-7">
                    <div class="form-group ">
                      <div class="col-sm-12 col-form-label">
                        <label>XÃ</label>
                      </div>
                      <div class="col-sm-12">
                        <div class="input-group input-group-merge">
                          <select class="form-control form-control-lg ">
                            <option value="{{i}}" *ngFor = 'let country of communeBirthPlace,index as i '>{{country}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-md-4">
                <div class="form-group ">
                  <div class="col-sm-12 col-form-label">
                    <label>SỐ NHÀ</label>
                  </div>
                  <div class="col-sm-12">
                    <div class="input-group input-group-merge">
                      <div class="input-group-prepend">
                        <span class="input-group-text" [class.error_icon]="!TDMultiRuleHomeNumberRef.valid && TDMultiRuleHomeNumberRef.touched"><span [data-feather]="'home'"></span></span>
                      </div>
                      <input
                        [class.error]="!TDMultiRuleHomeNumberRef.valid && TDMultiRuleHomeNumberRef.touched"
                        class="form-control input-md" 
                        ngModel 
                        #TDMultiRuleHomeNumberRef="ngModel" 
                        required   
                        type="text"
                        id="fname-icon-7"
                        class="form-control"
                        name="fname-icon-7"
                        placeholder="Số nhà"
                      />
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <span *ngIf="!TDMultiRuleHomeNumberRef.valid && TDMultiRuleHomeNumberRef.touched" class="invalid-form">
                      <small class="form-text text-muted danger" *ngIf="TDMultiRuleHomeNumberRef.errors.required">
                        Không được bỏ trống </small>
                    </span>
                  </div>
                </div>
              </div>
    
              <div class="col-12 col-md-6">
                <div class="form-group ">
                  <div class="col-sm-12 col-form-label">
                    <label>TÊN ĐƯỜNG</label>
                  </div>
                  <div class="col-sm-12">
                    <div class="input-group input-group-merge">
                      <input
                        [class.error]="!TDMultiRuleNameStressRef.valid && TDMultiRuleNameStressRef.touched"
                        class="form-control input-md" 
                        ngModel 
                        #TDMultiRuleNameStressRef="ngModel" 
                        required 
                        type="text"
                        id="fname-icon-8"
                        class="form-control"
                        name="fname-icon-8"
                        placeholder="TÊN ĐƯỜNG"
                      />
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <span *ngIf="!TDMultiRuleNameStressRef.valid && TDMultiRuleNameStressRef.touched" class="invalid-form">
                      <small class="form-text text-muted danger" *ngIf="TDMultiRuleNameStressRef.errors.required">
                        Không được bỏ trống </small>
                    </span>
                  </div>
                </div>
              </div>
            </div>
    
            <h3>Nơi cư chú</h3>
            <div class="row">
              <div class="col-12 col-md-4">
                <div class="row">
                  <!-- quốc gia -->
                  <div class="col-12 col-md-6">
                    <div class="form-group ">
                      <div class="col-sm-12 col-form-label">
                        <label>QUỐC GIA</label>
                      </div>
                      <div class="col-sm-12">
                        <div class="input-group input-group-merge">
                          <select class="form-control form-control-lg ">
                            <option value="{{i}}" *ngFor = 'let country of countryResidencePlace,index as i '>{{country}}</option> 
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- end quốc gia -->
    
                  <!-- tỉnh thành phố -->
                  <div class="col-12 col-md-6">
                    <div class="form-group ">
                      <div class="col-sm-12 col-form-label">
                        <label>TỈNH/THÀNH PHỐ </label>
                      </div>
                      <div class="col-sm-12">
                        <select class="form-control form-control-lg ">
                          <option value="{{i}}" *ngFor = 'let country of provinceResidencePlace,index as i '>{{country}}</option> 
                        </select>
                      </div>
                    </div>
                  </div>
                  <!-- end tỉnh thành phố -->
                </div>
              </div>
              <div class="col-12 col-md-8">
                <div class="row">
                  <div class="col-12 col-md-5">
                    <div class="form-group ">
                      <div class="col-sm-12 col-form-label">
                        <label>HUYỆN</label>
                      </div>
                      <div class="col-sm-12">
                        <div class="input-group input-group-merge">
                          <select class="form-control form-control-lg ">
                            <option value="{{i}}" *ngFor = 'let country of districtResidencePlace,index as i '>{{country}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
        
                  <div class="col-12 col-md-7">
                    <div class="form-group ">
                      <div class="col-sm-12 col-form-label">
                        <label>XÃ</label>
                      </div>
                      <div class="col-sm-12">
                        <div class="input-group input-group-merge">
                          <select class="form-control form-control-lg ">
                            <option value="{{i}}" *ngFor = 'let country of communeResidencePlace,index as i '>{{country}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row row_bottom">
              <div class="col-12 col-md-4">
                <div class="form-group ">
                  <div class="col-sm-12 col-form-label">
                    <label>SỐ NHÀ</label>
                  </div>
                  <div class="col-sm-12">
                    <div class="input-group input-group-merge">
                      <div class="input-group-prepend">
                        <span class="input-group-text" [class.error_icon]="!TDMultiRuleHomeNumber2Ref.valid && TDMultiRuleHomeNumber2Ref.touched"><span [data-feather]="'home'"></span></span>
                      </div>
                      <input
                        [class.error]="!TDMultiRuleHomeNumber2Ref.valid && TDMultiRuleHomeNumber2Ref.touched"
                        class="form-control input-md" 
                        ngModel 
                        #TDMultiRuleHomeNumber2Ref="ngModel" 
                        required  
                        type="text"
                        id="fname-icon-9"
                        class="form-control"
                        name="fname-icon-9"
                        placeholder="Số nhà"
                      />
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <span *ngIf="!TDMultiRuleHomeNumber2Ref.valid && TDMultiRuleHomeNumber2Ref.touched" class="invalid-form">
                      <small class="form-text text-muted danger" *ngIf="TDMultiRuleHomeNumber2Ref.errors.required">
                        Không được bỏ trống </small>
                    </span>
                  </div>
                </div>
              </div>
    
              <div class="col-12 col-md-6">
                <div class="form-group ">
                  <div class="col-sm-12 col-form-label">
                    <label>TÊN ĐƯỜNG ĐỊA CHỈ CỤ THỂ</label>
                  </div>
                  <div class="col-sm-12">
                    <div class="input-group input-group-merge">
                      
                      <input
                        [class.error]="!TDMultiRuleStressName2Ref.valid && TDMultiRuleStressName2Ref.touched"
                        class="form-control input-md" 
                        ngModel 
                        #TDMultiRuleStressName2Ref="ngModel" 
                        required  
                        type="text"
                        id="fname-icon-10"
                        class="form-control"
                        name="fname-icon-10"
                        placeholder="83 Yên Phúc ,Hà Đông ,Hà Nội"
                      />
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <span *ngIf="!TDMultiRuleStressName2Ref.valid && TDMultiRuleStressName2Ref.touched" class="invalid-form">
                      <small class="form-text text-muted danger" *ngIf="TDMultiRuleStressName2Ref.errors.required">
                        Không được bỏ trống </small>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
          <div class="col-12 button_summit">
            <button type="submit" rippleEffect class="btn btn-primary mr-1" [disabled]="!TDMultiRuleForm.form.valid" rippleEffect>Submit</button>
            <button type="reset" rippleEffect class="btn btn-outline-secondary">Reset</button>
          </div>
          
        </form>

       
        
      </div>
    </div>
    <!-- Modal to add new user Ends-->
  </div>
  