<!-- search filter -->
<section id="search-personal-list">
  <div class="card">
    <!-- search -->
    <h5 class="card-header">Bộ lọc tìm kiếm</h5>
    <div class="card-body">
      <form class="form form-vertical" [formGroup]="formListPersonal">
        <div class="row">   
          <div class="col-md-4">
            <label class="lable">Họ tên, email, địa chỉ</label>
            <input
              name="distinguishedName"
              id="distinguishedName"
              type="search"
              class="form-control"
              formControlName="inputPersonal"
              placeholder="Nhập họ tên, email, địa chỉ"
            />
          </div>
          <div class="col-md-2">
            <label class="lable">Giới tính</label>
            <fieldset class="form-group">
              <ng-select
                [items]="gender"
                [clearable]="true"
                bindLabel="name"
                bindValue="name"
                placeholder="Giới tính"
              >
              </ng-select>
            </fieldset>
          </div>
          <div class="col-md-2">
            <label class="lable">Ngày sinh</label>
            <div class="input-group input-group-merge">
              <div class="input-group-prepend">
                <span class="input-group-text" (click)="birthday.open()"
                  ><i data-feather="calendar"></i
                ></span>
              </div>
              <input
                [matDatepicker]="birthday"
                formControlName="birthday"
                class="form-control"
                type="text"
                placeholder="19/04/1992"
              />
            </div>
            <mat-datepicker #birthday></mat-datepicker>
          </div>
          <div class="col-md-2 mt-2">
            <button
            class="btn btn-secondary btn-lighten-2 btn-outline-secondary col-12"
            rippleEffect
            (click)="moreOption = !moreOption"
          >
            <!-- <span [data-feather]="'clock'" [class]="'mr-50'"></span> -->
            <i
              data-feather="plus"
              class="d-sm-none d-inline-block mr-0 mr-sm-1 "
            ></i
            ><span class="d-none d-sm-inline-block">Tùy chọn</span>
          </button>
          </div>
          <div class="col-md-2 mt-2">
            <button
            type="button"
            rippleEffect
            class="btn btn-primary"
            (click)="onSubmit()"
            [disabled]="!formListPersonal.valid"
          >
            Tìm kiếm
          </button>
          </div>
        </div>
        
        <div class="row" [ngbCollapse]="moreOption">
          <div class="col-md-2">
            <label for="">Số dòng:</label>
            <fieldset class="form-group">
              <ng-select
                [items]="sizePage"
                bindValue="sizePage"
                [clearable]="false"
                formControlName="sizePage"
                (change)="changePage()"
              ></ng-select>
            </fieldset>
          </div>
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-3">
                <label class="lable">Từ ngày:</label>
                <div class="input-group input-group-merge">
                  <div class="input-group-prepend">
                    <span class="input-group-text" (click)="fromDate.open()"
                      ><i data-feather="calendar"></i
                    ></span>
                  </div>
                  <input
                    [matDatepicker]="fromDate"
                    formControlName="fromDate"
                    class="form-control"
                    type="text"
                    [min]="minDate"
                    [max]="formListPersonal.controls.toDate.value"
                    placeholder="13/09/2021"
                  />
                </div>
                <mat-datepicker #fromDate></mat-datepicker>
              </div>
              <div class="col-md-3">
                <label class="lable">Đến ngày:</label>
                <div class="input-group input-group-merge">
                  <div class="input-group-prepend">
                    <span class="input-group-text" (click)="toDate.open()"
                      ><i data-feather="calendar"></i
                    ></span>
                  </div>
                  <input
                    [matDatepicker]="toDate"
                    formControlName="toDate"
                    class="form-control"
                    type="text"
                    [min]="formListPersonal.controls.fromDate.value"
                    placeholder="13/09/2021"
                  />
                </div>

                <mat-datepicker #toDate></mat-datepicker>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
<!-- end search filter -->

<section id="table-personal-list">
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Danh sách thuê bao cá nhân</h4>
    </div>
    <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
    <ngx-datatable
      #tableRowDetails
      class="bootstrap core-bootstrap cursor"
      [rows]="rowsData"
      [selected]="selected"
      (select)="onSelect($event, modalKeypairList)"
      [selectionType]="SelectionType.single"
      [columnMode]="ColumnMode.force"
      [headerHeight]="50"
      rowHeight="auto"
      [scrollbarH]="true"
      [footerHeight]="50"
      [rowHeight]="50"
      [externalPaging]="true"
      [limit]="pagedData.size"
      [count]="pagedData.totalItems"
      [offset]="pagedData.currentPage"
      [loadingIndicator]="isLoading"
      (page)="setPage($event)"
    >
      <ngx-datatable-column name="STT" [width]="40">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex">
          {{ rowIndex + 1 }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Name" prop="personalFirstName" [width]="210">
        <ng-template let-row="row" let-name="value" ngx-datatable-cell-template>
          <div class="d-flex align-items-center">
            <div
              *ngIf="
                rowsData.avatar != null && rowsData.avatar.length > 0;
                else customAvatar
              "
            >
              <img
                class="rounded-circle mr-1"
                src="assets/images/portrait/small/{{ row.avatar }}"
                height="32"
                width="32"
                alt="datatable-avatar"
              />
            </div>
            <ng-template #customAvatar>
              <!-- Không có giao diện thì check theo status để tô màu -->
              <div
                class="avatar mr-1 ml-0"
                [ngClass]="{
                  'bg-light-primary': row.isActive == false,
                  'bg-light-success': row.isActive == true,
                  'bg-light-danger': row.status == '3',
                  'bg-light-warning': row.status == '4',
                  'bg-light-info': row.status == '5'
                }"
              >
                <div class="avatar-content">{{ name | initials }}</div>
              </div>
            </ng-template>
            <div class="cell-line-height">
              <p class="font-medium-1 font-weight-bold line-height-1 mb-25">
                {{ name }}
              </p>
            </div>
          </div>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column
        name="CCCD/PASSPORT"
        prop="personalCountryId"
        [width]="120"
      ></ngx-datatable-column>
      <ngx-datatable-column name="Ngày sinh" prop="birthday" [width]="100">
        <ng-template ngx-datatable-cell-template let-value="value">
          {{ value | date: "dd/MM/YYYY" }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column
        name="Giới tính"
        prop="gender"
        [width]="100"
      ></ngx-datatable-column>
      <ngx-datatable-column
        name="Email"
        prop="email"
        [width]="200"
      ></ngx-datatable-column>
      <ngx-datatable-column name="Tổ chức" prop="organization" [width]="90">
        <ng-template
          ngx-datatable-cell-template
          let-value="value"
          let-row="row"
        >
          <div *ngIf="value != ''; else noneOrganization">
            {{ value.organizationName | lowercase }}
          </div>
        </ng-template>
        <ng-template ngx-datatable-cell-template #noneOrganization>
          <div>Cá nhân</div>
        </ng-template>
      </ngx-datatable-column>
      <!-- <ngx-datatable-column name="Hành động" [width]="100" [sortable]="false">
        <ng-template ngx-datatable-cell-template>
          <div class="d-flex align-items-center">
            <div ngbDropdown container="body">
              <a
                ngbDropdownToggle
                href="javascript:void(0);"
                class="hide-arrow"
                id="dropdownBrowserState"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <i
                  data-feather="more-vertical"
                  class="text-primary cursor-pointer mr-50"
                ></i>
              </a>
              <div
                ngbDropdownMenu
                class="dropdown-menu-right"
                aria-labelledby="dropdownBrowserState"
              >
                <a
                  href="
                "
                  ngbDropdownItem
                  class="d-flex align-items-center"
                  ><i data-feather="file-text" class="mr-50"></i> Chi tiết</a
                >
                <a
                  href="javascript:void(0)"
                  ngbDropdownItem
                  class="d-flex align-items-center"
                  ><i data-feather="edit" class="mr-50"></i> Chỉnh sửa</a
                >
                <a
                  href="javascript:void(0)"
                  ngbDropdownItem
                  class="d-flex align-items-center"
                  ><i data-feather="trash-2" class="mr-50"></i> Xóa</a
                >
              </div>
            </div>

            <i data-feather="edit" class="text-primary cursor-pointer"></i>
          </div>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-footer>
        <ng-template
          ngx-datatable-footer-template
          let-rowCount="rowCount"
          let-pageSize="pageSize"
          let-selectedCount="selectedCount"
          let-curPage="curPage"
          let-offset="offset"
          let-isVisible="isVisible"
        >
          <div class="page-count" *ngIf="!isLoading">
            <span *ngIf="chkBoxSelected">
              Đã chọn {{ chkBoxSelected.length }} /
            </span>
            {{ rowCount.toLocaleString() }} {{ totalMessage }} hàng.
          </div>
          <datatable-pager
            [pagerLeftArrowIcon]="'datatable-icon-left'"
            [pagerRightArrowIcon]="'datatable-icon-right'"
            [pagerPreviousIcon]="'datatable-icon-prev'"
            [pagerNextIcon]="'datatable-icon-skip'"
            [page]="curPage"
            [size]="pageSize"
            [count]="rowCount"
            [hidden]="!(rowCount / pageSize > 1)"
            (change)="table.onFooterPage($event)"
          >
          </datatable-pager>
        </ng-template>
      </ngx-datatable-footer> -->
    </ngx-datatable>
  </div>
</section>
<!-- Modal KeypairList -->
<ng-template #modalKeypairList let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="myModalLabel160">
      Danh sách khóa có CN={{ selected[0].personalFirstName }}, UID={{
        selected[0].personalCountryId
      }}, emailAddress={{ selected[0].email }}
    </h5>
    <button
      type="button"
      class="close"
      (click)="modal.dismiss('Cross click')"
      aria-label="Close"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" tabindex="0" ngbAutofocus>
    <mat-progress-bar
      *ngIf="isKeypairListLoading"
      mode="indeterminate"
    ></mat-progress-bar>
    <div class="row mb-1">
      <div class="col-form-label ml-1">
        <label>Tìm kiếm:</label>
      </div>

      <div class="col-sm-2">
        <input
          type="search"
          placeholder="Theo alias"
          class="form-control ml-25"
          (keyup)="filterUpdate($event)"
        />
      </div>
    </div>
    <ngx-datatable
      #tableKeypairRowDetails
      class="bootstrap core-bootstrap"
      [rows]="rowsKeypairData"
      [columnMode]="ColumnMode.force"
      [headerHeight]="50"
      rowHeight="auto"
      [scrollbarH]="true"
      [footerHeight]="50"
      [rowHeight]="50"
      [externalPaging]="true"
      [limit]="pagedKeypairData.size"
      [count]="pagedKeypairData.totalItems"
      [offset]="pagedKeypairData.currentPage"
      [loadingIndicator]="isKeypairListLoading"
      (page)="setKeypairListPage(selected[0].subscriberId, $event)"
    >
      <ngx-datatable-column name="STT" [width]="10">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex">
          {{ rowIndex + 1 }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column
        name="Định danh"
        prop="keypairId"
        [width]="120"
      ></ngx-datatable-column>
      <ngx-datatable-column
        name="Alias"
        prop="keypairAccessRights"
        [width]="200"
      >
        <ng-template ngx-datatable-cell-template let-value="value">
          <div *ngIf="value.length > 0">{{ value[0].keyAlias }}</div>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column
        name="Trạng thái"
        prop="keypairStatus"
        [width]="100"
      >
        <ng-template ngx-datatable-cell-template let-value="value">
          {{ value.keypairStatus }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column
        name="Hệ mật"
        prop="cryptoSystem"
        [width]="80"
      ></ngx-datatable-column>
      <ngx-datatable-column name="Ngày tạo" prop="updatedAt" [width]="100">
        <ng-template ngx-datatable-cell-template let-value="value">
          {{ value | date: "dd/MM/YYYY" }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Nhập/Xuất" [width]="80" [sortable]="false">
        <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
          <div class="d-flex align-items-center">
            <div ngbDropdown container="body">
              <a
                ngbDropdownToggle
                href="javascript:void(0);"
                class="hide-arrow"
                id="dropdownBrowserState"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <i
                  data-feather="more-vertical"
                  class="text-primary cursor-pointer mr-50"
                ></i>
              </a>
              <div
                ngbDropdownMenu
                class="dropdown-menu-right"
                aria-labelledby="dropdownBrowserState"
              >
                <div *ngIf="row.certificateRequests.length > 0">
                  <a
                  ngbDropdownItem
                  class="d-flex align-items-center"
                  (click)="openUploadCert(modalUploadCert, row)"
                  ><i data-feather="file-text" class="mr-50"></i> Nhập</a
                >
                </div>
                <div *ngIf="row.keypairStatus.keypairStatus == 'Đã được lưu trữ chứng thực'">
                  <a
                  href="javascript:void(0)"
                  ngbDropdownItem
                  class="d-flex align-items-center"
                  ><i data-feather="edit" class="mr-50"></i> Xuất</a
                >
                </div>
              </div>
            </div>

            <i data-feather="edit" class="text-primary cursor-pointer"></i>
          </div>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-primary"
      (click)="modal.close('Accept click')"
    >
      Accept
    </button>
  </div>
</ng-template>
<!-- / Modal -->

<!-- Modal Upload file -->
<ng-template #modalUploadCert let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="myModalLabel160">Nhập chứng thư số</h5>
    <button
      type="button"
      class="close"
      (click)="modal.dismiss('Cross click');"
      aria-label="Close"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" tabindex="0" ngbAutofocus>
    <div class="row">
      <div class="col-md-12">
        <form [formGroup]="formUploadCert">
          <div class="form-group custom-file">
            <input
              #certificate
              formControlName="certificate"
              type="file"
              class="form-control custom-file-input"
              name="file"
              id="file"
              (change)="onFileChange($event)"
            />
            <label for="certificate" class="custom-file-label">Chọn chứng thư số</label>
            <span *ngIf="formUploadCert.controls.certificate.valid && formUploadCert.controls.fileSource.value !=null "><i data-feather="check"></i>{{formUploadCert.controls.fileSource.value.name}}-Đã được chọn</span>
            <div
              *ngIf="
                formUploadCert.controls.certificate.touched &&
                formUploadCert.controls.certificate.invalid
              "
              class="alert alert-danger"
            >
              <div *ngIf="formUploadCert.controls.certificate.errors.required">
                Cần chọn chứng thư số.
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-primary"
      (click)="onSubmitCert()"
    >
      Cập nhật
    </button>
  </div>
</ng-template>
