<!-- fliter -->
<section id="search-personal-list">
  <div class="card">
    <!-- search -->
    <h5 class="card-header">Bộ lọc tìm kiếm</h5>
    <div class="card-body">
      <!-- [formGroup]="formListPersonal" -->
      <form class="form form-vertical" [formGroup]="formListOrganizations">
        <div class="row">
          <div class="col-md-3">
            <!-- formControlName="inputPersonal" -->
            <label class="lable">Họ tên, thư điện tử, địa chỉ, website</label>
            <input
              formControlName="inputOrganization"
              name="findName"
              id="findName"
              type="search"
              class="form-control"
              placeholder="Nhập họ tên, thư điện tử, địa chỉ, website"
            />
          </div>
          <div class="col-md-3">
            <label class="lable">Loại tổ chức</label>
            <fieldset class="form-group">
              <ng-select
                [items]="typeOrganization"
                bindLabel="subscriberCategoryName"
                bindValue="subscriberCategoryId"
                formControlName="typeOrganization"
                [clearable]="false"
                placeholder="Loại tổ chức"
              >
              </ng-select>
            </fieldset>
          </div>
          <div class="col-md-2">
            <label class="lable">Người đại diện</label>
            <input
              name="findRepresentative"
              id="findRepresentative"
              type="search"
              class="form-control"
              placeholder="Người đại diện"
            />
          </div>
          <div class="col-3 col-md-2 mt-2">
            <button
              class="btn btn-secondary btn-lighten-2 btn-outline-secondary col-12"
              rippleEffect
              (click)="moreOption = !moreOption"
            >
              <!-- <span [data-feather]="'clock'" [class]="'mr-50'"></span> -->
              <i data-feather="plus" class="d-sm-none d-inline-block"></i
              ><span class="d-none d-sm-inline-block">Tùy chọn</span>
            </button>
          </div>
          <div class="col-6 col-md-2 mt-2">
            <button
              type="button"
              rippleEffect
              class="btn btn-primary"
              (click)="onSubmit()"
              [disabled]="!formListOrganizations.valid"
            >
              Tìm kiếm
            </button>
          </div>
        </div>

        <div class="row" [ngbCollapse]="moreOption">
          <div class="col-md-2">
            <label for="">SỐ DÒNG:</label>
            <fieldset class="form-group">
              <ng-select
                [items]="sizePage"
                bindValue="sizePage"
                [clearable]="false"
                formControlName="sizePage"
                (change)="selectItem($event)"
              ></ng-select>
            </fieldset>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
<!-- end filter -->

<!-- table -->
<section id="table-personal-list">
  <!-- search -->
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Danh sách thuê bao tổ chức</h4>
    </div>
    <div class="row">
      <div class="col-md-12 mb-50">
        <button
          class="btn btn-primary ml-1"
          rippleEffect
          (click)="openNewOrganizationModal(newOrganization)"
        >
          <i
            data-feather="plus"
            class="d-sm-none d-inline-block mr-0 mr-sm-1"
          ></i
          ><span class="d-none d-sm-inline-block">Tạo</span>
        </button>
        <!-- <input
          #fileInput
          type="file"
          style="display: none"
          (change)="onInputExcel($event)"
          multiple="false"
        />
        <button
          class="btn btn-primary ml-50"
          rippleEffect
          (click)="fileInput.click()"
        >
          <i
            data-feather="file-plus"
            class="d-sm-none d-inline-block mr-0 mr-sm-1"
          ></i>
          <span class="d-none d-sm-inline-block">Tạo danh sách thuê bao</span>
        </button> -->
        <button
          csvLink
          class="btn btn-outline-secondary ml-50"
          rippleEffect
          [disabled]="selected.length === 0"
        >
          <i data-feather="trash-2" class="d-sm-none d-inline-block"></i>
          <span class="d-none d-sm-inline-block">Xóa</span>
        </button>
        <ng-template #newOrganization let-modal>
          <div class="modal-header">
            <h2 class="modal-title" id="myModalLabel160">
              Tạo thuê bao tổ chức
            </h2>

            <button
              type="button"
              class="close btn-primary ml-1"
              (click)="modal.close()"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" tabindex="0" ngbAutofocus>
            <app-new-organization-sidebar
              (onClose)="closeModal()"
              (onUpdate)="onUpdateTable()"
            ></app-new-organization-sidebar>
          </div>
        </ng-template>

        <button
          csvLink
          class="btn btn-outline-secondary float-right mr-1"
          rippleEffect
          (click)="exportCSV()"
        >
          <i data-feather="clipboard" class="d-sm-none d-inline-block"></i>
          <span class="d-none d-sm-inline-block">Xuất danh sách</span>
        </button>
      </div>
    </div>
    <!-- end search -->
    <!-- table -->
    <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
    <app-organization-list-add
      *ngIf="openTableUpdate"
      [childData]="parentData"
      (toggleTable)="toggleTable()"
    ></app-organization-list-add>
    <ngx-datatable
      [rows]="rowsData"
      *ngIf="openTable"
      class="bootstrap core-bootstrap cursor"
      [selected]="chkBoxSelected"
      (select)="onSelect($event)"
      (activate)="onActivate($event)"
      (select)="customCheckboxOnSelect($event)"
      [selectionType]="SelectionType.checkbox"
      [columnMode]="ColumnMode.force"
      [headerHeight]="50"
      rowHeight="auto"
      [scrollbarH]="true"
      [footerHeight]="50"
      [rowHeight]="50"
      [externalPaging]="true"
      [limit]="pagedData.size"
      [count]="pagedData.totalItems"
      [offset]="pagedData.currentPage"
      [loadingIndicator]="isLoading"
      (page)="setPage($event)"
    >
      <ngx-datatable-column
        [width]="50"
        [sortable]="false"
        [canAutoResize]="false"
        [draggable]="false"
        [resizeable]="false"
        class="ml-1"
        name="checkbox"
      >
        <ng-template
          ngx-datatable-header-template
          let-value="value"
          let-allRowsSelected="allRowsSelected"
          let-selectFn="selectFn"
        >
          <div class="custom-control custom-control-primary custom-checkbox">
            <input
              type="checkbox"
              class="custom-control-input"
              [checked]="allRowsSelected"
              (change)="selectFn(!allRowsSelected)"
              id="headerCustomChkbxRef"
            />
            <label
              class="custom-control-label"
              for="headerCustomChkbxRef"
            ></label>
          </div>
        </ng-template>

        <ng-template
          ngx-datatable-cell-template
          let-rowIndex="rowIndex"
          let-value="value"
          let-isSelected="isSelected"
          let-onCheckboxChangeFn="onCheckboxChangeFn"
        >
          <div class="custom-control custom-control-primary custom-checkbox">
            <input
              type="checkbox"
              class="custom-control-input"
              [checked]="isSelected"
              (change)="onCheckboxChangeFn($event)"
              id="rowCustomChkbxRef{{ rowIndex }}"
            />
            <label
              class="custom-control-label"
              for="rowCustomChkbxRef{{ rowIndex }}"
            ></label>
          </div>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column
        name="TT"
        [width]="50"
        [canAutoResize]="false"
        [sortable]="false"
      >
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex">
          {{ pagedData.currentPage * pagedData.size + rowIndex + 1 }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column
        name="Tên tài khoản"
        prop="username"
        [width]="130"
      ></ngx-datatable-column>

      <ngx-datatable-column
        name="Thư điện tử"
        prop="email"
        [width]="220"
      ></ngx-datatable-column>

      <ngx-datatable-column
        name="Tên tổ chức"
        prop="organizationName"
        [width]="150"
      ></ngx-datatable-column>

      <ngx-datatable-column
        name="Loại tổ chức"
        prop="subscriberCategoryName"
        [width]="200"
      >
      </ngx-datatable-column>

      <ngx-datatable-column
        name="Người đại diện"
        prop="leaderName"
        [width]="150"
      ></ngx-datatable-column>
      <ngx-datatable-column
        name="Chức danh"
        [width]="150"
      ></ngx-datatable-column>
      <ngx-datatable-column name="Địa chỉ" [width]="150"></ngx-datatable-column>

      <ngx-datatable-column
        name="Hành động"
        [width]="100"
        [sortable]="false"
        prop=""
      >
        <ng-template
          ngx-datatable-cell-template
          let-value="value"
          let-selected="false"
        >
          <div class="d-flex align-items-center">
            <div ngbDropdown container="body">
              <a
                ngbDropdownToggle
                href="javascript:void(0);"
                class="hide-arrow"
                id="dropdownBrowserState"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <i
                  data-feather="more-vertical"
                  class="text-primary cursor-pointer mr-50"
                ></i>
              </a>
              <div
                ngbDropdownMenu
                class="dropdown-menu-right"
                aria-labelledby="dropdownBrowserState"
              >
                <a
                  [routerLink]="[
                    '/apps/ip/subscribers/organizations/',
                    'organization-edit',
                    value.organizationId
                  ]"
                  ngbDropdownItem
                  class="d-flex align-items-center"
                  ><i data-feather="edit" class="mr-50"></i> Xem/Cập nhật</a
                >
                <a
                  href="javascript:void(0)"
                  ngbDropdownItem
                  class="d-flex align-items-center"
                  ><i data-feather="trash-2" class="mr-50"></i> Xóa</a
                >
              </div>
            </div>

            <i data-feather="edit" class="text-primary cursor-pointer"></i>
          </div>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-footer>
        <ng-template
          ngx-datatable-footer-template
          let-rowCount="rowCount"
          let-pageSize="pageSize"
          let-selectedCount="selectedCount"
          let-curPage="curPage"
          let-offset="offset"
          let-isVisible="isVisible"
        >
          <div class="page-count" *ngIf="!isLoading">
            <span *ngIf="chkBoxSelected">
              Đã chọn {{ chkBoxSelected.length }} /
            </span>
            {{ rowCount.toLocaleString() }} {{ totalMessage }} hàng.
          </div>
          <datatable-pager
            [pagerLeftArrowIcon]="'datatable-icon-left'"
            [pagerRightArrowIcon]="'datatable-icon-right'"
            [pagerPreviousIcon]="'datatable-icon-prev'"
            [pagerNextIcon]="'datatable-icon-skip'"
            [page]="curPage"
            [size]="pageSize"
            [count]="rowCount"
            [hidden]="!(rowCount / pageSize > 1)"
            (change)="table.onFooterPage($event)"
            class="col-md-2"
          >
          </datatable-pager>
        </ng-template>
      </ngx-datatable-footer>
      <!-- <ng-template>
        <div class="">
          <button
            class="btn btn-primary ml-2"
            rippleEffect
            (click)="openNewOrganizationModal(newOrganization)"
          >
            <i
              data-feather="plus"
              class="d-sm-none d-inline-block mr-0 mr-sm-1"
            ></i
            ><span class="d-none d-sm-inline-block">Thêm Mới</span>
          </button>
          <input
            #fileInput
            type="file"
            style="display: none"
            (change)="onInputExcel($event)"
            multiple="false"
          />
          <button
            class="btn btn-primary ml-2"
            rippleEffect
            (click)="fileInput.click()"
          >
            <span class="d-none d-sm-inline-block">Thêm Mới Danh Sách</span>
          </button>
          <a
            csvLink
            class="btn btn-outline-secondary float-right mr-1"
            rippleEffect
            >Xuất dữ liệu CSV</a
          >
        </div>
      </ng-template> -->
    </ngx-datatable>
    <div class="row">
      <div class="col-md-12 mb-50">
        <button
          class="btn btn-primary ml-1"
          rippleEffect
          (click)="openNewOrganizationModal(newOrganization)"
        >
          <i
            data-feather="plus"
            class="d-sm-none d-inline-block mr-0 mr-sm-1"
          ></i
          ><span class="d-none d-sm-inline-block">Tạo</span>
        </button>
        <!-- <input
          #fileInput
          type="file"
          style="display: none"
          (change)="onInputExcel($event)"
          multiple="false"
        />
        <button
          class="btn btn-primary ml-50"
          rippleEffect
          (click)="fileInput.click()"
        >
          <i
            data-feather="file-plus"
            class="d-sm-none d-inline-block mr-0 mr-sm-1"
          ></i>
          <span class="d-none d-sm-inline-block">Tạo danh sách thuê bao</span>
        </button> -->
        <button
          csvLink
          class="btn btn-outline-secondary ml-50"
          rippleEffect
          [disabled]="selected.length === 0"
        >
          <i data-feather="trash-2" class="d-sm-none d-inline-block"></i>
          <span class="d-none d-sm-inline-block">Xóa</span>
        </button>
        <button
          csvLink
          class="btn btn-outline-secondary float-right mr-1"
          rippleEffect
          (click)="exportCSV()"
        >
          <i data-feather="clipboard" class="d-sm-none d-inline-block"></i>
          <span class="d-none d-sm-inline-block">Xuất danh sách </span>
        </button>
      </div>
    </div>

    <!-- end table -->
  </div>
</section>
<!-- table -->
