<app-content-header [contentHeader]="contentHeader"></app-content-header>
<div class="content-body">
  <section>
    <div class="card">
      <div class="card-body">
        <h3>Chi tiết Token</h3>
        <form [formGroup]="tokenForm" >
          <div class="row">
            <div class="col-md-6 offset-3">
              <div class="form-group">
                <label>Tên token</label>
                <input
                  type="text"
                  formControlName="tokenName"
                  class="form-control"
                  readonly
                  
                />
                
              </div>
            </div>
            <div class="col-md-6 offset-3">
              <div class="form-group">
                <label>HSM</label>
                <ng-select
                  placeholder="{{HSMname}}"
                  [clearable]="false"
                  
                  readonly
                  
                >
                </ng-select>
                
              </div>
            </div>
            <div class="col-6 offset-3">
              <div class="form-group">
                <label for="">Số hiệu slot</label>
                <ng-select
                  [items]="slotOption"
                  [clearable]="false"
                  formControlName="slotNumber"
                  readonly
                ></ng-select>
                
              </div>
            </div>
            <div class="col-md-6 offset-3">
              <div class="form-group">
                <label>Mật khẩu</label>
                <input
                  type="password"
                  formControlName="tokenPassword"
                  class="form-control"
                  
                />

              </div>
            </div>
            
          </div>
          
        </form>
      </div>
    </div>
  </section>
</div>
