<div class="content-wrapper container-xxl p-0">
  <app-content-header [contentHeader]="contentHeader"></app-content-header>
  <div class="content-body">
    <section>
      <div class="card">
        <div class="card-body">
          <h3>Chi tiết Token</h3>
          <form [formGroup]="tokenForm">
            <div class="">
              <div class="d-flex">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Tên token</label>
                    <input
                      type="text"
                      formControlName="tokenName"
                      class="form-control"
                      readonly
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Mã Token</label>
                    <ng-select placeholder="KPI" [clearable]="false" readonly>
                    </ng-select>
                  </div>
                </div>
              </div>

              <div class="d-flex">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Số lượng cặp khóa</label>
                    <ng-select placeholder="2" [clearable]="false" readonly>
                    </ng-select>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <label for="">Số hiệu slot</label>
                    <ng-select
                      [items]="slotOption"
                      [clearable]="false"
                      formControlName="slotNumber"
                      readonly
                    ></ng-select>
                  </div>
                </div>
              </div>

              <div class="d-flex">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>HSM</label>
                    <ng-select
                      placeholder="{{ HSMname }}"
                      [clearable]="false"
                      readonly
                    >
                    </ng-select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Mật khẩu</label>
                    <input
                      type="password"
                      formControlName="tokenPassword"
                      class="form-control"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="d-flex justify-content-md-end m-1">
                  <button
                    (click)="exit()"
                    rippleEffect
                    class="btn btn-outline-primary"
                  >
                    Quay lại
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
  </div>
</div>
